extends ./g_layout.jade
block vars
  - var page = 'students'
  - var hours_count = function(previousValue, currentValue, currentIndex, array) {if(currentValue) {return previousValue + currentValue;} else {return currentValue;} };
  - var getHoursDone = function(vol){return vol.events.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.long_terms.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.extras.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.manuals.filter(function(man){if(man.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + ' h'}
  - var getSubscriptions = function(vol){return (vol.events.filter(function(ev){if(ev.hours_done || ev.hours_pending){return false;}else{return true;}}).length + vol.long_terms.filter(function(lt){if(lt.hours_done || lt.hours_pending){return false;}else{return true;}}).length)}
  - var getWaiting = function(vol){return (vol.events.filter(function(ev){if(ev.hours_pending > 0){return true;}else{return false;}}).length + vol.long_terms.filter(function(lt){if(lt.hours_pending > 0){return true;}else{return false;}}).length + vol.extras.filter(function(ex){if(ex.hours_pending > 0){return true;}else{return false;}}).length) + ' (' + (vol.events.filter(function(ev){if(ev.hours_pending > 0){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0) + vol.long_terms.filter(function(lt){if(lt.hours_pending > 0){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0) + vol.extras.filter(function(ex){if(ex.hours_pending > 0){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0)) + 'h)'}
  - var getConfirmed = function(vol){return (vol.events.filter(function(ev){if(ev.hours_done > 0){return true;}else{return false;}}).length + vol.long_terms.filter(function(lt){if(lt.hours_done > 0){return true;}else{return false;}}).length + vol.extras.filter(function(ex){if(ex.hours_done > 0){return true;}else{return false;}}).length  + vol.manuals.filter(function(man){if(man.hours_done > 0){return true;}else{return false;}}).length) + ' (' + (vol.events.filter(function(ev){if(ev.hours_done > 0){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.long_terms.filter(function(lt){if(lt.hours_done > 0){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.extras.filter(function(lt){if(lt.hours_done > 0){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.manuals.filter(function(lt){if(lt.hours_done > 0){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)) + 'h)'}


block head
  title Mes élèves
  meta(name='description', content='Gérez le bénévolat de vos élèves')
block content
      .container-fluid
        .row.fill
          .col-md-10.col-md-offset-1
            .row
              .col-md-7
                h1.page-header.firstColor Mes élèves
                p.alert.alert-success#success-general.hidden
                p.alert.alert-warning#warning-general.hidden
              .col-md-5
                .panel.panel-default
                  .panel-header
                    p.page-header.text-center <b> Légende </b>
                  .panel-body
                    p(style='background-color: #FAF297; width: 100%;') L'élève a complété un dossier, qui doit être lu puis soit validé, soit signalé pour correction
                    p(style='background-color: #A8F099; width: 100%;') Tous les dossiers de l'élève ont été lus et validés
                    p(style='background-color: #E3998F; width: 100%;') Un des dossiers est en attente de correction par l'élève
            div.table-responsive#table__container(style='padding-bottom: 150px; padding-right: 20px;')
              table.table.table-bordered.table-hover.table-condensed
                tr
                  th.text-center(rowspan='2') Nom
                  th.text-center(rowspan='2') Prénom
                  th.text-center(colspan='3') Heures effectuées
                  th.text-center(rowspan='2') Dossier
                  if classes_array.length > 1
                    th.text-center(rowspan='2') Changement de classe
                  th.text-center(rowspan='2') Ajout d'heures
                  if admin.type == 'school-coordinator'
                    th.text-center(rowspan='2') Suppression de l'élève
                tr
                  th.text-center(style='font-weight: 700; font-size: 13px' data-toggle="tooltip" data-placement="left" title='Bénévolats auxquels l\'élève est inscrit mais n\'a pas encore fait d\'heure') Inscriptions
                  th.text-center(data-toggle="tooltip" data-placement="left" title='Bénévolats en attente de validation par l\'organisme (nombre d\'heures correspondantes)')
                    span.badge(style='background-color: #FF800E') En attente
                  th.text-center(data-toggle='tooltip' data-placement='left' title='Bénévolats validés par l\'organisme (nombre d\'heures correspondantes)')
                    span.badge(style='background-color: #197500') Confirmées
                  each classe, classe_i in classes_array
                    tr.active
                      td(style="width:15%")
                        h4.text-center <b> #{classe.toString()} </b>
                      td(style="width:15%")
                      td(style="width:15%")
                      td(style="width:15%")
                      td(style="width:15%")
                      td(style="width:15%")
                      td(style="width:10%")
                      if classes_array.length > 1
                        td
                      td.text-center
                    each vol, vol_i in volunteers
                      if ((typeof vol.admin.class != undefined) && (classe != 'Autres'))
                        if vol.admin.class == classe
                          tr.student-row(class=vol.status)
                            td.text-center
                              a.text-center(href="/admin/report"+vol._id) <b> #{vol.lastname} </b>
                            td.text-center= vol.firstname
                            td.text-center(style='font-weight: 700; font-size: 13px' data-toggle="tooltip" data-placement="left" title='Bénévolats auxquels l\'élève est inscrit mais n\'a pas encore fait d\'heure')= getSubscriptions(vol)
                            if (getWaiting(vol) != '0 (0h)')
                              td.text-center(data-toggle="tooltip" data-placement="left" title='Bénévolats en attente de validation par l\'organisme (nombre d\'heures correspondantes)') 
                                span.badge(style='background-color: #FF800E')= getWaiting(vol)
                            else 
                              td.text-center(style='font-weight: 700; font-size: 13px' data-toggle='tooltip' data-placement='left' title='Bénévolats en attente de validation par l\'organisme (nombre d\'heures correspondantes)')= getWaiting(vol)
                            td.text-center(data-toggle='tooltip' data-placement='left' title='Bénévolats validés par l\'organisme (nombre d\'heures correspondantes)')
                              span.badge(style='background-color: #197500')= getConfirmed(vol)
                            td.text-center
                              a.text-center(href="/admin/report"+vol._id) Accéder
                            if classes_array.length > 1
                              td.text-center
                                div.btn-group
                                  div.btn.btn-default.dropdown-toggle.center-block.btn-xs(data-toggle='dropdown')
                                    i.fa.fa-exchange
                                  ul.dropdown-menu
                                    each classe, classe_i in classes_array
                                      li
                                        a.change_class(style="cursor: pointer;", new_class=classe.toString(), vol=vol._id)= classe.toString()
                            td.text-center
                              div.btn-group
                                div.btn.btn-warning.center-block.btn-xs(data-toggle='modal' data-target='#manualHoursModal' + vol_i)
                                  i.fa.fa-plus
                                .modal.fade(tabindex='-1', role='dialog' aria-labelledby="manualHoursModalLabel", id='manualHoursModal' + vol_i)
                                  div.modal-dialog(role='document')
                                    form.manualHoursForm(id='manualHoursForm' + vol_i, volunteer=vol._id, role='form', index=vol_i).modal-content
                                      .modal-header
                                        button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                          span(aria-hidden='true')
                                          h4.modal-title Ajout d'heures manuel
                                      div.modal-body
                                        p.alert.alert-success.hidden(id='manual-success'+vol_i)
                                        p.alert.alert-danger.hidden(id='manual-danger'+vol_i)
                                        label(for='hours_done') Nombre d'heures
                                        input.form-control(type='number', min='0.5', max='50', step='0.5' name='hours_done', required)
                                        label(for='hours_description') Description
                                        textarea.form-control(name="hours_description" id="hours_description" rows="6" required)
                                      div.modal-footer
                                        input.btn.btn-warning(type='submit', form='manualHoursForm' + vol_i, value='Ajouter les heures')
                                        a.btn.btn-default(data-dismiss='modal') Fermer
                            td.text-center
                              .btn-group
                                div.btn.btn-danger.center-block.btn-xs(data-toggle='modal' data-target='#banFromSchoolModal' + vol_i)
                                  i.fa.fa-times
                            .modal.fade.ban_modal(tabindex='-1', role='dialog' aria-labelledby="banFromSchoolModalLabel", id='banFromSchoolModal' + vol_i)
                              div.modal-dialog(role='document')
                                .modal-content
                                  .modal-header
                                    button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                      span(aria-hidden='true')
                                      h4.modal-title Supprimer l'élève
                                  div.modal-body
                                    p Attention, le fait de supprimer un élève de l'école est une action définitive
                                  div.modal-footer
                                    input.btn.btn-danger.change_class(value='Supprimer de l\'école', new_class='banned', vol=vol._id)
                                    a.btn.btn-default(data-dismiss='modal') Fermer
                      else if (((!vol.admin.class) || (vol.admin.class == 'Autres')) && (classe == 'Autres'))
                        tr.student-row(class=vol.status)
                          td.text-center
                            a.text-center(href="/admin/report"+vol._id) <b> #{vol.lastname} </b>
                          td.text-center= vol.firstname
                          td.text-center(style='font-weight: 700; font-size: 13px' data-toggle="tooltip" data-placement="left" title='Bénévolats auxquels l\'élève est inscrit mais n\'a pas encore fait d\'heure')= getSubscriptions(vol)
                          if (getWaiting(vol) != '0 (0h)')
                            td.text-center(data-toggle='tooltip' data-placement='left' title='Bénévolats en attente de validation par l\'organisme (nombre d\'heures correspondantes)')
                              span.badge(style='background-color: #FF800E')= getWaiting(vol)
                          else 
                            td.text-center(style='font-weight: 700; font-size: 13px' data-toggle='tooltip' data-placement='left' title='Bénévolats en attente de validation par l\'organisme (nombre d\'heures correspondantes)')= getWaiting(vol)
                          td.text-center(data-toggle='tooltip' data-placement='left' title='Bénévolats validés par l\'organisme (nombre d\'heures correspondantes)')
                              span.badge(style='background-color: #197500')= getConfirmed(vol)
                          td.text-center
                            a.text-center(href="/admin/report"+vol._id) Accéder
                          if classes_array.length > 1
                            td.text-center
                              div.btn-group
                                div.btn.btn-default.dropdown-toggle.center-block.btn-xs(data-toggle='dropdown')
                                  i.fa.fa-exchange
                                ul.dropdown-menu
                                  each classe, classe_i in classes_array
                                    li
                                      a.change_class(style="cursor: pointer;", new_class=classe.toString(), vol=vol._id)= classe.toString()
                          td.text-center
                            div.btn-group
                              div.btn.btn-warning.center-block.btn-xs(data-toggle='modal' data-target='#manualHoursModal' + vol_i)
                                i.fa.fa-plus
                              .modal.fade(tabindex='-1', role='dialog' aria-labelledby="manualHoursModalLabel", id='manualHoursModal' + vol_i)
                                div.modal-dialog(role='document')
                                  form.manualHoursForm(id='manualHoursForm' + vol_i, volunteer=vol._id, role='form', index=vol_i).modal-content
                                    .modal-header
                                      button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden='true')
                                        h4.modal-title Ajout d'heures manuel
                                    div.modal-body
                                      p.alert.alert-success.hidden(id='manual-success'+vol_i)
                                      p.alert.alert-danger.hidden(id='manual-danger'+vol_i)
                                      label(for='hours_done') Nombre d'heures
                                      input.form-control(type='number', min='0.5', max='50', step='0.5' name='hours_done', required)
                                      label(for='hours_description') Description
                                      textarea.form-control(name="hours_description" id="hours_description" rows="6" required)
                                    div.modal-footer
                                      input.btn.btn-warning(type='submit', form='manualHoursForm' + vol_i, value='Ajouter les heures')
                                      a.btn.btn-default(data-dismiss='modal') Fermer
                            td.text-center
                              .btn-group
                                div.btn.btn-danger.center-block.btn-xs(data-toggle='modal' data-target='#banFromSchoolModal' + vol_i)
                                  i.fa.fa-times
                            .modal.fade.ban_modal(tabindex='-1', role='dialog' aria-labelledby="banFromSchoolModalLabel", id='banFromSchoolModal' + vol_i)
                              div.modal-dialog(role='document')
                                .modal-content
                                  .modal-header
                                    button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                      span(aria-hidden='true')
                                      h4.modal-title Supprimer l'élève
                                  div.modal-body
                                    p Attention, le fait de supprimer un élève de l'école est une action définitive
                                  div.modal-footer
                                    input.btn.btn-danger.change_class(value='Supprimer de l\'école', new_class='banned', vol=vol._id)
                                    a.btn.btn-default(data-dismiss='modal') Fermer

block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(type='text/javascript').
    'use strict';
    $(document).ready(function(){
      $('.change_class').click(function(){
        const new_class = $(this).attr('new_class');
        const volunteer = $(this).attr('vol');
        const datas = {
          new_class,
          volunteer
        };
        const modal = $('.in');
        modal.css('color: red');
        $.post('/changeclass', datas)
        .done(function(){
          console.log('This is successful !!');
          if (new_class == 'banned'){
            console.log('In banned');
            modal.modal('hide');
          }
          $('#success-general').text('Opération réussie').removeClass('hidden');
        })
        .fail(function(){
          console.log('This is not successful at all !!');
          $('#warning-general').text('Opération avortée. Prévenez-nous si cette erreur se manifeste de nouveau').removeClass('hidden');
        });
        console.info('Click to change class to ' + JSON.stringify($(this).attr('new_class')));
      });
      $('.manualHoursForm').submit(function(event){
        'use strict';
        event.preventDefault();
        console.log('Submit addManualHours form');
        let datas = {};
        const form_datas = $(this).serializeArray();
        const index = $(this).attr('index');
        datas.hours_done = form_datas[0].value;
        datas.description = form_datas[1].value;
        datas.volunteer_id = $(this).attr('volunteer');
        $.post('/addmanualhours', datas)
        .done(function(data){
          console.log('On est dans le callback done !');
          console.log('JSON.stringify(data) : ' + JSON.stringify(data));
          console.log('Heures ajoutées');
          $('#manual-success'+index).removeClass('hidden');
          $('#manual-success'+index).html('Heures ajoutées avec succès au profil de l\'élève :) Rechargez la page si vous voulez voir le total d\'heures actualisé');
        })
        .fail(function(data){
          console.log('On est dans le callback fail !');
          console.log('Erreur !');
          $('#manual-danger'+index).removeClass('hidden');
          console.log(data.error);
          $('#manual-danger'+index).html(' ' + data.responseJSON.error);
          console.log('JSON.stringify(data) : ' + JSON.stringify(data));
        });
      });

      const getRowClass = function(status){
        console.info('Status : ' + status);
        if((status == 'confirmed')  || (status == 'danger')){ console.info('Return warning');return 'warning'}
        else if (status == 'denied'){ console.info('Return danger');return 'danger'}
        else if (status == 'validated'){ console.info('Return success');return 'success'}
        else { return ''}
      };
      $('.student-row').each(function(){
        let status = $(this).attr('status');
        $(this).addClass(getRowClass(status));
      });
      
      $('.danger>td').css('background-color', '#E3998F');
      $('.success>td').css('background-color', '#A8F099');
      $('.warning>td').css('background-color', '#FAF297');
      $(function () {
        $('[data-toggle="tooltip"]').tooltip({container: 'body'})
      })
    });
