extends ./g_layout.jade
block vars
  - var page = 'students'
  - var hours_count = function(previousValue, currentValue, currentIndex, array) {if(currentValue) {return previousValue + currentValue;} else {return currentValue;} };


block head
  title Mes élèves
  meta(name='description', content='Gérez le bénévolat de vos élèves')
block content
      .container-fluid
        .row.fill
          .col-md-10.col-md-offset-1
            h1.page-header.firstColor Mes étudiants
            div.table-responsive
              table.table.table-striped.table-bordered.table-hover.table-condensed
                th Nom
                th Prénom
                th Heures effectués
                th Dossier
                if classes_array.length > 1
                  each classe, classe_i in classes_array
                    tr.warning
                      td= classe.toString()
                      td
                      td
                      td
                    each vol, vol_i in volunteers
                      if vol.admin.class == classe
                        tr.success
                          td= vol.lastname
                          td= vol.firstname
                          if vol.events.length || vol.long_terms.length || vol.extras.length 
                            td= vol.events.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.long_terms.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.extras.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + ' h'
                          else
                            td 0 h
                          td
                            a.btn-link(href="/admin/report"+vol._id) Accéder
                else
                  each vol, vol_i in volunteers
                    tr.success
                      td= vol.lastname
                      td= vol.firstname
                      if vol.events.length || vol.long_terms.length || vol.extras.length 
                        td= vol.events.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.long_terms.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + vol.extras.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + ' h'
                      else
                        td 0 h
                      td
                        a.btn-link(href="/admin/report"+vol._id) Accéder

block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
