extends ./g_layout.jade
block vars
  - var page = 'listorganisms'
  
block head
  title Bottin des organismes
  meta(name='description', content='Liste des organismes en recherche de bénévoles')
block content
      .container-fluid
        .row.fill
          .col-md-10.col-md-offset-1.no-side-padding
            h1.text-center(style='margin-top: 3%') Liste des organismes
            h4.text-center(style='margin-bottom: 3%') Tous les organismes inscrit et postant des opportunités sur Simplyk
            ul.list-group.margintop
              if error
                p.alert.alert-danger #{error}
              if organisms
                each val, index in organisms
                  if ((index == 0) || (index %3==0))
                    .row
                      each org, org_i in organisms
                        if ((org_i==index)||(org_i==index+1)||(org_i==index+2))
                          .col-md-4
                            .panel.panel-default.panel-organism
                              .panel-heading
                                h3.text-center= org.org_name
                              .panel-body.text-center
                                if (org.cause==='Sport et Culture')
                                  i.fa.fa-institution.fa-lg.fa-fw.cult(style= "color:#{org.color}") 
                                else if (org.cause === 'Nature')
                                  i.fa.fa-envira.fa-lg.fa-fw.leaf(style= "color:#{org.color}") 
                                else if (org.cause === 'Solidarité')
                                  i.fa.fa-heart.fa-lg.fa-fw.soli(style= "color:#{org.color}") 
                                else if (org.cause === 'Enfance')
                                  i.fa.fa-child.fa-lg.fa-fw.child(style= "color:#{org.color}") 
                                else
                                  i.icon.icon-puzzle-piece(style= "color:#{org.color}") 
                                .caption
                                  h4= org.cause
                                  p(style = 'white-space: pre-wrap')= org.description

block footscript
  script.
    jQuery( document ).ready(function( $ ) {
      $('[data-toggle="tooltip"]').tooltip();
    });