extends ./g_layout.jade
block vars
  - var page = 'report'
  - var hours_count = function(previousValue, currentValue, currentIndex, array) {if(currentValue) {return previousValue + currentValue;} else {return currentValue;} };

block head
  title Rapport de l'élèves
  meta(name='description', content='Lisez le rapport de bénévolat de l\'élèves')
block content
  #map-section.container-fluid
    .row
      .col-md-3.col-md-offset-1
        .page-header
          h3
          if error
            p.alert.alert-danger #{error}
        .panel.panel-default
          .panel-heading
            i.fa.fa-user-o.fa-2x.inline
            p.inline <b>#{volunteer.lastname}</b> #{volunteer.firstname}
          .panel-body
            ul.list-group
              li.list-group-item Date de naissance: #{date.printDate(volunteer.birthdate)}
                small
              li.list-group-item Adresse courriel: #{volunteer.email}
                small
        p.alert.alert-success.hidden#manual-success
        div.btn.btn-warning(data-toggle='modal' data-target='#manualHoursModal', style='margin-bottom: 20px;') Ajouter des heures manuellement
        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="manualHoursModalLabel", id='manualHoursModal')
          div.modal-dialog(role='document')
            form(id='manualHoursForm', role='form').modal-content
              .modal-header
                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden='true')
                  h4.modal-title Ajout d'heures manuel
              div.modal-body
                p.alert.alert-danger.hidden#manual-danger
                label(for='hours_done') Nombre d'heures
                input.form-control(type='number', min='0.5', max='50', step='0.5' name='hours_done', required)
                label(for='hours_description') Description
                textarea.form-control(name="hours_description" id="hours_description" rows="6" required)
              div.modal-footer
                input.btn.btn-warning(type='submit', form='manualHoursForm', value='Ajouter les heures')
                a.btn.btn-default(data-dismiss='modal') Fermer

      .col-md-6.col-md-offset-1
        .page-header
          h3
        table.table.table-stripped
          tr
            th
            th.text-center Inscriptions
            th.text-center Heures
          tr
            th(rowspan='2' style="vertical-align:middle").text-center Engagements long terme
            td(rowspan='2' style="vertical-align:middle").text-center <strong> #{volunteer.long_terms.length} </strong>
            td.text-center <strong>#{volunteer.long_terms.filter(function(long){if(long.hours_pending){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0)}</strong> heures à confirmer
          tr
            td.text-center(style="vertical-align:middle")  <strong>#{volunteer.long_terms.filter(function(long){if(long.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)}</strong>  heures confirmées
          tr
            th(rowspan='2' style="vertical-align:middle").text-center Évènements ponctuels
            td(rowspan='2' style="vertical-align:middle").text-center <strong> #{volunteer.events.length} </strong>
            td.text-center <strong>#{volunteer.events.filter(function(ev){if(ev.hours_pending){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0)}</strong> heures à confirmer
          tr
            td.text-center(style="vertical-align:middle")  <strong>#{volunteer.events.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)}</strong>  heures confirmées
          tr
            th(rowspan='2' style="vertical-align:middle").text-center Bénévolats ajoutés par l'élève ou l'administrateur
            td(rowspan='2' style="vertical-align:middle").text-center <strong> #{volunteer.extras.length + volunteer.manuals.length} </strong>
            td.text-center <strong>#{volunteer.extras.filter(function(ev){if(ev.hours_pending){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0)}</strong> heures à confirmer
          tr
            td.text-center(style="vertical-align:middle")  <strong>#{volunteer.extras.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.manuals.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)}</strong>  heures confirmées
          tr.success
            th.text-center Total
            td.text-center <strong> #{volunteer.events.length + volunteer.long_terms.length + volunteer.extras.length} </strong>
            td.text-center <strong> #{volunteer.events.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.long_terms.filter(function(long){if(long.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.extras.filter(function(extra){if(extra.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.manuals.filter(function(man){if(man.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)} heures totales confirmées</strong>

    .row
      .col-md-10.col-md-offset-1(style='border: 3px solid #5BCF8F; margin-bottom:10px;')
        .page-header
          h3 ÉVÈNEMENTS PONCTUELS
        .no-side-padding
            ul.list-group.list-opportunity
              unless (events)
                p.alert.alert-danger Aucune activité
              table.table.table-striped
                tr
                  th(style="width:30%").text-center Informations
                  th(style="width:50%").text-center Retours
                  th(style="width:20%").text-center Actions
                each event, index in events
                  tr.status(status=event.status)
                    td
                      div.panel.panel-default
                        div.panel-heading
                          h4.media-heading= 'Organisme : ' + event.org_name
                          a.firstColor= 'Évènement : ' + event.intitule
                          h5= event.activity_intitule
                          p
                          if event.status == 'confirmed'
                            span.badge(style='background-color: #113A20')= 'Confirmé'
                          else if (event.status == 'validated')
                            span.badge(style='background-color: #113A20')= 'Validé'
                          else if (event.status == 'pending')
                            span.badge(style='background-color: #FF800E')= 'Attente de confirmation par l\'organisme'
                          else if (event.status == 'subscribed')
                            span.badge(style='background-color: #86C1CF')= 'Inscrit, à venir'
                          else if event.status == 'past'
                            span.badge(style='background-color: #FF800E')= 'Passé, à confirmer par l\'élève'
                          else if event.status == 'corrected'
                            span.badge(style='background-color: #FF800E')= 'Corrigé par l\'élève'
                          else if event.status == 'denied'
                            span.badge(style='background-color: #E33831')= 'À corriger par l\'élève'
                          else if event.status == 'absent'
                            span.badge(style='background-color: #E33831')= 'Absent'
                          else
                            span.badge(style='background-color: #E33831')= 'Indéfini'
                          if event.hours_done > 0
                            span.badge(style='background-color: #113A20')= event.hours_done + ' heures confirmées par l\'organisme'
                          if event.hours_pending > 0
                            span.badge(style='background-color: #FF800E')= event.hours_pending + ' heures en attente de confirmation par l\'organisme'
                        div.panel-body
                          div
                            i.fa.fa-calendar-o.inline
                            h6.inline= date.printDate(event.day)
                          div
                            i.fa.fa-map
                            h6.inline= event.address
                          div
                            i.fa.fa-at
                            h6.inline= event.email
                          div
                            i.fa.fa-phone
                            h6.inline= event.org_phone
                          div
                            i.fa.fa-user
                            h6.inline= event.contact
                          #identifiant(style='display:none')
                            p= event._id
                          h6= event.description
                    td
                      if event.student_questions && event.student_questions.length > 0 && (event.status != 'past' && event.status != 'subscribed' && event.status != 'absent')
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l’élève sur lui-même 
                          div.panel-body
                              each question, q_I in event.student_questions
                                div.panel.panel-warning
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    if event.student_answers[q_I]
                                      h6= event.student_answers[q_I]
                                    else
                                      h6.text-center Non répondu
                      if event.organism_questions && event.organism_questions.length > 0 && (event.status != 'past' && event.status != 'subscribed' && event.status != 'absent' && event.status != 'pending')
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l'organisme sur l'élève
                          div.panel-body
                              each question, q_I in event.organism_questions
                                div.panel.panel-success
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    if event.organism_answers[q_I]
                                      h6= event.organism_answers[q_I]
                                    else
                                      h6 Non répondu
                    td(align='center')
                      if ((event.status == 'confirmed') || (event.status == 'corrected') || (event.status == 'validated') || (event.status == 'denied'))
                        .btn-group(role='group')
                          div.btn.btn-default.validate(vol=volunteer._id, id=event._id, type='events')
                            i.fa.fa-check-square-o
                          div.btn.btn-danger.deny(vol=volunteer._id, id=event._id, type='events')
                            i.fa.fa-times-circle-o
    .row
      .col-md-10.col-md-offset-1(style='border: 3px solid #359B9C; margin-bottom:10px;')
        .page-header
          h3 ENGAGEMENTS LONG TERME
        .no-side-padding
          ul.list-group.list-opportunity
            unless (long_terms)
              p.alert.alert-danger Aucun engagement
            if (long_terms)
              table.table.table-striped
                tr
                  th(style="width:30%").text-center Informations
                  th(style="width:50%").text-center Retours
                  th(style="width:20%").text-center Actions
                each lt, lt_i in long_terms
                  tr.status(status=lt.status)
                    td
                      .panel.panel-default
                        .panel-heading
                          p
                          if lt.status == 'confirmed'
                            span.badge(style='background-color: #113A20')= 'Confirmé par l\'organisme'
                          else if (lt.status == 'validated')
                            span.badge(style='background-color: #113A20')= 'Validé'
                          else if (lt.status == 'pending')
                            span.badge(style='background-color: #FF800E')= 'Attente de confirmation par l\'organisme'
                          else if lt.status == 'subscribed'
                            span.badge(style='background-color: #86C1CF')= 'Inscrit'
                          else if lt.status == 'corrected'
                            span.badge(style='background-color: #FF800E')= 'Corrigé par l\'élève'
                          else if lt.status == 'denied'
                            span.badge(style='background-color: #E33831')= 'À corriger par l\'élève'
                          if (lt.hours_pending > 0 || lt.hours_done > 0)
                            if (lt.hours_pending > 0)
                              span.badge(style='background-color: #FF800E')= lt.hours_pending + ' heures à confirmer'
                            if (lt.hours_done > 0)
                              span.badge(style='background-color: #113A20')= lt.hours_done + ' heures réalisées'
                          else 
                            span.badge(style='background-color: #86C1CF')= 'Aucune heure enregistrée'
                          h4= lt.intitule
                          h6 pour <strong> #{lt.org_name} </strong>
                        .panel-body
                          h6= lt.description
                          div
                            i.fa.fa-map
                            h6.inline= lt.address
                          div
                            i.fa.fa-at
                            h6.inline= lt.org_email
                          div
                            i.fa.fa-phone
                            h6.inline= lt.org_phone
                          div
                            i.fa.fa-user
                            h6.inline= lt.contact
                    td
                      if lt.student_questions && lt.student_questions.length > 0 && (lt.hours_pending > 0 || lt.hours_done > 0)
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l’élève sur lui-même 
                          div.panel-body
                              each question, q_I in lt.student_questions
                                div.panel.panel-warning
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    if lt.student_answers[q_I]
                                      h6= lt.student_answers[q_I]
                                    else
                                      h6.text-center Non répondu
                      if lt.organism_questions && lt.organism_questions.length > 0 && (lt.hours_done > 0)
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l'organisme sur l'élève
                          div.panel-body
                              each question, q_I in lt.organism_questions
                                div.panel.panel-success
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    if lt.organism_answers[q_I]
                                      h6= lt.organism_answers[q_I]
                                    else
                                      h6.text-center Non répondu
                    td(align='center')
                      if ((lt.status == 'confirmed') || (lt.status == 'corrected') || (lt.status == 'validated') || (lt.status == 'denied'))
                        .btn-group(role='group')
                          div.btn.btn-default.validate(vol=volunteer._id, id=lt._id, type='long_terms')
                            i.fa.fa-check-square-o
                          div.btn.btn-danger.deny(vol=volunteer._id, id=lt._id, type='long_terms')
                            i.fa.fa-times-circle-o
    if (volunteer.extras || volunteer.manuals)
      .row
        .col-md-10.col-md-offset-1(style='border: 3px solid #E56252; margin-bottom:10px;')
          if (volunteer.extras)
            if (volunteer.extras.length > 0)
              .page-header
                h3 BÉNÉVOLATS AJOUTÉS PAR L'ÉLÈVE
              .no-side-padding
                ul.list-group.list-opportunity
                  if (volunteer.extras)
                    table.table.table-striped
                      tr
                        th(style="width:30%") Informations
                        th(style="width:50%") Retours
                        th(style="width:20%") Actions
                      each ext, ext_i in volunteer.extras
                        tr.status(status=ext.status)
                          td
                            .panel.panel-default
                              .panel-heading
                                p
                                if ext.status == 'confirmed'
                                  span.badge(style='background-color: #113A20')= 'Confirmé'
                                else if (ext.status == 'validated')
                                  span.badge(style='background-color: #113A20')= 'Validé'
                                else if (ext.status == 'pending')
                                  span.badge(style='background-color: #FF800E')= 'Attente de confirmation par l\'organisme'
                                else if ext.status == 'subscribed'
                                  span.badge(style='background-color: #86C1CF')= 'Inscrit, à venir'
                                else if ext.status == 'past'
                                  span.badge(style='background-color: #FF800E')= 'Passé, à confirmé par l\'élève'
                                else if ext.status == 'corrected'
                                  span.badge(style='background-color: #FF800E')= 'Corrigé par l\'élève'
                                else if ext.status == 'denied'
                                  span.badge(style='background-color: #E33831')= 'À corriger par l\'élève'
                                else
                                  span.badge(style='background-color: #E33831')= 'Indéfini'
                                if (ext.hours_pending > 0 || ext.hours_done > 0)
                                  if (ext.hours_pending > 0)
                                    span.badge(style='background-color: #FF800E')= ext.hours_pending + ' heures à confirmer'
                                  if (ext.hours_done > 0)
                                    span.badge(style='background-color: #113A20')= ext.hours_done + ' heures réalisées'
                                else 
                                  span.badge(style='background-color: #86C1CF')= 'Aucune heure enregistrée'
                                h4= ext.intitule
                                h6 pour <strong> #{ext.org_name} </strong>
                              .panel-body
                                h6= ext.description
                                div
                                  i.fa.fa-at
                                  h6.inline= ext.email
                                div
                                  i.fa.fa-phone
                                  h6.inline= ext.org_phone
                          td
                            unless (ext.hours_pending > 0 || ext.hours_done > 0)
                              h6= ext.description
                            if ext.student_answers.length > 0
                              div.panel.panel-default
                                div.panel-heading
                                  h4 Retour de l’élève sur lui-même 
                                div.panel-body
                                    each question, q_I in ext.student_questions
                                      div.panel.panel-warning
                                        div.panel-heading
                                          h6= question
                                        div.panel-body
                                          h6= ext.student_answers[q_I]
                            if ext.organism_answers.length > 0
                              div.panel.panel-default
                                div.panel-heading
                                  h4 Retour de l'organisme sur l'élève
                                div.panel-body
                                    each question, q_I in ext.organism_questions
                                      div.panel.panel-success
                                        div.panel-heading
                                          h6= question
                                        div.panel-body
                                          h6= ext.organism_answers[q_I]
                          td(align='center')
                            if ((ext.status == 'confirmed') || (ext.status == 'corrected') || (ext.status == 'validated') || (ext.status == 'denied'))
                              .btn-group(role='group')
                                div.btn.btn-default.validate(vol=volunteer._id, id=ext._id, type='extras')
                                  i.fa.fa-check-square-o
                                div.btn.btn-danger.deny(vol=volunteer._id, id=ext._id, type='extras')
                                  i.fa.fa-times-circle-o
          if (volunteer.manuals)
            if (volunteer.manuals.length > 0)
              .page-header
                h3 AJOUTÉES MANUELLEMENT
              .no-side-padding
                ul.list-group.list-opportunity
                  table.table.table-striped
                    tr
                      th Informations
                      th Description
                    each man, man_i in volunteer.manuals
                      tr(man=man._id)
                        td
                          if (man.hours_done > 0)
                            p
                              span.badge(style='background-color: #113A20')= man.hours_done + ' heures réalisées'
                              i.fa.fa-pencil.edit(style="cursor: pointer", man=man._id, type='hours_done')
                              i.fa.fa-times.fa-xs.edit.inline(style="cursor: pointer; color: red;" act_id=man._id, data-toggle='modal' data-target='#erase-modal'+man_i )
                          else 
                            span.badge(style='background-color: #86C1CF')= 'Aucune heure enregistrée'
                            i.fa.fa-times.fa-xs.edit.inline(style="cursor: pointer; color: red;" act_id=man._id, data-toggle='modal' data-target='#erase-modal'+man_i )
                          .modal(id='erase-modal'+man_i, tab-index='-1' role='dialog' aria-labelledby='myModalLabel'+man_i)
                            .modal-dialog(role='document')
                              .modal-content
                                .modal-header
                                  button.close(type='button' data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden='true') &times;
                                  h4.modal-title(id='myModalLabel'+man_i) Es-tu sûr de vouloir supprimer cette activité ?
                                .modal-footer
                                  .btn-group
                                    a.btn.btn-warning(data-dismiss='modal') Annuler
                                    div.btn.btn-default.remove_manual(man=man._id, modal='erase-modal'+man_i) Oui
                          h3
                          p ajoutées par <b> #{man.admin_name} </b>
                          if (man.added.toLocaleString())
                            p le <b> #{man.added.toLocaleString()} </b>
                        td
                          p.inline= man.description
                            i.fa.fa-pencil.edit(style="cursor: pointer", man=man._id, type='description')

block footscript
  script(type='text/javascript').
    'use strict';
    $(document).ready(function(){
      $('#manualHoursForm').submit(function(event){
        event.preventDefault();
        console.log('Submit addManualHours form');
        let datas = {};
        const form_datas = $('#manualHoursForm').serializeArray();
        datas.hours_done = form_datas[0].value;
        datas.description = form_datas[1].value;
        datas.volunteer_id = !{JSON.stringify(volunteer._id)};
        $.post('/addmanualhours', datas)
        .done(function(data){
          console.log('On est dans le callback done !');
          $('#manualHoursModal').modal('toggle');
          console.log('JSON.stringify(data) : ' + JSON.stringify(data));
          console.log('Heures ajoutées');
          $('#manual-success').removeClass('hidden');
          $('#manual-success').html('Heures ajoutées avec succès au profil de l\'élève :) Rechargez la page si vous voulez voir le total d\'heures actualisé');
        })
        .fail(function(data){
          console.log('On est dans le callback fail !');
          console.log('Erreur !');
          $('#manual-danger').removeClass('hidden');
          console.log(data.error);
          $('#manual-danger').html(' ' + data.responseJSON.error);
          console.log('JSON.stringify(data) : ' + JSON.stringify(data));
        });
      });

      //Handle validation or denying button
      $('.validate').click(function(){
        const type = $(this).attr('type');
        const buttons = $(this).parent('.btn-group');
        const row = $(this).closest('.status');
        $.post('/admin/validate', {type: $(this).attr('type'), id: $(this).attr('id'), vol: $(this).attr('vol')})
        .always(function(data){
          console.info('data : ' + JSON.stringify(data));
          //buttons.html('<p>'+data.message+'</p>');
          row.removeClass('warning');
          row.removeClass('danger');
          row.addClass('success');
        });
      });

      //Handle validation or denying button
      $('.deny').click(function(){
        const type = $(this).attr('type');
        const buttons = $(this).parent('.btn-group');
        const row = $(this).closest('.status');
        $.post('/admin/deny', {type: $(this).attr('type'), id: $(this).attr('id'), vol: $(this).attr('vol')})
        .always(function(data){
          console.info('data : ' + JSON.stringify(data));
          //buttons.html('<p>'+data.message+'</p>');
          row.removeClass('warning');
          row.removeClass('success');
          row.addClass('danger');
        });
      });

      const getRowClass = function(status){
        console.info('Status : ' + status);
        if((status == 'pending') || (status == 'confirmed') || (status == 'corrected')){ console.info('Return warning');return 'warning'}
        else if (status == 'denied'){ console.info('Return danger');return 'danger'}
        else if (status == 'validated'){ console.info('Return success');return 'success'}
        else { return ''}
      };
      $('.status').each(function(){
        let status = $(this).attr('status');
        $(this).addClass(getRowClass(status));
      });
    });

  script(type='text/javascript').
    'use strict';
    $(document).ready(function(){
      $('.edit').click(function(){
        const man_id = $(this).attr('man');
        const p = $(this).parent();
        if ($(this).attr('type') == 'description'){
          $(this).removeClass('fa').removeClass('fa-pencil');
          $(this).parent().html("<p>Correction de la réponse</p><textarea rows='4' id='new_description'>"+$(this).parent().text()+"</textarea><input value='Valider' type='button' class='btn btn-warning valid-edit'></input>");
          $('.valid-edit').click(function(){
            const new_description = $('#new_description').val();
            $.post('/edit-manual', {new_description, man_id})
            .done(function(){
              p.html("<p class='alert alert-success'> Modifications prises en compte </p><p>"+new_description+"</p>");
            })
            .fail(function(data){
              p.html("<p class='alert alert-danger'> Erreur lors de la modification </p><p>"+data.error+"</p>");
              console.log(data);
            })
          });
        } else if ($(this).attr('type') == 'hours_done') {
          $(this).removeClass('fa').removeClass('fa-pencil');
          $(this).parent().html("<p>Correction de la réponse</p><input type='number' min='0.5' id='hours_done' value="+($(this).parent().text().charAt(0))+"></input><input value='Valider' type='button' class='btn btn-warning valid-edit'></input>");
          $('.valid-edit').click(function(){
            const hours_done = $('#hours_done').val();
            $.post('/edit-manual', {hours_done, man_id})
            .done(function(){
              p.html("<p class='alert alert-success'> Modifications prises en compte </p><p>"+hours_done+" heures réalisées</p>");
            })
            .fail(function(data){
              p.html("<p class='alert alert-danger'> Erreur lors de la modification </p><p>"+data.error+"</p>");
              console.log(data);
            })
          });
        }
      });
      $('.remove_manual').click(function(){
        $('#'+$(this).attr('modal')).modal('hide');
        const man_id = $(this).attr('man');
        const p = $(this).parents('[man='+man_id+']');
        setTimeout(function(){$.post('/remove-manual'+man_id)
        .done(function(){
          p.html("<p class='alert alert-success'> Suppression prise en compte </p>");
        })
        .fail(function(data){
          p.html("<p class='alert alert-danger'> "+ data.err +" </p>");
          console.log(data);
        })}, 500)
      })
    });