extends ./g_layout.jade
block vars
  - var page = 'report'
  - var hours_count = function(previousValue, currentValue, currentIndex, array) {if(currentValue) {return previousValue + currentValue;} else {return currentValue;} };

block head
  title Rapport de l'élèves
  meta(name='description', content='Lisez le rapport de bénévolat de l\'élèves')
block content
  #map-section.container-fluid
    .row
      .col-md-3.col-md-offset-1
        .page-header
          h3
          if error
            p.alert.alert-danger #{error}
        ul.list-group
          li.list-group-item
            | Prénom: #{volunteer.firstname}
            small
          li.list-group-item
            | Nom: #{volunteer.lastname}
            small
          li.list-group-item
            | Date de naissance: #{volunteer.birthdate}
            small
          li.list-group-item
            | Adresse mail: #{volunteer.email}
            small
        p.alert.alert-success.hidden#manual-success
        button.btn.btn-warning(data-toggle='modal' data-target='#manualHoursModal', style='margin-bottom: 20px;') Ajouter des heures manuellement
        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="manualHoursModalLabel", id='manualHoursModal')
          div.modal-dialog(role='document')
            form(id='manualHoursForm', role='form').modal-content
              .modal-header
                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden='true')
                  h4.modal-title Ajout d'heures manuel
              div.modal-body
                p.alert.alert-danger.hidden#manual-danger
                label(for='hours_done') Nombre d'heures
                input.form-control(type='number', min='0.5', max='50', step='0.5' name='hours_done', required)
                label(for='hours_description') Description
                textarea.form-control(name="hours_description" id="hours_description" rows="6" required)
              div.modal-footer
                input.btn.btn-warning(type='submit', form='manualHoursForm', value='Ajouter les heures')
                a.btn.btn-default(data-dismiss='modal') Fermer

      .col-md-6.col-md-offset-1
        .page-header
          h3
        table.table.table-stripped
          tr
            th
            th.text-center Inscriptions
            th.text-center Heures
          tr
            th(rowspan='2' style="vertical-align:middle").text-center Engagements long terme
            td(rowspan='2' style="vertical-align:middle").text-center <strong> #{volunteer.long_terms.length} </strong>
            td.text-center <strong>#{volunteer.long_terms.filter(function(long){if(long.hours_pending){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0)}</strong> heures à confirmer
          tr
            td.text-center(style="vertical-align:middle")  <strong>#{volunteer.long_terms.filter(function(long){if(long.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)}</strong>  heures confirmées
          tr
            th(rowspan='2' style="vertical-align:middle").text-center Évènements ponctuels
            td(rowspan='2' style="vertical-align:middle").text-center <strong> #{volunteer.events.length} </strong>
            td.text-center <strong>#{volunteer.events.filter(function(ev){if(ev.hours_pending){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0)}</strong> heures à confirmer
          tr
            td.text-center(style="vertical-align:middle")  <strong>#{volunteer.events.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)}</strong>  heures confirmées
          tr
            th(rowspan='2' style="vertical-align:middle").text-center Extras ajoutés par l'élève ou l'administrateur
            td(rowspan='2' style="vertical-align:middle").text-center <strong> #{volunteer.extras.length + volunteer.manuals.length} </strong>
            td.text-center <strong>#{volunteer.extras.filter(function(ev){if(ev.hours_pending){return true;}else{return false;}}).map(el => el.hours_pending).reduce(hours_count, 0)}</strong> heures à confirmer
          tr
            td.text-center(style="vertical-align:middle")  <strong>#{volunteer.extras.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.manuals.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)}</strong>  heures confirmées
          tr.success
            th.text-center Total
            td.text-center <strong> #{volunteer.events.length + volunteer.long_terms.length + volunteer.extras.length} </strong>
            td.text-center <strong> #{volunteer.events.filter(function(ev){if(ev.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.long_terms.filter(function(long){if(long.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.extras.filter(function(extra){if(extra.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0) + volunteer.manuals.filter(function(man){if(man.hours_done){return true;}else{return false;}}).map(el => el.hours_done).reduce(hours_count, 0)} heures totales confirmées</strong>


    .row
      .col-md-10.col-md-offset-1(style='border: 3px solid #5BCF8F; margin-bottom:10px;')
        .page-header
          h3 ÉVÈNEMENTS PONCTUELS
        .no-side-padding
            ul.list-group.list-opportunity
              unless (events)
                p.alert.alert-danger Aucune activité
              table.table.table-striped
                tr
                  th(style="width:30%").text-center Informations
                  th(style="width:50%").text-center Retours
                  th(style="width:20%").text-center Actions
                each event, index in events
                  tr.status(status=event.status)
                    td
                      div.panel.panel-default
                        div.panel-heading
                          h4.media-heading= 'Organisme : ' + event.org_name
                          a.firstColor= 'Évènement : ' + event.intitule
                          h5= event.activity_intitule
                          p
                          if event.status == 'confirmed'
                            span.badge(style='background-color: #113A20')= 'Confirmé'
                          else if (event.status == 'validated')
                            span.badge(style='background-color: #113A20')= 'Validé'
                          else if (event.status == 'pending')
                            span.badge(style='background-color: #FF800E')= 'Attente de confirmation par l\'organisme'
                          else if event.status == 'subscribed'
                            span.badge(style='background-color: #86C1CF')= 'Inscrit, à venir'
                          else if event.status == 'past'
                            span.badge(style='background-color: #FF800E')= 'Passé, à confirmé par l\'élève'
                          else if event.status == 'denied'
                            span.badge(style='background-color: #E33831')= 'À corriger par l\'élève'
                          else
                            span.badge(style='background-color: #E33831')= 'Indéfini'
                          if event.hours_done > 0
                            span.badge(style='background-color: #113A20')= event.hours_done + ' heures confirmées par l\'organisme'
                          if event.hours_pending > 0
                            span.badge(style='background-color: #FF800E')= event.hours_pending + ' heures en attente de confirmation par l\'organisme'
                        div.panel-body
                          div
                            i.fa.fa-calendar-o.inline
                            h6.inline= date.printDate(event.day)
                          div
                            i.fa.fa-map
                            h6.inline= event.address
                          div
                            i.fa.fa-at
                            h6.inline= event.email
                          #identifiant(style='display:none')
                            p= event._id
                          h6= event.description
                    td
                      if event.student_answers.length > 0
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l’élève sur lui-même 
                          div.panel-body
                              each question, q_I in event.student_questions
                                div.panel.panel-warning
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    h6= event.student_answers[q_I]
                      if event.organism_answers.length > 0
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l'organisme sur l'élève
                          div.panel-body
                              each question, q_I in event.organism_questions
                                div.panel.panel-success
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    h6= event.organism_answers[q_I]
                    td(align='center')
                      if ((event.status == 'confirmed') || (event.status == 'corrected'))
                        .btn-group(role='group')
                          button.btn.btn-default.validate(vol=volunteer._id, id=event._id, type='events')
                            i.fa.fa-check-square-o
                          button.btn.btn-danger.deny
                            i.fa.fa-times-circle-o
    .row
      .col-md-10.col-md-offset-1(style='border: 3px solid #359B9C; margin-bottom:10px;')
        .page-header
          h3 ENGAGEMENTS LONG TERME
        .no-side-padding
          ul.list-group.list-opportunity
            unless (volunteer.long_terms)
              p.alert.alert-danger Aucun engagement
            if (volunteer.long_terms)
              table.table.table-striped
                tr
                  th(style="width:30%").text-center Informations
                  th(style="width:50%").text-center Retours
                  th(style="width:20%").text-center Actions
                each lt, lt_i in volunteer.long_terms
                  tr.status(status=lt.status)
                    td
                      if (lt.hours_pending > 0 || lt.hours_done > 0)
                        if (lt.hours_pending > 0)
                          span.badge(style='background-color: #FF800E')= lt.hours_pending + ' heures à confirmer'
                        if (lt.hours_done > 0)
                          span.badge(style='background-color: #113A20')= lt.hours_done + ' heures réalisées'
                      else 
                        span.badge(style='background-color: #86C1CF')= 'Aucune heure enregistrée'
                      h4= lt.intitule
                      h6 pour <strong> #{lt.org_name} </strong>
                      if (lt.hours_pending > 0 || lt.hours_done > 0)
                        h6= lt.description
                    td
                      unless (lt.hours_pending > 0 || lt.hours_done > 0)
                        h6= lt.description
                      if lt.student_answers.length > 0
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l’élève sur lui-même 
                          div.panel-body
                              each question, q_I in lt.student_questions
                                div.panel.panel-warning
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    h6= lt.student_answers[q_I]
                      if lt.organism_answers.length > 0
                        div.panel.panel-default
                          div.panel-heading
                            h4 Retour de l'organisme sur l'élève
                          div.panel-body
                              each question, q_I in lt.organism_questions
                                div.panel.panel-success
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    h6= lt.organism_answers[q_I]
                    td(align='center')
                      if ((lt.status == 'confirmed') || (lt.status == 'corrected'))
                        .btn-group(role='group')
                          button.btn.btn-default.validate(vol=volunteer._id, id=lt._id, type='long_terms')
                            i.fa.fa-check-square-o
                          button.btn.btn-danger.deny
                            i.fa.fa-times-circle-o
    if (volunteer.extras || volunteer.manuals)
      .row
        .col-md-10.col-md-offset-1(style='border: 3px solid #E56252; margin-bottom:10px;')
          if (volunteer.extras)
            if (volunteer.extras.length > 0)
              .page-header
                h3 EXTRAS AJOUTÉS PAR L'ÉLÈVE
              .no-side-padding
                ul.list-group.list-opportunity
                  if (volunteer.extras)
                    table.table.table-striped
                      tr
                        th(style="width:30%") Informations
                        th(style="width:50%") Retours
                        th(style="width:20%") Actions
                      each ext, ext_i in volunteer.extras
                        tr.status(status=ext.status)
                          td
                            if (ext.hours_pending > 0 || ext.hours_done > 0)
                              if (ext.hours_pending > 0)
                                span.badge(style='background-color: #FF800E')= ext.hours_pending + ' heures à confirmer'
                              if (ext.hours_done > 0)
                                span.badge(style='background-color: #113A20')= ext.hours_done + ' heures réalisées'
                            else 
                              span.badge(style='background-color: #86C1CF')= 'Aucune heure enregistrée'
                            h4= ext.intitule
                            h6 pour <strong> #{ext.org_name} </strong>
                            if (ext.hours_pending > 0 || ext.hours_done > 0)
                              h6= ext.description
                          td
                            unless (ext.hours_pending > 0 || ext.hours_done > 0)
                              h6= ext.description
                            if ext.student_answers.length > 0
                              div.panel.panel-default
                                div.panel-heading
                                  h4 Retour de l’élève sur lui-même 
                                div.panel-body
                                    each question, q_I in ext.student_questions
                                      div.panel.panel-warning
                                        div.panel-heading
                                          h6= question
                                        div.panel-body
                                          h6= ext.student_answers[q_I]
                            if ext.organism_answers.length > 0
                              div.panel.panel-default
                                div.panel-heading
                                  h4 Retour de l'organisme sur l'élève
                                div.panel-body
                                    each question, q_I in ext.organism_questions
                                      div.panel.panel-success
                                        div.panel-heading
                                          h6= question
                                        div.panel-body
                                          h6= ext.organism_answers[q_I]
                          td(align='center')
                            if ((ext.status == 'confirmed') || (ext.status == 'corrected'))
                              .btn-group(role='group')
                                button.btn.btn-default.validate(vol=volunteer._id, id=ext._id, type='extras')
                                  i.fa.fa-check-square-o
                                button.btn.btn-danger.deny
                                  i.fa.fa-times-circle-o
          if (volunteer.manuals)
            if (volunteer.manuals.length > 0)
              .page-header
                h3 AJOUTÉES MANUELLEMENT
              .no-side-padding
                ul.list-group.list-opportunity
                  table.table.table-striped
                    tr
                      th Informations
                      th Description
                    each man, ext_i in volunteer.manuals
                      tr
                        td
                          if (man.hours_done > 0)
                            span.badge(style='background-color: #113A20')= man.hours_done + ' heures réalisées'
                          else 
                            span.badge(style='background-color: #86C1CF')= 'Aucune heure enregistrée'
                          h3
                          p ajoutées par <b> #{man.admin_name} </b>
                          if (man.added.toLocaleString())
                            p le <b> #{man.added.toLocaleString()} </b>
                        td
                          p= man.description

block footscript
  script(type='text/javascript').
      $(document).ready(function(){
        $('#manualHoursForm').submit(function(event){
          'use strict';
          event.preventDefault();
          console.log('Submit addManualHours form');
          let datas = {};
          const form_datas = $('#manualHoursForm').serializeArray();
          datas.hours_done = form_datas[0].value;
          datas.description = form_datas[1].value;
          datas.volunteer_id = !{JSON.stringify(volunteer._id)};
          $.post('/addmanualhours', datas)
          .done(function(data){
            console.log('On est dans le callback done !');
            $('#manualHoursModal').modal('toggle');
            console.log('JSON.stringify(data) : ' + JSON.stringify(data));
            console.log('Heures ajoutées');
            $('#manual-success').removeClass('hidden');
            $('#manual-success').html('Heures ajoutées avec succès au profil de l\'élève :) Rechargez la page si vous voulez voir le total d\'heures actualisé');
          })
          .fail(function(data){
            console.log('On est dans le callback fail !');
            console.log('Erreur !');
            $('#manual-danger').removeClass('hidden');
            console.log(data.error);
            $('#manual-danger').html(' ' + data.responseJSON.error);
            console.log('JSON.stringify(data) : ' + JSON.stringify(data));
          });
        });

        //Handle validation or denying button
        $('.validate').click(function(){
          const type = $(this).attr('type');
          const buttons = $(this).parent('.btn-group');
          const row = $(this).parent('tr.status');
          $.post('/admin/validate', {type: $(this).attr('type'), id: $(this).attr('id'), vol: $(this).attr('vol')})
          .always(function(data){
            console.info('data : ' + JSON.stringify(data));
            buttons.html('<p>'+data.message+'</p>');
            console.log('buttons : ' + JSON.stringify(buttons));
            console.log('row : ' + JSON.stringify(row));
            row.css('background-color', '#dff0d8');
          });
        });

        const getRowClass = function(status){
          console.info('Status : ' + status);
          if(status == 'ended'){ return 'success'}
          else if (status == 'denied'){ console.info('Return danger');return 'danger'}
          else if (status == 'confirmed'){ console.info('Return success');return ''}
          else if (status == 'validated'){ console.info('Return success');return 'success'}
          else if (status == 'pending'){ console.info('Return warning');return 'warning'}
          else { return ''}
        };
        $('.status').each(function(){
          let status = $(this).attr('status');
          $(this).addClass(getRowClass(status));
        });
      });