extends ./g_layout.jade
block vars
  - var page = 'report'
  - var hours_count = function(previousValue, currentValue, currentIndex, array) {return previousValue + currentValue; };

block content
  #map-section.container-fluid
    .row
      .col-md-3.col-md-offset-1
        .page-header
          h3
            | Profil de l'élève
            small
          if error
            p.alert.alert-danger #{error}
        ul.list-group
          li.list-group-item
            | Prénom: #{volunteer.firstname}
            small
          li.list-group-item
            | Nom: #{volunteer.lastname}
            small
          li.list-group-item
            | Date de naissance: #{volunteer.birthdate}
            small
          li.list-group-item
            | Adresse mail: #{volunteer.email}
            small
      .col-md-6.col-md-offset-1
        .page-header
          h3 Bilan
        ul.list-group
          li.list-group-item= 'Heures réalisées: ' + events.map(el => el.hours_done).reduce(hours_count, 0) + ' h (de ' + events.filter(function(event) {return event.status == 'confirmed'}).length + ' évènements)'
          li.list-group-item= 'Heures en attente de confirmation par l\'organisme: ' + events.filter(function(event) {return event.status != 'gathered'}).map(el => el.hours_pending).reduce(hours_count, 0) + ' h (de ' + events.filter(function(event) {return event.status == 'pending'}).length + ' évènements)'
          li.list-group-item= 'Nombre d\'évènements passés à valider: ' + events.filter(function(event) {return event.status == 'past'}).length
          li.list-group-item= 'Nombre d\'évènements à venir: ' + events.filter(function(event) {return event.status == 'subscribed'}).length


    .row
      .col-md-10.col-md-offset-1
        .page-header
          h3 Les activités
        #offers-list.no-side-padding
            ul.list-group.list-opportunity
              unless (events)
                p.alert.alert-danger Aucune activité
              each event, index in events
                if event.status != 'gathered'
                  li.list-group-item
                    div.media-left
                      h4.media-heading Status
                      if ((event.hours_pending == 0) && (event.hours_done != 0))
                        p Confirmé
                      else if (event.hours_pending > 0)
                        p Attente de validation par l'organisme
                      else if event.status == 'past'
                        p Passé, à valider par l'élève
                      else if event.status == 'subscribed'
                        p Inscrit, à venir
                      else
                        p.alert.alert-danger Indéfini
                    div.media-body
                      h4.media-heading= 'Organisme : ' + event.org_name
                      a.firstColor= 'Évènement : ' + event.intitule
                      h6= event.description_event
                      h6= event.day.toLocaleDateString()
                      h6= 'Adresse : ' + event.address
                      if event.hours_done > 0
                        p= event.hours_done + ' heures confirmées par l\'organisme'
                      if event.hours_pending > 0
                        p= event.hours_pending + ' heures en attente de confirmation par l\'organisme'
                      #identifiant(style='display:none')
                        p= event._id
                      if event.student_answers.length > 0
                        div.panel.panel-default
                          div.panel-heading
                            h3 Retour de l’élève sur lui-même 
                          div.panel-body
                              each question, q_I in event.student_questions
                                div.panel.panel-warning
                                  div.panel-heading
                                    h6= question
                                  div.panel-body
                                    h6= event.student_answers[q_I]