extends ./g_layout.jade
block vars
  - var page = 'activity'

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-1
        .page-header
          h1 Évènement
          h2= event.intitule
          p= 'Description : ' + event.description
          a(href='#')= event.address
          h3= activity.intitule
          p= 'Description : ' + activity.description
          each day, index in activity.days
            h4= 'Date : ' + day.day
            p= 'De ' + day.start_time + ' à ' + day.end_time
            p= 'Encore ' + day.vol_nb + ' places'
            form(action='/volunteer/subscribe/'+activity._id+'-'+index+'-'+activity_index+'-'+day.day, method='post')
              button.btn.btn-success-outline.pinkow(role='button' name='day' value=day.day) S'inscrire
      .col-md-4.col-md-offset-1
        .page-header
          h4 Profil de l'organisme :
          h2= organism.org_name
          p= 'Email: ' + organism.email
          p= 'Téléphone: ' + organism.phone
          p= act_id