extends ./g_layout.jade
block vars
  - var page = 'accueil'


block content
      .container-fluid.degrade
        #first_section_entrance.row
          .col-md-8.col-md-offset-2
            .logo
              img#logo_entrance(src='images/simplyk_log_text_v2.png', align='middle')
              h1.text-center La plateforme de mise en relation entre organismes et bénévoles! <br><br>
                //- .btn-group-lgP(role='group')
                //-   button.btn.btn-default.btn-landing(type='button',style="width: 40%;") 
                //-     h3 Besoins de bénévoles
                //-     h4 Je suis un organisme
                //-   button.btn.btn-default.btn-landing-2(type='button',style="width: 40%;")
                //-     h3 Je veux aider 
                //-     h4 Je suis un citoyen
                //- i.fa.fa-arrow-circle-down.fa-2x.text-center.firstColor(aria-hidden='true')
            if error
              p.alert.alert-danger ERROR : #{error}
      .container-fluid
        .row.fill
          #offers-list.col-md-5.no-side-padding.scrollable
            ul.list-group.list-opportunity
              if error
                p.alert.alert-danger #{error}
              each act, index in activities
                  li.list-group-item(id= act._id)
                    .panel.panel-default
                      .panel-heading
                        div.media-left.media-top
                          a(href='#')
                            img.media-object.little-img(src='/images/clouds.jpg')
                        div.media-body
                          h4.media-heading <b>#{act.intitule}</b>
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{act.address}
                        div.media-right.media-middle
                          button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+act._id) Plus d'infos
                          #myModal(tabindex='-1', role='dialog', class='modal fade ' + act._id)
                            .modal-dialog(role='document')
                                .modal-content
                                  .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                      span(aria-hidden='true') &times;        
                                    #myModalLabel.h4.modal-title=  act.org_name + ' - ' +act.event_intitule
                                  .modal-body.my-modal-body
                                    h4 <b>#{act.intitule}</b>
                                    each day, nb in act.days
                                      p= 'Pour ' + day.vol_nb + ' bénévoles le ' + day.day.toLocaleDateString()
                                      #identifiant(style="display:none")
                                        p= act._id
                                    p= 'Adresse: '+ act.address
                                  .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Fermer
                                    button.btn.btn-default(type='button')
                                      a#link-btn-ref(href='register_volunteer') S'inscrire
                                    button.btn.btn-default(type='button')
                                      a#link-btn-ref(href='register_volunteer') Plus d'infos
                      .panel-body
                          h4 Dans le cadre de : <b>#{act.event_intitule}</b>
                          each day, day_i in act.days
                            h4
                              h5.inline <b>#{day.day.toLocaleDateString()} : </b>
                              h6.inline
                                i.fa.fa-user
                                p.inline= (day.vol_nb-day.applicants.length)+' places restantes'
          .col-md-7.no-side-padding
            #map
      .container-fluid.footer
        .row
          .col-md-8.col-md-offset-2
            p.text-center.white Simplyk, Facilitateur de Bénévolat
          .col-md-2
            p.white Suivez-nous !
            a(href="https://www.facebook.com/simplykMTL/?fref=ts")
              i.icon.icon-2x.icon-sk.icon-sk-white.icon-facebook-official
            a(href="https://twitter.com/simplykMTL")
              i.icon.icon-2x.icon-sk.icon-sk-white.icon-twitter


block footscript
  script.
    $( document ).ready(function() {
      $('.subscribe-button').click(function(){
        var identifiant = $(this).parents().parents().children('.media-body').children('#identifiant').children('p').html();
        console.log('id : ' + identifiant);
        //On utilise l'identifiant de l'opp dans mongoDB pour traiter l'ajout de ce favori dans /addfavopp
        $.post('/volunteer/subscribe', {event_id: identifiant}).done(function(data, status){
          if(data.error){
            alert("Remarque: " + data.error);
          }
          else if (data.redirect){
            window.location.replace("/volunteer/profile");
          };
        });
      });
    });
    function initMap(){
      function listStar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).addClass('starring');
        console.log(listElement);
      }
      function listUnstar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).removeClass('starring');
        console.log(listElement);
      }
      function openListInfos(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        listElement.childNodes[2].childNodes[0].click();
        console.log(listElement.childNodes[2]);
      }
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: {lat: 45.503, lng: -73.613},
        zoom: 12,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      //Generate markers
      var acts = !{JSON.stringify(activities)};
      var infowindows = [];
      var cause = 'cul'
      var imageSol = {
      url: '/images/Perso/blue-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var imageEnv = {
      url: '/images/Perso/green-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var imageCul = {
      url: '/images/Perso/yellow-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var markers = [];
      var options = {
            gridSize: 50,
            maxZoom: 13,
            minimumClusterSize: 15,
            imagePath: 'images/m'
        };
      function attachInfoWindow(marker, infoWindow, act, i){
        marker.addListener('click', function(){
          openListInfos(i);
        });
        marker.addListener('mouseover', function(){
          infoWindow.open(map, marker);
          listStar(i);
        });
        marker.addListener('mouseout', function(){
          infoWindow.close();
          listUnstar(i);
        });
      };
      var legend = document.createElement('div');
        legend.id = 'legend';
        var content = [];
        content.push('<i class="fa fa-envira" id="leaf">Environnement</i><br>');
        content.push('<i class="fa fa-heart" id="soli">Solidarité</i><br>');
        content.push('<i class="fa fa-institution" id="cult">Culture</i><br>');
        legend.innerHTML = content.join('');
        legend.index = 1;
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
      for(i=0; i<acts.length; i++){
        console.log(acts[i].intitule + " marker generated with lat and lon : " + acts[i].lat + acts[i].lon);
        var act = acts[i];
        var lati = act.lat+0.0005*(Math.random()-0.5);
        var longi = act.lon+0.0005*(Math.random()-0.5);
        infowindows[i] = new google.maps.InfoWindow({
          content: act.org_name + ' - ' + act.intitule
        });
        if (acts[i].cause=='Environnement'){
        markers[i] = new google.maps.Marker({
          position: {lat: lati, lng: longi},
          map: map,
          icon: imageEnv,
          clickable: true
        });
        }
        if (acts[i].cause=='Solidarité'){
        markers[i] = new google.maps.Marker({
          position: {lat: lati, lng: longi},
          map: map,
          icon: imageSol,
          clickable: true
        });
        }
        if (acts[i].cause=='Culture'){
        markers[i] = new google.maps.Marker({
          position: {lat: lati, lng: longi},
          map: map,
          icon: imageCul,
          clickable: true
        });
        }
        attachInfoWindow(markers[i], infowindows[i], act, i);
      }
      var markerCluster = new MarkerClusterer(map, markers, options);
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPJIqo9jqMb99E47aKuO64rxugd3S-Wk&callback=initMap"
         async defer)
  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });

