extends ./g_layout.jade
block head
  title Simplyk : bénévolat à portée de main
  meta(name='description', content='La plateforme de mise en relation de jeunes bénévoles et d\'organismes à Montréal')
block vars
  - var page = 'accueil'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - var the_favo = {}; if (typeof the_favorite !== 'undefined') {the_favo = the_favorite} else {the_favo = {}};
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
  - function isAdult(ageMin){var result=false;if(ageMin>=16){result=true}return result;}

block content
  each act, index in activities
    #myModal(tabindex='-1', role='dialog', class='modal fade ' + act._id)
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;        
            #myModalLabel.h4.modal-title #{act.event_intitule} <small>par</small> <b>#{act.org_name}</b>
          .modal-body.my-modal-body
            h4 <b>#{act.intitule}</b>
            p <b>Adresse : </b> #{act.address}
            table.table
              tr
                th.text-center Places restantes
                th.text-center Date
                th.text-center Heure de début
                th.text-center Heure de fin
                if act.min_age
                  th.text-center Âge minimal
              each day, nb in act.days
                if day.day
                  tr
                    td.text-center= day.vol_nb-day.applicants.length
                    td.text-center= days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()
                    td.text-center= day.start_time
                    td.text-center= day.end_time
                    if act.min_age
                      td.text-center= act.min_age
                  #identifiant(style="display:none")
                    p= act._id
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Fermer
            a#link-btn-ref.btn.btn-default(href='login') S'inscrire
            a#link-btn-ref.btn.btn-default(href='login') Plus d'infos
  each lt, index in longterms
    div(tabindex='-1', role='dialog', class='modal fade ' + lt.long_term._id, id=lt.long_term._id)
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;        
            #myModalLabel.h4.modal-title #{lt.long_term.intitule} <small>par</small> <b>#{lt.org_name}</b>
          .modal-body.my-modal-body
            h4 <b>#{lt.long_term.intitule}</b>
            p #{lt.long_term.description}
            p <b>Adresse : </b> #{lt.long_term.address}
            if lt.long_term.min_age
              p <b>Âge minimal : </b> #{lt.long_term.min_age} ans
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Fermer
            a#link-btn-ref.btn.btn-default(href='login') S'inscrire
            a#link-btn-ref.btn.btn-default(href='login') Plus d'infos
  .container-fluid.degrade
    #first_section_entrance.row
      .col-sm-5.col-xs-offset-1.col-xs-11
        .logo
          div
            h1 TROUVE TON <br> BÉNÉVOLAT <br>
          div
            h4 Simplyk te connecte avec l'organisme qui te correspond <br><br>
          div
            button#find_vol.btn.btn-warning.btn-lg C'EST PARTI
      .col-sm-6
        img#landscape(src='images/happy_city.svg', align='middle')
  .container-fluid
    .row.fill
      .col-sm-4.col-xs-12
        #filter_div.row
          .col-md-5.col-md-offset-1.col-sm-6.col-sm-offset-0.col-xs-10.col-xs-offset-1#acts_filter(style='cursor: pointer;')
            h5.text-center.btn-filter.btn-filter-acts
              i.inline.fa.fa-check-square-o#acts_check
              p.inline Ponctuels
              i.inline.fa.fa-bolt
          .col-md-5.col-sm-6.col-sm-offset-0.col-xs-10.col-xs-offset-1#lts_filter(style='cursor: pointer;')
            h5.text-center.btn-filter.btn-filter-lts
              i.inline.fa.fa-check-square-o#lts_check
              p.inline Engagements
          .col-md-10.col-md-offset-1.col-sm-12.col-sm-offset-0.col-xs-10.col-xs-offset-1#age_filter(style='cursor: pointer;')
            h5.text-center.btn-filter.btn-filter-age
              i.inline.fa.fa-square-o#age_check
              p.inline J'ai moins de 16 ans
        #offers-list.no-side-padding.scrollable.row
          ul.list-group.list-opportunity
            if error
              p.alert.alert-danger #{error}
            if success
              p.alert.alert-success #{success}
            if (typeof the_favo !== 'undefined') && the_favo.days
              li.list-group-item(id='the_favo', opp_type='activity', min_age=the_favo.min_age, adult='')
                  .panel.panel-default
                    .panel-heading
                      div.media-left.media-middle
                        a(href='#')
                          if the_favo.cause == 'Solidarité'
                            i.fa.fa-heart
                          else if the_favo.cause == 'Nature'
                            i.fa.fa-envira(style='color: #5BCF8F')
                          else if the_favo.cause == 'Sport et Culture'
                            i.fa.fa-institution(style='color: #FFC858')
                          else if the_favo.cause == 'Enfance'
                            i.fa.fa-child(style='color: #FF4F3C')
                      div.media-body
                        h5.media-heading <b>#{the_favo.org_name}</b>
                        h6.media-heading <b>#{the_favo.intitule}</b>
                        //h6
                          i.fa.fa-map-marker
                          p.inline Adresse : #{the_favo.address}
                      div.media-right.media-middle
                        button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+the_favo._id) Plus d'infos
                    .panel-body
                        h5 Dans le cadre de : <b>#{the_favo.event_intitule}</b>
                        if the_favo.days.length < 3
                          each day, day_i in the_favo.days
                            if day.day
                              h4
                                h6.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
                                h6.inline
                                  i.fa.fa-user
                                  p.inline= (day.vol_nb-day.applicants.length)+' places restantes'
                        else
                          if the_favo.days[0].day && the_favo.days[1].day
                            h6.inline <b>#{days_name[correctDate(the_favo.days[0].day).getDay()]  + ' ' + (correctDate(the_favo.days[0].day).getDate()) + ' ' + months_name[correctDate(the_favo.days[0].day).getMonth()]  + ' ' + correctDate(the_favo.days[0].day).getFullYear()}</b>, <b>#{days_name[correctDate(the_favo.days[1].day).getDay()]  + ' ' + (correctDate(the_favo.days[1].day).getDate()) + ' ' + months_name[correctDate(the_favo.days[1].day).getMonth()]  + ' ' + correctDate(the_favo.days[1].day).getFullYear()}</b>, ...
            each act, index in activities
              if act._id != the_favo._id
                li.list-group-item(id= act._id, opp_type='activity', min_age= act.min_age, adult='')
                  .panel.panel-default
                    .panel-heading
                      div.media-left.media-middle
                        a(href='#')
                          if act.cause == 'Solidarité'
                            i.fa.fa-heart
                          else if act.cause == 'Nature'
                            i.fa.fa-envira(style='color: #5BCF8F')
                          else if act.cause == 'Sport et Culture'
                            i.fa.fa-institution(style='color: #FFC858')
                          else if act.cause == 'Enfance'
                            i.fa.fa-child(style='color: #FF4F3C')
                      div.media-body
                        h5.media-heading <b>#{act.org_name}</b>
                        h6.media-heading <b>#{act.intitule}</b>
                        //h6
                          i.fa.fa-map-marker
                          p.inline Adresse : #{act.address}
                      div.media-right.media-middle
                        button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+act._id) Plus d'infos
                    .panel-body
                        h5 Dans le cadre de : <b>#{act.event_intitule}</b>
                        if act.days.length < 3
                          each day, day_i in act.days
                            if day.day
                              h4
                                h6.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
                                h6.inline
                                  i.fa.fa-user
                                  p.inline= (day.vol_nb-day.applicants.length)+' places restantes'
                        else
                          if act.days[0].day && act.days[1].day
                            h5.inline <b>#{days_name[correctDate(act.days[0].day).getDay()]  + ' ' + (correctDate(act.days[0].day).getDate()) + ' ' + months_name[correctDate(act.days[0].day).getMonth()]  + ' ' + correctDate(act.days[0].day).getFullYear()}</b>, <b>#{days_name[correctDate(act.days[1].day).getDay()]  + ' ' + (correctDate(act.days[1].day).getDate()) + ' ' + months_name[correctDate(act.days[1].day).getMonth()]  + ' ' + correctDate(act.days[1].day).getFullYear()}</b>, ...

            each lt, index in longterms
                li.list-group-item(id= lt.long_term._id, opp_type='longterm', min_age=lt.long_term.min_age, adult='')
                  .panel.panel-default
                    .panel-heading
                      div.media-left.media-middle
                        a(href='#')
                          if lt.cause == 'Solidarité'
                            i.fa.fa-heart
                          else if lt.cause == 'Nature'
                            i.fa.fa-envira(style='color: #5BCF8F')
                          else if lt.cause == 'Sport et Culture'
                            i.fa.fa-institution(style='color: #FFC858')
                          else if lt.cause == 'Enfance'
                            i.fa.fa-child(style='color: #FF4F3C')
                      div.media-body
                        h5.media-heading <b>#{lt.org_name}</b>
                        h6.media-heading <b>#{lt.long_term.intitule}</b>
                        h6
                          i.fa.fa-map-marker
                          p.inline Adresse : #{lt.long_term.address}
                      div.media-right.media-middle
                        button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+lt.long_term._id) Plus d'infos
      .col-sm-8.col-xs-12.no-side-padding
        #map
  .container-fluid.footer
    .row
      .col-md-6.col-md-offset-2.col-xs-5.col-xs-offset-1
        p.text-left.left-align.white(style='white-space:pre;')
         | Contactez nous
         | 514-570-6926
         | francois@simplyk.org
      .col-md-4.col-xs-6
        p.white Suivez-nous !
        a(href="https://www.facebook.com/simplykMTL/?fref=ts")
          i.fa.fa-facebook.fa-2x#social
        a(href="https://twitter.com/simplykMTL")
          i.fa.fa-twitter.fa-2x#social
        a(href="https://angel.co/simplyk")
          i.fa.fa-angellist.fa-2x#social
        a(href="https://www.linkedin.com/company/simplyk")
          i.fa.fa-linkedin.fa-2x#social
    .row
      .text-center
        a.white.inline(href='/listorganisms') Liste des organismes
        p.white.inline -
        a.white.inline(href='/legal') Conditions d'utilisation



block footscript
  script.
    $( document ).ready(function() {
      $('#find_vol, #find_vol_bis').click(function(){
        $('html, body').animate({
          scrollTop: $('#map').offset().top - 70
        }, 500)
      });
      $('.list-group-item').attr('adult', function(i, val){
        var minAge = $(this).attr('min_age');
        var isAdult = false;
        if (minAge >= 16){
          isAdult = true;
        };
        console.log('isAdult : ' + isAdult);
        return isAdult;
      });
    });
  script.
    var acts = !{JSON.stringify(activities)};
    var lts = !{JSON.stringify(longterms)};
    var the_fav = !{JSON.stringify(the_favorite)};
  //clusterer api
  script(src="/javascripts/marker-clusterer.js", type="text/javascript")
  script(src='/javascripts/initmap.js')
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPJIqo9jqMb99E47aKuO64rxugd3S-Wk&callback=initMap"
         async defer)
  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus();
    });

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-82053185-2', 'auto');
    ga('send', 'pageview');