extends ./g_layout.jade
block head
  title Simplyk : bénévolat à portée de main
  meta(name='description', content='La plateforme de mise en relation de jeunes bénévoles et d\'organismes à Montréal')
block vars
  - var page = 'accueil'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}

block content
  each act, index in activities
    #myModal(tabindex='-1', role='dialog', class='modal fade ' + act._id)
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;        
            #myModalLabel.h4.modal-title #{act.event_intitule} <small>par</small> <b>#{act.org_name}</b>
          .modal-body.my-modal-body
            h4 <b>#{act.intitule}</b>
            p <b>Adresse : </b> #{act.address}
            table.table
              tr
                th.text-center Nombre de bénévoles
                th.text-center Date
                th.text-center Heure de début
                th.text-center Heure de fin
              each day, nb in act.days
                tr
                  td.text-center= day.vol_nb
                  td.text-center= days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()
                  td.text-center= day.start_time
                  td.text-center= day.end_time
                #identifiant(style="display:none")
                  p= act._id
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Fermer
            a#link-btn-ref.btn.btn-default(href='login') S'inscrire
            a#link-btn-ref.btn.btn-default(href='login') Plus d'infos
  each lt, index in longterms
    div(tabindex='-1', role='dialog', class='modal fade ' + lt.long_term._id, id=lt.long_term._id)
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;        
            #myModalLabel.h4.modal-title #{lt.long_term.intitule} <small>par</small> <b>#{lt.org_name}</b>
          .modal-body.my-modal-body
            h4 <b>#{lt.long_term.intitule}</b>
            p #{lt.long_term.description}
            p <b>Adresse : </b> #{lt.long_term.address}
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Fermer
            a#link-btn-ref.btn.btn-default(href='login') S'inscrire
            a#link-btn-ref.btn.btn-default(href='login') Plus d'infos
  .container-fluid.degrade
    #first_section_entrance.row
      .col-md-8.col-md-offset-2
        .logo.text-center.center-block
          div
            img#logo_entrance(src='images/simplyk_log_text_v2.png', align='middle')
          div
            h1.text-center La plateforme de mise en relation entre organismes et bénévoles! <br><br>
          div.text-center
            button#find_vol.btn.btn-warning.btn-lg.center-block <b>TROUVE TON BÉNÉVOLAT</b>
        if error
          p.alert.alert-danger ERROR : #{error}
  .container-fluid
    .row.fill
      #offers-list.col-sm-4.hidden-xs.no-side-padding.scrollable
        ul.list-group.list-opportunity
          if error
            p.alert.alert-danger #{error}
          if success
            p.alert.alert-success #{success}
          h3.text-center
            img(src='http://i.giphy.com/7WH2eHCxpFcI0.gif' style='height: 1.5em; width: auto;')
            p.inline.text-shadowed <b>COUP DE COEUR</b>
          li.list-group-item(id= the_favorite._id)
            .panel.panel-default
              .panel-heading
                div.media-left.media-middle
                  a(href='#')
                    //img.media-object.little-img(src='/images/clouds.jpg')
                    if the_favorite.cause == 'Solidarité'
                      i.fa.fa-heart
                    else if the_favorite.cause == 'Nature'
                      i.fa.fa-envira(style='color: #5BCF8F')
                    else if the_favorite.cause == 'Sport et Culture'
                      i.fa.fa-institution(style='color: #FFC858')
                    else if the_favorite.cause == 'Enfance'
                      i.fa.fa-child(style='color: #FF4F3C')
                div.media-body
                  h4.media-heading <b>#{the_favorite.org_name}</b>
                  h5.media-heading <b>#{the_favorite.intitule}</b>
                  h6
                    i.fa.fa-map-marker
                    p.inline Adresse : #{the_favorite.address}
              .panel-body
                h4 Dans le cadre de : <b>#{the_favorite.event_intitule}</b>
                p= the_favorite.description
                each day, day_i in the_favorite.days
                  h4
                    h5.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + correctDate(day.day).getDate() + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
                    h6.inline
                      i.fa.fa-user
                      p.inline= (day.vol_nb-day.applicants.length)+' places restantes'
                    h2
              .panel-footer
                button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+the_favorite._id) Plus d'infos

          each act, index in activities
            if act._id != the_favorite._id
              li.hidden.list-group-item(id= act._id)
                .panel.panel-default
                  .panel-heading
                    div.media-left.media-middle
                      a(href='#')
                        if act.cause == 'Solidarité'
                          i.fa.fa-heart
                        else if act.cause == 'Environnement'
                          i.fa.fa-envira(style='color: #5BCF8F')
                        else if act.cause == 'Sport et Culture'
                          i.fa.fa-institution(style='color: #FFC858')
                        else if act.cause == 'Enfance'
                          i.fa.fa-child(style='color: #FF4F3C')
                    div.media-body
                      h4.media-heading <b>#{act.org_name}</b>
                      h5.media-heading <b>#{act.intitule}</b>
                      h6
                        i.fa.fa-map-marker
                        p.inline Adresse : #{act.address}
                    div.media-right.media-middle
                      button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+act._id) Plus d'infos
                  .panel-body
                      h4 Dans le cadre de : <b>#{act.event_intitule}</b>
                      each day, day_i in act.days
                        h4
                          h5.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
                          h6.inline
                            i.fa.fa-user
                            p.inline= (day.vol_nb-day.applicants.length)+' places restantes'
      .col-sm-8.no-side-padding
        #map
  .container-fluid.footer
    .row
      .col-md-6.col-md-offset-2.col-xs-5.col-xs-offset-1
        p.text-left.left-align.white(style='white-space:pre;')
         | Contactez nous
         | 514-570-6926
         | francois@simplyk.org
      .col-md-4.col-xs-6
        p.white Suivez-nous !
        a(href="https://www.facebook.com/simplykMTL/?fref=ts")
          i.fa.fa-facebook.fa-2x#social
        a(href="https://twitter.com/simplykMTL")
          i.fa.fa-twitter.fa-2x#social
        a(href="https://angel.co/simplyk")
          i.fa.fa-angellist.fa-2x#social
        a(href="https://www.linkedin.com/company/simplyk")
          i.fa.fa-linkedin.fa-2x#social
    .row
      .text-center
        a.white(href='/listorganisms') Liste des organismes



block footscript
  script.
    $( document ).ready(function() {
      $('#find_vol, #find_vol_bis').click(function(){
        $('html, body').animate({
          scrollTop: $('#map').offset().top - 70
        }, 500)
      });
    });
    function initMap(){
      function listStar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).addClass('starring');
        console.log(listElement);
      }
      function listUnstar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).removeClass('starring');
        console.log(listElement);
      }
      function openListInfos(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        listElement.childNodes[2].childNodes[0].click();
        console.log(listElement.childNodes[2]);
      }
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: {lat: 45.503, lng: -73.613},
        zoom: 12,
        streetViewControl: false,
        mapTypeControl: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      //Generate markers
      var acts = !{JSON.stringify(activities)};
      var lts = !{JSON.stringify(longterms)};
      const the_fav = !{JSON.stringify(the_favorite)};
      var infowindows = [];
      var imageSol = {
      url: '/images/Perso/blue-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var imageEnv = {
      url: '/images/Perso/green-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var imageCul = {
      url: '/images/Perso/yellow-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var imageEnf = {
      url: '/images/Perso/red-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var markers = [];
      var options = {
            gridSize: 50,
            maxZoom: 13,
            minimumClusterSize: 15,
            imagePath: 'images/m'
        };
      function attachInfoWindow(marker, infoWindow, act, i){
        if(marker){
          marker.addListener('click', function(){
            $("."+act._id).modal();
          });
          marker.addListener('mouseover', function(){
            infoWindow.open(map, marker);
            //listStar(i);
          });
          marker.addListener('mouseout', function(){
            infoWindow.close();
            //listUnstar(i);
          });
          if(act._id.toString() == the_fav._id.toString()){
            $('#'+the_fav._id).hover(function(e){
              infoWindow.open(map, marker);
            }, function(e){
              infoWindow.close();
            });
            marker.addListener('mouseover', function(){
              //infoWindow.open(map, marker);
              $('#'+the_fav._id).addClass('starring');
            });
            marker.addListener('mouseout', function(){
              //infoWindow.close();
              $('#'+the_fav._id).removeClass('starring');
            });
          };
        } else {
          console.log('Marker is not defined in attachInfoWindow');
        };
      };
      var legend = document.createElement('div');
        legend.id = 'legend';
        var content = [];
        content.push('<h5 class="leaf" style="margin-top:5px; margin-bottom:5px;"><i class="fa fa-envira fa-lg fa-fw leaf"></i> Nature </h5><br>');
        content.push('<h5 class="soli" style="margin-top:5px; margin-bottom:5px;"><i class="fa fa-heart fa-lg fa-fw soli"></i> Solidarité </h5><br>');
        content.push('<h5 class="cult" style="margin-top:5px; margin-bottom:5px;"><i class="fa fa-institution fa-lg fa-fw cult"></i> Sport et culture </h5><br>');
        content.push('<h5 class="child" style="margin-top:5px; margin-bottom:5px;"><i class="fa fa-child fa-lg fa-fw child"></i> Enfance </h5>');
        legend.innerHTML = content.join('');
        legend.index = 1;
        map.controls[google.maps.ControlPosition.LEFT_TOP].push(legend);
      for(i=0; i<acts.length; i++){
        console.log(acts[i].intitule + " marker generated with lat and lon : " + acts[i].lat + acts[i].lon);
        var act = acts[i];
        var lati = act.lat+0.005*(Math.random()-0.5);
        var longi = act.lon+0.005*(Math.random()-0.5);
        infowindows[i] = new google.maps.InfoWindow({
          content: act.org_name + '<br>' + act.intitule
        });
        if (acts[i].cause=='Nature'){
          markers[i] = new google.maps.Marker({
            position: {lat: lati, lng: longi},
            map: map,
            icon: imageEnv,
            clickable: true
          });
        } else if (acts[i].cause=='Solidarité'){
          markers[i] = new google.maps.Marker({
            position: {lat: lati, lng: longi},
            map: map,
            icon: imageSol,
            clickable: true
          });
        } else if (acts[i].cause=='Sport et Culture'){
          markers[i] = new google.maps.Marker({
            position: {lat: lati, lng: longi},
            map: map,
            icon: imageCul,
            clickable: true
          });
        } else if (acts[i].cause=='Enfance'){
        markers[i] = new google.maps.Marker({
          position: {lat: lati, lng: longi},
          map: map,
          icon: imageEnf,
          clickable: true
        });
        } else {
          markers[i] = null;
        }
        attachInfoWindow(markers[i], infowindows[i], act, i);
      };
      //Attach marker to each longterms
      for(j=0+acts.length; j<lts.length+acts.length; j++){
        console.log(lts[j-acts.length].long_term.intitule + " marker generated with lat and lon : " + lts[j-acts.length].long_term.lat + lts[j-acts.length].long_term.lon);
        var lt = lts[j-acts.length];
        var latj = lt.long_term.lat+0.005*(Math.random()-0.5);
        var longj = lt.long_term.lon+0.005*(Math.random()-0.5);
        infowindows[j] = new google.maps.InfoWindow({
          content: lt.org_name + '<br>' + lt.long_term.intitule
        });
        console.log('lts[j-acts.length] : '+ JSON.stringify(lts[j-acts.length]));
        //choix du marqueur en fonction de la cause, changer avec le json
        if (lts[j-acts.length].cause=='Nature'){
        markers[j] = new google.maps.Marker({
          position: {lat: latj, lng: longj},
          map: map,
          icon: imageEnv,
          clickable: true
        });
        }
        else if (lts[j-acts.length].cause=='Solidarité'){
        markers[j] = new google.maps.Marker({
          position: {lat: latj, lng: longj},
          map: map,
          icon: imageSol,
          clickable: true
        });
        } else if (lts[j-acts.length].cause=='Sport et Culture'){
        markers[j] = new google.maps.Marker({
          position: {lat: latj, lng: longj},
          map: map,
          icon: imageCul,
          clickable: true
        });
        }
        else if (lts[j-acts.length].cause=='Enfance'){
        markers[j] = new google.maps.Marker({
          position: {lat: latj, lng: longj},
          map: map,
          icon: imageEnf,
          clickable: true
        });
        } else {
          markers[j] = null;
        }
        attachInfoWindow(markers[j], infowindows[j], lt.long_term, j);
      };
      var markerCluster = new MarkerClusterer(map, markers, options);
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPJIqo9jqMb99E47aKuO64rxugd3S-Wk&callback=initMap"
         async defer)
  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus();
    });

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-82053185-2', 'auto');
    ga('send', 'pageview');