//AMPLITUDE 
script(type='text/javascript').
    'use strict';
    console.info('window.l : ' + window.location.hostname);
    let env = 'dev';
    if (window.location.hostname != 'localhost' && window.location.hostname != 'afternoon-garden-54835.herokuapp.com') {
        env = 'prod'
        (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};var r=t.createElement("script");r.type="text/javascript";
        r.async=true;r.src="https://d24n15hnbwhuhn.cloudfront.net/libs/amplitude-3.0.1-min.gz.js";
        r.onload=function(){e.amplitude.runQueuedFunctions()};var i=t.getElementsByTagName("script")[0];
        i.parentNode.insertBefore(r,i);function s(e,t){e.prototype[t]=function(){this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
        return this}}var o=function(){this._q=[];return this};var a=["add","append","clearAll","prepend","set","setOnce","unset"];
        for(var u=0;u<a.length;u++){s(o,a[u])}n.Identify=o;var c=function(){this._q=[];return this;
        };var p=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"];
        for(var l=0;l<p.length;l++){s(c,p[l])}n.Revenue=c;var d=["init","logEvent","logRevenue","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","setGlobalUserProperties","identify","clearUserProperties","setGroup","logRevenueV2","regenerateDeviceId"];
        function v(e){function t(t){e[t]=function(){e._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
        }}for(var n=0;n<d.length;n++){t(d[n])}}v(n);n.getInstance=function(e){e=(!e||e.length===0?"$default_instance":e).toLowerCase();
        if(!n._iq.hasOwnProperty(e)){n._iq[e]={_q:[]};v(n._iq[e])}return n._iq[e]};e.amplitude=n;
        })(window,document);
        amplitude.getInstance().init("ef17265876bf3d89e2a3ee5995512724");
      }


if group == 'volunteer'
    script(type='text/javascript').
        'use strict';
        const vol = !{JSON.stringify(volunteer)};
        const has = !{JSON.stringify(hash)};
        console.log('hash : ' + has);
        window.intercomSettings = {
            app_id: "oora32p1",
            name: vol.firstname + ' ' + vol.lastname, // Full name
            email: vol.email, // Email address
            user_hash: has
        };
    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/oora32p1';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
else if group == 'admin'
    script(type='text/javascript').
        const adm = !{JSON.stringify(admin)};
        const has = !{JSON.stringify(hash)};
        console.log('hash : ' + has)
        window.intercomSettings = {
            app_id: "oora32p1",
            name: adm.firstname + ' ' + adm.lastname + '(' + adm.name + ')', // Full name
            user_id: adm._id, // Email address
            user_hash: has
        };
    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/oora32p1';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
else if group == 'organism'
    script(type='text/javascript').
        const org = !{JSON.stringify(organism)};
        const has = !{JSON.stringify(hash)};
        console.log('hash : ' + has)
        window.intercomSettings = {
            app_id: "oora32p1",
            name: org.org_name, // Full name
            user_id: org._id, // Email address
            user_hash: has
        };
    script.
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/oora32p1';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
