extends ./g_layout.jade
block vars
  - var page = 'organism'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
  - function getCauseDesign(cause){if (cause=='Solidarité') {return '#00b3ff'} else if (cause=='Sport et Culture') {return '#ffc858'} else if (cause=='Nature') {return '#5BCF8F'} else if (cause=='Enfance') {return '#FF4F3C'} else {return ''}}
block head
  title Organisme membre de Simplyk
  meta(name='description', content='Organisme publiant des opportunités sur Simplyk')
  style.
    .panel {margin-top: 5vh; margin-bottom: 5vh;}
    .background {background-color: #eee}
    .fa-bolt {color: #E3CF05}
    #bandeau {border-bottom: 1px solid #ddd}
    .categorie_title {margin-top: 6vh}
    .activity__unit {padding-top: 10px; padding-bottom: 10px;}
    .event_title {padding-bottom: 15px}
block content
  .container-fluid
    .row.fill#bandeau
      .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
        .panel.panel-default
          .panel-heading
            .media-left.media-middle
              if organism.cause == 'Solidarité'
                i.fa.fa-heart(style='color: #00b3ff')
              else if organism.cause == 'Nature'
                i.fa.fa-envira(style='color: #5BCF8F')
              else if organism.cause == 'Sport et Culture'
                i.fa.fa-institution(style='color: #FFC858')
              else if organism.cause == 'Enfance'
                i.fa.fa-child(style='color: #FF4F3C')
            .media-body
              .media-heading.text-center
                h3#org_name <b>#{organism.org_name}</b>
            .media-right.media-top
              a(href='http://'+organism.website) Site web
          .panel-body
            p <b>Responsable:</b> #{organism.firstname + ' ' + organism.lastname}
            if group
              p <b>Courriel:</b> #{organism.email}
              if organism.phone
                p <b>Téléphone:</b> #{organism.phone}
            h5.well <b>Mission : </b> #{organism.description}
            unless group
              a.btn.btn-warning.pull-right(href='/register_volunteer') Entrer en contact
    .row.fill.background
      .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
        .row.fill
          if organism.events.length > 0 || organism.long_terms.length > 0
            if organism.events.length > 0
              h3.text-center.categorie_title
                i.fa.fa-bolt
                p.inline <b>Leurs évènements</b>
              each event in organism.events
                .page-header.activity__unit
                  .event_title.text-center
                    h4= event.intitule
                    span.badge(style='background-color: '+getCauseDesign(organism.cause))= organism.cause
                  p.text-center <b>Adresse : </b> #{event.address}
                    each activity in event.activitiesFull
                      .activity_div.well(act_id=activity._id)
                        h5 <b>#{activity.intitule}</b>
                        if activity.days.length < 2
                          if activity.days[0] && activity.days[0].day
                            h4
                              h6.inline #{days_name[correctDate(activity.days[0].day).getDay()]  + ' ' + (correctDate(activity.days[0].day).getDate()) + ' ' + months_name[correctDate(activity.days[0].day).getMonth()]  + ' ' + correctDate(activity.days[0].day).getFullYear()}
                        else
                          if activity.days[0] && activity.days[0].day && activity.days[1] && activity.days[1].day
                            h6.inline #{days_name[correctDate(activity.days[0].day).getDay()]  + ' ' + (correctDate(activity.days[0].day).getDate()) + ' ' + months_name[correctDate(activity.days[0].day).getMonth()]  + ' ' + correctDate(activity.days[0].day).getFullYear()}, #{days_name[correctDate(activity.days[1].day).getDay()]  + ' ' + (correctDate(activity.days[1].day).getDate()) + ' ' + months_name[correctDate(activity.days[1].day).getMonth()]  + ' ' + correctDate(activity.days[1].day).getFullYear()}, ...
            if organism.long_terms.length > 0
              h3.text-center.categorie_title
                //i.fa.fa-bolt
                p.inline <b>Leurs engagements</b>
              each longterm in organism.long_terms
                .page-header.activity__unit.longterm_div(lt_id=longterm._id)
                  .event_title.text-center
                    h4= longterm.intitule
                    span.badge(style='background-color: '+getCauseDesign(organism.cause))= organism.cause
                  p.text-center <b>Adresse : </b> #{longterm.address}
          else
            h3.text-center.categorie_title
              //i.fa.fa-bolt
              p.inline <b>Pas d'opportunités</b>


block footscript
  script(type="text/javascript").
    'use strict';
    $('.background').css('min-height', $( window ).height() - $('#bandeau').height());
    $(document).ready(function(){
      $('.activity_div').each(function(){
        $(this).css('cursor', 'pointer').click(function(){
          window.location.href = '/all/activity/'+$(this).attr('act_id');
        }).hover(function(e){
          $(this).css('border-color', e.type === "mouseenter"?"#ccc":"#e3e3e3").css('background-color', e.type === "mouseenter"?"#eee":"#f5f5f5");
        });
      });
      $('.longterm_div').each(function(){
        $(this).css('cursor', 'pointer').click(function(){
          window.location.href = '/all/longterm/'+$(this).attr('lt_id');
        }).hover(function(e){
          $(this).css('border-color', e.type === "mouseenter"?"#ccc":"#e3e3e3").css('background-color', e.type === "mouseenter"?"#eee":"#fff");
        });
      });
      if (env == 'prod') {
        amplitude.getInstance().logEvent('g_visit_organism');
        const org_name = $('#org_name').val();
        let event_props = {};
        event_props.organism = org_name;
        $('#activity_subscribe_form').submit(function(){
          amplitude.getInstance().logEvent('v_subscribe_opp', event_props);
          amplitude.getInstance().logEvent('g_revenue');
        });
        $('.activity_div').each(function(){
          $(this).click(function(){
            amplitude.getInstance().logEvent('v_click_activity_in_organism');
          });
        });
      }
    });