extends ./g_layout.jade
block vars
  - var page = 'organism'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
  - function getCauseDesign(cause){if (cause=='Solidarité') {return '#00b3ff'} else if (cause=='Sport et Culture') {return '#ffc858'} else if (cause=='Nature') {return '#5BCF8F'} else if (cause=='Enfance') {return '#FF4F3C'} else {return ''}}
block head
  title Organisme membre de Simplyk
  meta(name='description', content='Organisme publiant des opportunités sur Simplyk')
  style.
    .panel {margin-top: 5vh; margin-bottom: 5vh;}
    .background {background-color: #eee}
block content
  .container-fluid
    .row.fill.bandeau
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading
            .media-left.media-middle
              if organism.cause == 'Solidarité'
                i.fa.fa-heart(style='color: #00b3ff')
              else if organism.cause == 'Nature'
                i.fa.fa-envira(style='color: #5BCF8F')
              else if organism.cause == 'Sport et Culture'
                i.fa.fa-institution(style='color: #FFC858')
              else if organism.cause == 'Enfance'
                i.fa.fa-child(style='color: #FF4F3C')
            .media-body
              .media-heading.text-center
                h4 <b>#{organism.org_name}</b>
            .media-right.media-top
              a(href='http://'+organism.website) Site web
          .panel-body
            p <b>Responsable:</b> #{organism.firstname + ' ' + organism.lastname}
            p <b>Courriel:</b> #{organism.email}
            if organism.phone
              p <b>Téléphone:</b> #{organism.phone}
            h5.well <b>Mission : </b> #{organism.description}
    .row.fill.background
      .col-md-6.col-md-offset-3
        .row.fill
          each event in organism.events
            .page-header.activity__unit
              span.badge(style='background-color: '+getCauseDesign(organism.cause))= organism.cause
              h2= event.intitule
              p <b>Adresse : </b> #{event.address}
                each activity in event.activitiesFull
                  h4= activity.intitule
                  if activity.days.length < 2
                    if activity.days[0].day
                      h4
                        h6.inline <b>#{days_name[correctDate(activity.days[0].day).getDay()]  + ' ' + (correctDate(activity.days[0].day).getDate()) + ' ' + months_name[correctDate(activity.days[0].day).getMonth()]  + ' ' + correctDate(activity.days[0].day).getFullYear()}</b>
                  else
                    if activity.days[0].day && activity.days[1].day
                      h6.inline <b>#{days_name[correctDate(activity.days[0].day).getDay()]  + ' ' + (correctDate(activity.days[0].day).getDate()) + ' ' + months_name[correctDate(activity.days[0].day).getMonth()]  + ' ' + correctDate(activity.days[0].day).getFullYear()}</b>, <b>#{days_name[correctDate(activity.days[1].day).getDay()]  + ' ' + (correctDate(activity.days[1].day).getDate()) + ' ' + months_name[correctDate(activity.days[1].day).getMonth()]  + ' ' + correctDate(activity.days[1].day).getFullYear()}</b>, ...
          each longterm in organism.long_terms
            .row
              .page-header.activity__unit
                span.badge(style='background-color: '+getCauseDesign(organism.cause))= organism.cause
                h2= longterm.intitule
                p= longterm.description
                p <b>Nombre de places : </b> #{longterm.vol_nb}
                p <b>Adresse : </b> #{longterm.address}
                if error
                  p.alert.alert-danger= error

block footscript
  script(type="text/javascript").
    'use strict';
    $('.background').css('min-height', $( window ).height() - $('.bandeau').height());