extends ./g_layout.jade
block vars
  - var page = 'register'
block head
  title S'inscrire
  meta(name='description', content='Inscrivez-vous pour trouver du bénévolat, ou recruter des bénévoles')
block content
      #map-section.container-fluid
        .row
          .col-md-4.col-md-offset-4
            .page-header
              h1 Inscription
              .alert.alert-danger.hidden#email-exists
                | The email address you entered is already in use
              if error
                p.alert.alert-danger #{error}
                  .input-group.conn-input
                label.control-label Adresse courriel
                input#mail.form-control(type='email', placeholder='Ex: contact@simplyk.org', name='email', aria-describedby='basic-addon1', required)
          .col-md-2.col-md-offset-1
            .page-header
              h4 Ou si vous avez déjà un compte
            a.btn.btn-default(href='/login') Se connecter
        .row
          .col-md-4.col-md-offset-4
            form#registerform(action="/register_#{type}", method="post", role='form')
              if type == 'volunteer'
                .form-group.conn-input
                  label.control-label Adresse courriel
                  input#mail.form-control(type='email', placeholder='Ex: contact@simplyk.org', name='email', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Prénom
                  input#firstname.form-control(type='text', placeholder='', name='firstname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Nom
                  input#lastname.form-control(type='text', name='lastname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Date de naissance
                  input#birthdate.form-control(type='date', placeholder='', name='birthdate', aria-describedby='basic-addon1')
                .form-group.conn-input
                  input#admin_checkbox(type='checkbox' name='admin_checkbox') 
                  |   Je suis actuellement inscrit dans un établissement scolaire
                  br
                  .form-group.conn-input.hidden#admin_dropdown
                    label.control-label Établissement scolaire
                    select#admin.form-control(placeholder='', name='admin', aria-describedby='basic-addon1')
                      each school, school_i in schools_list
                        option= school
                  .form-group.conn-input.hidden#classes_dropdown
                    label.control-label Classe
                    each client, client_i in clients
                      select.form-control.hidden(placeholder='', aria-describedby='basic-addon1', id=client.id, class='client_classes_item')
                        each classe, classe_i in client.classes
                          option= classe
              if type == 'organism'
                .form-group.conn-input
                  label.control-label Nom de l'organisme
                  input#mail.form-control(type='text', placeholder='Ex: Simplyk', name='name', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Mission de l'organisme
                  input.form-control(type='text', name='description', aria-describedby='basic-addon1',rows="3",maxlength="300",required) 
                .form-group.conn-input
                  label.control-label Numéro de téléphone
                  input#mail.form-control(type='text', placeholder='Ex: 514 314 1592', name='phone', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Site web
                  input#mail.form-control(type='text', placeholder='Ex: www.simplyk.org', name='website', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Cause
                  select#cause.form-control(placeholder='', name='cause', aria-describedby='basic-addon1')
                    option Nature
                    option Solidarité
                    option Sport et Culture
                    option Enfance
                h2 Informations du responsable des bénévoles
                .form-group.conn-input
                  label.control-label Prénom
                  input#firstname.form-control(type='text', placeholder='', name='firstname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Nom
                  input#lastname.form-control(type='text', name='lastname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                    label.control-label Adresse courriel
                    input#mail.form-control(type='email', placeholder='Ex: contact@simplyk.org', name='email', aria-describedby='basic-addon1', required)
              if type == 'admin'
                .form-group.conn-input
                  label.control-label Nom de l'organisation
                  input#name.form-control(type='text', name='name', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Nom
                  input#lastname.form-control(type='text', name='lastname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Prénom
                  input#firstname.form-control(type='text', placeholder='', name='firstname', aria-describedby='basic-addon1', required)
                .form-group.conn-input
                  label.control-label Type d'organisation
                  select#type.form-control(placeholder='', name='type', aria-describedby='basic-addon1')
                    option Entreprise
                    option École
              .form-group.conn-input
                label.control-label Mot de passe
                input#password.form-control(type='password', placeholder='', name='password', aria-describedby='basic-addon1', required)
              .form-group.conn-input
                p.
                  En cliquant sur le bouton "s'inscrire", j'accepte les <a href="\legal">conditions générales d'utilisation </a>. Si je suis mineur je dois prévenir un responsable avant de me rendre à une activité.
              .form-group.conn-input
                input.btn.btn-default#submit-button(type='submit', form='registerform', value='S \'inscrire', style='margin-bottom: 50px;')
block footscript
  script(src="/bower_components/jquery-ui/ui/widgets/datepicker.js")
  script.
    $(document).ready(function(){
      var clients = !{JSON.stringify(clients)};
      if ( $('#birthdate').prop('type') != 'date' ) {
        $('#birthdate').datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1950:2020"
        });
      }
      $('#admin_checkbox').click(function(){
        $('#admin_dropdown').removeClass('hidden');
        $('#admin_dropdown').toggle(this.checked);
      });
      $('#admin').change(function(){
        $('#classes_dropdown').addClass('hidden');
        $('.client_classes_item').addClass('hidden');
        $('.client_classes_item').removeAttr('name');
        console.info('Admin changed');
        var school = $('#admin').val();
        var school_index = clients.map(function(c){return c.name;}).indexOf(school);
        if (school_index != -1){
          var classes_number = clients[school_index].classes.length;
          if(classes_number>0){
            var client_selected_id = clients[school_index].id;
            $('#classes_dropdown').removeClass('hidden');
            $('#'+client_selected_id).removeClass('hidden');
            $('#'+client_selected_id).attr('name', 'classe');
            console.info('Admin changed and this is a client school');
          }
        }
      });
    })
    var password = document.getElementById('password');
  script.
    $('form#registerform').submit(function(e) {
        e.preventDefault(); // Prevent default post
        var form = $(this);

        function onSuccess(response) {
            if(response.exists) {
                console.log('Email already exists'); 
                $('#email-exists').removeClass('hidden');
                window.scrollTo(0,0);
            }
            else{
                //Remove the current event handler and submit
                $('form#registerform').unbind('submit'); 
                $('form#registerform').submit();
            }
        }

        $.ajax({
            type: 'POST',
            url: 'register_check', 
            data: form.serialize(),
            success: onSuccess
        });
    });