extends ./g_layout.jade
block vars
  - var page = 'us'
  
block head
  title À propos de Simplyk
  meta(name='description', content='Simplyk: à propos')
block content
  .container-fluid
    .row(style='border-bottom: 1px solid #ccc')
      ul.nav.nav-pills#nav-us
        li(role='presentation')
          a#being-button(href='#') <i class='fa fa-tachometer'></i> #{__("raison_detre")}
        li(role='presentation')
          a#history-button(href='#') <i class='fa fa-paper-plane-o'></i> #{__("our_story")}
        li(role='presentation')
          a#team-button(href='#') <i class='fa fa-space-shuttle'></i> #{__("team")}
        li(role='presentation')
          a#partners-button(href='#') <i class='fa fa-rss'></i> #{__("partners")}
        li(role='presentation')
          a#press-button(href='#') <i class='fa fa-newspaper-o'></i> #{__("press")}
    .row.not-fullscreen-section--1
      .section__title
        h2.text-center #{__("raison_detre")}
        h3.text-center.subtitle #{__("g_us_strong_values")}
      .row
        .col-md-4.col-md-offset-1
          .panel.panel-default(style='box-shadow: 1px 1px 1px #363;')
            .panel-heading
              span.pull-right.badge(style=('background-color : #363')) #{__("mission")}
              h2.subtitle.text-center #{__("mission")}
              img.center-block(src='images/target_tune.svg', style='max-height: 13vh;')

            .panel-body
              i.fa.fa-quote-left.fa-2x.fa-pull-left.fa-border
              h4.text.text-center #{__("g_us_simplyk_aims")}
              p.text.text-center #{__("g_us_mission")}
        .col-md-4.col-md-offset-2
          .panel.panel-default(style='box-shadow: 1px 1px 1px #363;')
            .panel-heading
              span.pull-right.badge(style=('background-color : #363')) #{__("values")}
              h2.subtitle.text-center #{__("simplyk_constitution")}
              img.center-block(src='images/book_of_ester_tune.svg', style='max-height: 13vh;')
            .panel-body
              i.fa.fa-quote-left.fa-2x.fa-pull-left.fa-border
              h4.text.text-center #{__("g_us_simplyk_is")}
              p.text.text-center <b>Article 1 :</b>  #{__("g_us_art_1")}
              p.text.text-center <b>Article 2 :</b>  #{__("g_us_art_2")}
              p.text.text-center <b>Article 3 :</b>  #{__("g_us_art_3")}
              p.text.text-center <b>Article 4 :</b>  #{__("g_us_art_4")}<b>Article 3</b>
    .row.not-fullscreen-section--2#history
      .section__title
        h2.text-center #{__("our_story")}
        h3.text-center.subtitle #{__("g_simplyk_start")}
      .row
        .col-md-4.col-md-offset-1
          img.center-block(src='/images/our_history.jpg', style='box-shadow: 1px 1px 3px #363; margin-top: 20px; margin-bottom: 20px; max-height: 30vh')
          h4.text-center #{__("g_us_fr_th")}
        .col-md-4.col-md-offset-2
          .panel.panel-default(style='box-shadow: 1px 1px 1px #363;')
            .panel-heading
              span.pull-right.badge(style=('background-color : #363')) #{__("our_story")}
              h2.subtitle.text-center #{__("g_us_birth")}
              img.center-block(src='images/birth_tune.svg', style='max-height: 13vh;')
            .panel-body
              i.fa.fa-quote-left.fa-2x.fa-pull-left.fa-border
              p.text.text-center #{__("g_us_story")}
    .row.not-fullscreen-section--1#team
      .section__title
        h2.text-center #{__("team")}
      .row
        .col-xs-10.col-xs-offset-1
          .row
            h3.text-center.subtitle #{__("g_us_team_description")}
          .row(style='margin-top: 10vh;')
            .col-md-4.col-xs-12
              .panel.panel-default.panel-profile
                .panel-heading
                  a.pull-right(href='https://www.linkedin.com/in/francoisdekerret/' target="_blank")
                    i.fa.fa-linkedin
                  h3.text-center François
                .panel-body.text-center
                  img(src='images/francois.jpg').img-responsive.center-block.img-portrait
                  .caption
                    p
                    p CEO, <small>#{__("cofounder")}</small>
            .col-md-4.col-xs-12
              .panel.panel-default.panel-profile
                .panel-heading
                  a.pull-right(href='https://www.linkedin.com/in/thibaut-jaurou/' target="_blank")
                    i.fa.fa-linkedin
                  h3.text-center Thibaut
                .panel-body.text-center
                  img(src='images/thibaut.jpg').img-responsive.center-block.img-portrait
                  .caption
                    p
                    p CTO, <small>#{__("cofounder")}</small>
            .col-md-4.col-xs-12
              .panel.panel-default.panel-profile
                .panel-heading
                  a.pull-right(href='https://www.linkedin.com/in/nolwendesire/' target="_blank")
                    i.fa.fa-linkedin
                  h3.text-center Nolwen
                .panel-body.text-center
                  img(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAX-AAAAJGVlZWUxZjdjLTI5ODAtNDgzZS05ZWU2LWQ3MGRmZjg0NmVhNQ.jpg').img-responsive.center-block.img-portrait
                  .caption
                    p  
                    p #{__("g_us_nolwen")}
            .col-md-4.col-xs-12
              .panel.panel-default.panel-profile
                .panel-heading
                  a.pull-right(href='https://www.linkedin.com/in/ali-zniber-16467987/' target="_blank")
                    i.fa.fa-linkedin
                  h3.text-center Ali
                .panel-body.text-center
                  img(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAifAAAAJGRjMGM1MTE1LTc3ZjUtNDc4OC1hMzQxLTI2YjMzYWZiNWM0MA.jpg').img-responsive.center-block.img-portrait
                  .caption
                    p  
                    p #{__("g_us_ali")}
            .col-md-4.col-xs-12
              .panel.panel-default.panel-profile
                .panel-heading
                  a.pull-right(href='https://www.linkedin.com/in/alison-stevens-874b5319/' target="_blank")
                    i.fa.fa-linkedin
                  h3.text-center Alison
                .panel-body.text-center
                  img(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAx8AAAAJDczZjRkOWRkLTg1OGQtNDI3ZC1iZTFiLTFhMDZmNTJjOTY1Nw.jpg').img-responsive.center-block.img-portrait
                  .caption
                    p
                    p #{__("g_us_alison")}
            .col-md-4.col-xs-12
              .panel.panel-default.panel-profile
                .panel-heading
                  a.pull-right(href='https://www.linkedin.com/in/sebastianaristizabal/' target="_blank")
                    i.fa.fa-linkedin
                  h3.text-center Sébastian
                .panel-body.text-center
                  img(src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANaAAAAJDExNDFjZTZiLTBiYzMtNGU4OC04ZmIzLTVhNThmODExZDlhMw.jpg').img-responsive.center-block.img-portrait
                  .caption
                    p
                    p #{__("g_us_seb")}
    .row.not-fullscreen-section--2#partners
      .section__title
        h2.text-center(style='color: black') #{__("partners")}
      .row
        .col-xs-10.col-xs-offset-1
          .row
            h3.text-center.subtitle #{__("g_us_important_partners")}
          .row(style='margin-top: 15vh;')
            .col-md-3.col-xs-6
              a(href='https://mobilisonslocal.ca/' target="_blank")
                img.center-block(src='http://veilleaction.org/images/Mobilisons_Local.PNG', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='http://www.cabm.net/' target="_blank")
                img.center-block(src='https://www.arrondissement.com/userImgs/directory/logos/260x140/47073.jpg', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='https://www.facebook.com/NOVA.HEC.MTL/' target="_blank")
                img.center-block(src='https://scontent.fyhu1-1.fna.fbcdn.net/v/t1.0-9/11248879_905913282832720_5434240178862469539_n.png?oh=4e0c2ee4d947892ce437c15046cfc846&oe=5945E769', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='http://cjestlaurent.org/' target="_blank")
                img.center-block(src='http://cjestlaurent.org/wp-content/uploads/2016/04/Logo_CJE_hori.png', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
          .row(style='margin-top: 10vh;')
            .col-md-3.col-xs-6
              a(href='http://matv.ca/montreal' target="_blank")
                img.center-block(src='http://matv.ca/bundles/vox/images/logo-vox-ma-tv.png', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='http://d3center.ca/en/home/' target="_blank")
                img.center-block(src='http://d3center.ca/wp-content/uploads/2016/08/D3-logo-print-nowords.png', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='http://www.esplanademtl.org/' target="_blank")
                img.center-block(src='http://www.esplanademtl.org/wp-content/uploads/2015/10/logo-_esplanade-e1472753730414.jpg', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='http://cjecdn.qc.ca/' target="_blank")
                img.center-block(src='images/cje.png', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
          .row(style='margin-top: 10vh;')
            .col-md-3.col-xs-6
              a(href='http://www.rcjeq.org/' target="_blank")
                img.center-block(src='http://rcjeq.cameleonmedia.com/wp-content/uploads/2017/04/logo_denomination.png', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='http://www.cabsherbrooke.org/fr/accueil/' target="_blank")
                img.center-block(src='images/log_cabs.png', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='https://lexstart.ca/' target="_blank")
                img.center-block(src='images/lexstart', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
            .col-md-3.col-xs-6
              a(href='http://entrepreneuriat.poly-udem.ca/' target="_blank")
                img.center-block(src='http://entrepreneuriat.poly-udem.ca/profiles/minimal/themes/custom/lexus/logo.png', style='max-width:90%; max-height:15vh; padding-top: auto; margin-bottom: auto')
    .row.not-fullscreen-section--1#press
      .section__title
        h2.text-center #{__("press")}
        h3.text-center.subtitle #{__("g_us_media")}
      div(style='margin-top: 15vh; min-height: 50vh;')
        .row
          .col-md-2.col-md-offset-2.col-xs-6
            a(href='https://novae.ca/2016/12/simplyk-trouver-benevolat-correspond/' target="_blank")
              .panel.panel-default
                .panel-heading(style='background-color: black; height: 12vh;')
                  img.center-block(src='https://novae.ca/app/themes/novae/img/novae-logo-fr.png', style='max-width:100%; max-height:10vh; padding-top: auto; margin-bottom: auto')
                .panel-body.text-center(style='height: calc(100% - 12vh);')
                  p(style='color: black') #{__("g_press_novae")}
          .col-md-2.col-xs-6
            a(href='http://ici.radio-canada.ca/premiere/premiereplus/societe/85087/la-route-des-20-sur-les-traces-dune-generation' target="_blank")
              .panel.panel-default
                .panel-heading(style='height: 12vh;')
                  img.center-block(src='http://ici.radio-canada.ca/Content/_images/logo/svg/black/ici-radio-canada-ca.svg', style='max-width:100%; max-height:10vh; padding-top: auto; margin-bottom: auto')
                .panel-body.text-center(style='height: calc(100% - 12vh);')
                  p(style='color: black') #{__("g_press_radio_canada")}
          .col-md-2.col-xs-6.col-md-offset-0
            a(href='http://journalmetro.com/plus/carrieres/1085174/francois-de-kerret-un-jeune-homme%E2%80%A8-aux-grandes-ambitions/' target="_blank")
              .panel.panel-default
                .panel-heading(style='height: 12vh; background-color: #006330;')
                  img.center-block(src='images/metro.png', style='max-width:100%; max-height:10vh; padding-top: auto; margin-bottom: auto')
                .panel-body.text-center(style='height: calc(100% - 12vh);')
                  p(style='color: black') #{__("g_press_metro")}
          .col-md-2.col-xs-6
            a(href='http://cibl1015.com/' target="_blank")
              .panel.panel-default
                .panel-heading(style='height: 12vh; background-color: black;')
                  img.center-block(src='http://cibl1015.com/wp-content/uploads/2016/09/Logo_CIBL_2016.png', style='max-width:100%; max-height:10vh; padding-top: auto; margin-bottom: auto')
                .panel-body.text-center(style='height: calc(100% - 12vh);')
                  p(style='color: black') #{__("g_press_cibl")}
        .row(style='padding-top: 5vh')
          h4.text-center <b>#{__("g_us_start")}</b>
        .row.text-center
          a.btn.btn-default(href='/register_volunteer' style='margin-top: 5px') #{__("g_us_as_vol")}
        .row.text-center
          a.btn.btn-info(href='/register_volunteer' style='margin-top: 5px') #{__("g_us_as_org")}
    #footer.row(style='background-color: black; min-height: 15vh; color: white;')
      .col-md-12
        div.text-center
          h3 #{__("Follow_us")}
          a(href="https://www.facebook.com/simplykMTL/?fref=ts")
            i.fa.fa-facebook.fa-2x
          a(href="https://twitter.com/simplykMTL")
            i.fa.fa-twitter.fa-2x
          a(href="https://angel.co/simplyk")
            i.fa.fa-angellist.fa-2x
          a(href="https://www.linkedin.com/company/simplyk")
            i.fa.fa-linkedin.fa-2x
          h4 Credits <i class="fa fa-creative-commons" aria-hidden="true"></i>
      .row
        .col-md-3.col-md-offset-3
          p <a href='https://thenounproject.com/term/stopwatch/516405/'>Stopwatch</a> by Ozza Okuonghae / CC BY - <a href='https://thenounproject.com/term/star/919427/'>Star</a> by Ali Coskun / CC B - <a href='https://thenounproject.com/term/call-contact/624851/'>Call contact</a> by Consuelo Elo Graziola / CC BY - <a href='https://thenounproject.com/term/shoes/833812/'>Shoes</a> by Ozza Okuonghae / CC B - <a href='https://thenounproject.com/term/megaphone/431210/'>Megaphone</a> by Ozza Okuonghae / CC BY
        .col-md-3
          p <a href='https://thenounproject.com/term/seedling/659773/'>Seedling</a> by Peter K. / CC BY - <a href='https://thenounproject.com/term/book-of-ester/304884/'>Book Of Ester</a> by Gilad Sotil / CC BY - <a href='https://thenounproject.com/term/target/374837/'>Target</a> by Fernando Alfonso / CC B - <a href='https://thenounproject.com/term/hammer/677146/'>Hammer</a> by Joost Haar / CC BY - <a href='https://thenounproject.com/term/dog-balloon/885898/'>Dog Balloon</a> by Ozza Okuonghae / CC B - <a href='https://thenounproject.com/term/party/574842/'>Party</a> by Felix Westphal / CC BY


block footscript
  script.
    $( document ).ready(function() {
      if (env == 'prod') {
        amplitude.getInstance().logEvent('g_visit_us');
      }
      if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
        $('.jumbotron p').css('font-size', 'small');
      }
      $('#history-button').click(function(){
        $('html, body').animate({
          scrollTop: $('#history').offset().top - 50
        }, 500)
      });
      $('#being-button').click(function(){
        $('html, body').animate({
          scrollTop: $('#nav-us').offset().top - 50
        }, 500)
      });
      $('#partners-button').click(function(){
        $('html, body').animate({
          scrollTop: $('#partners').offset().top - 50
        }, 500)
      });
      $('#press-button').click(function(){
        $('html, body').animate({
          scrollTop: $('#press').offset().top - 50
        }, 500)
      });
      $('#team-button').click(function(){
        $('html, body').animate({
          scrollTop: $('#team').offset().top - 50
        }, 500)
      });
    });