extends ./g_layout.jade
block vars
  - var page = 'dashboard'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
block head
  title Tableau de bord
  meta(name='description', content='Gérer ses bénévoles et ses demandes de bénévoles')
block content
      .container-fluid
        .row
          .col-md-8
            if error
              p.alert.alert-danger #{error}
          .col-md-4
            h2.pull-left Mes infos
        .row
          .col-md-4.col-md-offset-8
            .media
              .media-left.media-middle
                img.media-object.img-profile(src='/images/rocket.png')
              .media-body.media-middle
                h4.media-heading= organism.org_name
                if group == 'organism'
                  a(href='http://www.'+organism.website)= organism.website
                  h4
                    i.fa.fa-phone
                    p.inline #{organism.phone}
                h4
                  i.fa.fa-envelope
                  p.inline #{organism.email}
                br

        if group == 'organism'
          .row
            .col-md-4.col-md-offset-8
              p <b>Description</b> : #{organism.description}
        .row
          .col-md-10.col-md-offset-1
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#needs' aria-controls='needs' role='tab' data-toggle='tab') 
                  h4 Mes besoins
              li(role='presentation')
                a(href='#todo' aria-controls='todo' role='tab' data-toggle='tab') 
                  h4 À faire 
                    span.badge(style='background-color: #C11')= todos.length
        .row
          .tab-content
            #needs.tab-pane.fade.active.in(role='tabpanel')
              .col-md-4.col-md-offset-1
                h2.page-header Mes bénévoles ponctuels
                if error
                  p.alert.alert-danger #{error}
                h4 Besoin de bénévoles pour un évènement ponctuel ?
                a.btn.btn-default(href='/organism/addevent') Ajouter un évènement !
                h3
                ul.list-group.list-opportunity
                  if ev_to_come.length
                    h3 À venir
                  each event, event_i in ev_to_come
                    li.list-group-item(id= event._id)
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-top
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b>
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{event.address}
                        .panel-body
                          each act, act_i in event.acts
                            h4 <b>#{act.intitule}</b>
                            each day, day_i in act.days
                              h4
                                h5.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
                                h6.inline
                                  i.fa.fa-user
                                  p.inline= day.applicants.length+' bénévoles se sont inscrits'
                            div.media-right.media-middle
                        .panel-footer
                          a.btn.btn-default.infos-button-event(id= event._id, href='/organism/event/'+event._id) Informations
                  if ev_past.length
                    h3 Terminés
                  each event, event_i in ev_past
                    li.list-group-item(id= event._id)
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-top
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b>
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{event.address}
                        .panel-body
                          each act, act_i in event.acts
                            h4 <b>#{act.intitule}</b>
                            each day, day_i in act.days
                              h4
                                h5.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
                                h6.inline
                                  i.fa.fa-user
                                  p.inline= day.applicants.length+' bénévoles se sont inscrits'
                        .panel-footer
                          a.btn.btn-default.infos-button-event(id= event._id, href='/organism/event/'+event._id) Informations
              .col-md-4.col-md-offset-2.no-side-padding
                h2.page-header Mes bénévoles long terme
                h4 Besoin de bénévoles sur du long terme ?
                a.btn.longterm(href='/organism/addlongterm') Ajouter un engagement !
                h3
                ul.list-group
                  if organism.long_terms.length
                    h3 En cours
                  each lt, lt_i in organism.long_terms
                    li.list-group-item.list-longterm-item(id= lt._id)
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-top
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{lt.intitule}</b>
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{lt.address}
                        .panel-body
                          h6.inline
                            i.fa.fa-user
                            p.inline= lt.applicants.length+' bénévoles se sont inscrits'
                        .panel-footer
                          a.btn.infos-button-longterm.longterm(id= lt._id, href='/organism/longterm/'+lt._id) Informations
            #todo.tab-pane.fade(role='tabpanel')
              .col-md-10.col-md-offset-1
                if todos.length
                  each todo, todo_i in todos
                    li.list-group-item
                      if todo.type == 'hours_pending'
                        .panel.panel-default
                          .panel-heading
                            div.media
                              div.media-left.media-middle
                                span.badge(style='background-color: #5bcf8f') PONCTUEL
                              div.media-body
                                h4.media-heading <b>#{todo.event_name}</b> - #{todo.firstname} #{todo.lastname}
                              div.media-right
                          .panel-body
                            div.media
                              div.media-body
                               h5 #{todo.firstname} #{todo.lastname} a t-il bien réalisé #{todo.hours}h durant cet évènement (#{todo.activity_intitule}) ?
                              div.media-right.media-middle
                                if todo.student
                                  div.btn-group(style='width: 120px', todo=todo._id)
                                    button.btn.btn-default.confirm_hours_student(data-toggle='modal' data-target='#confirmationModal'+todo._id)
                                      i.fa.fa-thumbs-up
                                    .modal.fade(tabindex='-1', role='dialog' aria-labelledby="confirmationModalLabel", id='confirmationModal'+todo._id)
                                      div.modal-dialog(role='document')
                                        form.modal-content.confirmStudentHoursForm(id='confirmStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, type=todo.type, day=todo.day, todo=todo._id, hours=todo.hours, modal_id='#confirmationModal'+todo._id)
                                          .modal-header
                                            button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                              span(aria-hidden='true')
                                              h4.modal-title Validation de participation
                                            div.modal-body
                                              h4 Questions sur l'élève
                                              for question, q_i in todo.organism_questions
                                                div.form-group
                                                  label(for='confirmationHoursInput')= question
                                                  textarea.confirmation_text(name='answer'+q_i, form='confirmStudentHoursForm'+todo._id, minlength='10' required)
                                            div.modal-footer
                                              a.btn.btn-default(data-dismiss='modal') Annuler
                                              button.btn.btn-warning(type='submit' form='confirmStudentHoursForm'+todo._id) Envoyer
                                    button.btn.btn-warning.correct_hours_student(data-toggle='modal' data-target='#correctionModal'+todo._id)
                                      i.fa.fa-thumbs-down
                                    .modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel", id='correctionModal'+todo._id)
                                      div.modal-dialog(role='document')
                                        form.modal-content.correctStudentHoursForm(id='correctStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id, hours=todo.hours, type=todo.type, modal_id='#correctionModal'+todo._id)
                                          .modal-header
                                            button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                              span(aria-hidden='true')
                                              h4.modal-title Correction d'horaires
                                            div.modal-body
                                              p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                                              div.form-group
                                                label(for='correctionStudentHoursInput') Heures réellement réalisées 
                                                input.form-control(type='Number', min='0', max='50', step='0.5' class='correctionStudentHoursInput', name='correct_hours' required)
                                              for question, q_i in todo.organism_questions
                                                div.form-group
                                                  label(for='answer'+q_i)= question
                                                  textarea.correction_text(name='answer'+q_i, form='correctStudentHoursForm'+todo._id, minlength='10' required)
                                            div.modal-footer
                                              a.btn.btn-default(data-dismiss='modal') Annuler
                                              button.btn.btn-warning(type='submit' form='correctStudentHoursForm'+todo._id) Envoyer
                                else
                                  div.btn-group(style='width: 120px', todo=todo._id)
                                    button.btn.btn-default.validate_hours_pending(vol=todo.vol_id, act=todo.activity_id, type=todo.type, day=todo.day, todo=todo._id, hours=todo.hours)
                                      i.fa.fa-thumbs-up
                                    button.btn.btn-warning.decline_hours_pending(data-toggle='modal' data-target='#correctionModal'+todo._id)
                                      i.fa.fa-thumbs-down
                                    .modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel", id='correctionModal'+todo._id)
                                      div.modal-dialog(role='document')
                                        form.modal-content.correctHoursForm(id='correctHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id, hours=todo.hours, type=todo.type, modal_id='#correctionModal'+todo._id)
                                          .modal-header
                                            button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                              span(aria-hidden='true')
                                              h4.modal-title Correction d'horaires
                                            div.modal-body
                                              p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                                              div.form-group
                                                label(for='correctionHoursInput') Heures réellement réalisées
                                                input.form-control.correction_input(type='Number', min='0', max='50', step='0.5' id='correctionHoursInput', name='correct_hours' required)
                                            div.modal-footer
                                              a.btn.btn-default(data-dismiss='modal') Annuler
                                              button.btn.btn-warning(type='submit' form='correctHoursForm'+todo._id) Envoyer
                      else if todo.type === 'LThours_pending'
                        .panel.panel-default
                          .panel-heading
                            div.media
                              div.media-left.media-middle
                                span.badge(style='background-color: #E3DF2F') LONG TERME
                              div.media-body
                                h4.media-heading <b>#{todo.lt_intitule}</b> - #{todo.firstname} #{todo.lastname}
                              div.media-right
                          .panel-body
                            div.media
                              div.media-body
                                h5 #{todo.firstname} #{todo.lastname} a t-il bien réalisé #{todo.hours}h pour cet engagement ?
                              div.media-right.media-middle
                                if todo.student
                                  div.btn-group(style='width: 120px', todo=todo._id)
                                    button.btn.btn-default.confirm_hours_student(data-toggle='modal' data-target='#confirmationModal'+todo._id)
                                      i.fa.fa-thumbs-up
                                    .modal.fade(tabindex='-1', role='dialog' aria-labelledby="confirmationModalLabel" id='confirmationModal'+todo._id)
                                      div.modal-dialog(role='document')
                                        form.modal-content.confirmStudentHoursForm(id='confirmStudentHoursForm'+todo._id, vol=todo.vol_id, lt=todo.lt_id, todo=todo._id, type=todo.type, hours=todo.hours, modal_id='#confirmationModal'+todo._id)
                                          .modal-header
                                            button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                              span(aria-hidden='true')
                                              h4.modal-title Validation de participation
                                            div.modal-body
                                              h4 Questions sur l'élève
                                              for question, q_i in todo.organism_questions
                                                div.form-group
                                                  label(for='confirmationHoursInput')= question
                                                  textarea.confirmation_text(name='answer'+q_i, form='confirmStudentHoursForm'+todo._id, minlength='10' required)
                                            div.modal-footer
                                              a.btn.btn-default(data-dismiss='modal') Annuler
                                              input.btn.btn-warning(type='submit' form='confirmStudentHoursForm'+todo._id, value='Envoyer')
                                    button.btn.btn-warning.correct_hours_student(data-toggle='modal' data-target='#correctionModal'+todo._id)
                                      i.fa.fa-thumbs-down
                                    .modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel" id='correctionModal'+todo._id)
                                      div.modal-dialog(role='document')
                                        form.modal-content.correctStudentHoursForm(id='correctStudentHoursForm'+todo._id, vol=todo.vol_id, lt=todo.lt_id, todo=todo._id, type=todo.type, hours=todo.hours, modal_id='#correctionModal'+todo._id)
                                          .modal-header
                                            button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                              span(aria-hidden='true')
                                              h4.modal-title Correction d'horaires
                                            div.modal-body
                                              p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                                              div.form-group
                                                label(for='correctionStudentHoursInput') Heures réellement réalisées 
                                                input.form-control(type='Number', min='0', max='50', step='0.5' class='correctionStudentHoursInput', name='correct_hours' required)
                                              for question, q_i in todo.organism_questions
                                                div.form-group
                                                  label(for='answer'+q_i)= question
                                                  textarea.correction_text(name='answer'+q_i, form='correctStudentHoursForm'+todo._id, minlength='10' required)
                                            div.modal-footer
                                              a.btn.btn-default(data-dismiss='modal') Annuler
                                              button.btn.btn-warning(type='submit' form='correctStudentHoursForm'+todo._id) Envoyer
                                else
                                  div.btn-group(style='width: 120px', todo=todo._id)
                                    button.btn.btn-default.validate_hours_pending(vol=todo.vol_id, lt=todo.lt_id, todo=todo._id, hours=todo.hours)
                                      i.fa.fa-thumbs-up
                                    button.btn.btn-warning.decline_hours_pending(data-toggle='modal' data-target='#correctionModal'+todo._id)
                                      i.fa.fa-thumbs-down
                                    .modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel", id='correctionModal'+todo._id)
                                      div.modal-dialog(role='document')
                                        form.modal-content.correctHoursForm(id='correctHoursForm'+todo._id, vol=todo.vol_id, lt=todo.lt_id, todo=todo._id, type=todo.type, hours=todo.hours, modal_id='#correctionModal'+todo._id)
                                          .modal-header
                                            button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                              span(aria-hidden='true')
                                              h4.modal-title Correction d'horaires
                                            div.modal-body
                                              p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                                              div.form-group
                                                label(for='correctionHoursInput') Heures réellement réalisées
                                                input.form-control.correction_input(type='Number' id='correctionHoursInput', name='correct_hours', min='0', max='50', step='0.5' required)
                                            div.modal-footer
                                              a.btn.btn-default(data-dismiss='modal') Annuler
                                              button.btn.btn-warning(type='submit' form='correctHoursForm'+todo._id) Envoyer
                      else if todo.type == 'students_hours_pending'
                        .panel.panel-default
                          .panel-heading
                            div.media
                              div.media-left.media-middle
                                span.badge(style='background-color: #FF30B5') ÉLÈVE SECONDAIRE
                              div.media-body
                                h4.media-heading <b>#{todo.activity_intitule}</b> - #{todo.firstname} #{todo.lastname}
                              div.media-right
                          .panel-body
                            div.media
                              div.media-body
                               h5 #{todo.firstname} #{todo.lastname} a t-il bien réalisé #{todo.hours}h durant cet évènement (#{todo.activity_intitule}) ?
                              div.media-right.media-middle
                                div.btn-group(style='width: 120px', todo=todo._id)
                                  button.btn.btn-default.confirm_hours_student(data-toggle='modal' data-target='#confirmationModal'+todo._id)
                                    i.fa.fa-thumbs-up
                                  .modal.fade(tabindex='-1', role='dialog' aria-labelledby="confirmationModalLabel", id='confirmationModal'+todo._id)
                                    div.modal-dialog(role='document')
                                      form.modal-content.confirmStudentHoursForm(id='confirmStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id, hours=todo.hours, type=todo.type, modal_id='#confirmationModal'+todo._id)
                                        .modal-header
                                          button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                            span(aria-hidden='true')
                                            h4.modal-title Validation de participation
                                          div.modal-body
                                            h4 Questions sur l'élève
                                            for question, q_i in todo.organism_questions
                                              div.form-group
                                                label(for='confirmationHoursInput')= question
                                                textarea.confirmation_text(name='answer'+q_i, form='confirmStudentHoursForm'+todo._id, minlength='10' required)
                                          div.modal-footer
                                            a.btn.btn-default(data-dismiss='modal') Annuler
                                            button.btn.btn-warning(type='submit' form='confirmStudentHoursForm'+todo._id) Envoyer
                                  button.btn.btn-warning.correct_hours_student(data-toggle='modal' data-target='#correctionModal'+todo._id)
                                    i.fa.fa-thumbs-down
                                  .modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel", id='correctionModal'+todo._id)
                                    div.modal-dialog(role='document')
                                      form.modal-content.correctStudentHoursForm(id='correctStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id, hours=todo.hours, type=todo.type, modal_id='#correctionModal'+todo._id)
                                        .modal-header
                                          button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                            span(aria-hidden='true')
                                            h4.modal-title Correction d'horaires
                                          div.modal-body
                                            p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                                            div.form-group
                                              label(for='correctionStudentHoursInput') Heures réellement réalisées 
                                              input.form-control(type='Number', min='0', max='50', step='0.5' class='correctionStudentHoursInput', name='correct_hours' required)
                                            for question, q_i in todo.organism_questions
                                              div.form-group
                                                label(for='answer'+q_i)= question
                                                textarea.correction_text(name='answer'+q_i, form='correctStudentHoursForm'+todo._id, minlength='10' required)
                                          div.modal-footer
                                            a.btn.btn-default(data-dismiss='modal') Annuler
                                            button.btn.btn-warning(type='submit' form='correctStudentHoursForm'+todo._id) Envoyer

                else
                  h4.text-center Tout est à jour !



block footscript
  script.
    $(document).ready(function(){
      $('.correctHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let todo_id = $(this).attr('todo');
        let type = $(this).attr('type');
        let modal_id = $(this).attr('modal_id');
        let hours_before = $(this).attr('hours');
        let correct_hours = $(this).find('.correction_input').val();
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");

        if ($(this).attr('act')){
          let act_id = $(this).attr('act');
          let day = $(this).attr('day');
          $.post('/organism/correcthours', {vol_id: vol_id, type: type, act_id: act_id, day: day, todo: todo_id, correct_hours: correct_hours, hours_before: hours_before})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        } else if ($(this).attr('lt')){
          let lt_id = $(this).attr('lt');
          $.post('/organism/correcthours', {vol_id: vol_id, type: type, lt_id: lt_id, todo: todo_id, correct_hours: correct_hours, hours_before: hours_before})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        };
        $($(this).attr('modal_id')).modal('toggle');
        return false;
      });

      $('.validate_hours_pending').click(function(){
        //If activity
        if($(this).attr('act')){
          let vol_id = $(this).attr('vol');
          let act_id = $(this).attr('act');
          let type = $(this).attr('type');
          let day = $(this).attr('day');
          let modal_id = $(this).attr('modal_id');
          let todo_id = $(this).attr('todo');
          let hours = $(this).attr('hours');
          let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
          $.post('/organism/confirmhours', {vol_id: vol_id, type: type, act_id: act_id, day: day, todo: todo_id, hours: hours})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        } else if ($(this).attr('lt')){
          let vol_id = $(this).attr('vol');
          let lt_id = $(this).attr('lt');
          let type = $(this).attr('type');
          let todo_id = $(this).attr('todo');
          let hours = $(this).attr('hours');
          let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
          $.post('/organism/confirmhours', {vol_id: vol_id, type: type, lt_id: lt_id, todo: todo_id, hours: hours})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        } else {
          console.log("Error: " + data.error);
          input_group.replaceWith('<p><b>Il y a une erreur</b></p>');
        };
        $($(this).attr('modal_id')).modal('toggle');
        return false;
      });
      $('.confirmStudentHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let todo_id = $(this).attr('todo');
        let hours = $(this).attr('hours');
        let modal_id = $(this).attr('modal_id');
        let type = $(this).attr('type');
        let answers_input = $(this).find('.confirmation_text');
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        let answers_json = $(this).serializeArray();
        console.log('answers_json : ' + JSON.stringify(answers_json));
        console.log('$(this).attr("act") : ' + $(this).attr("act"));
        console.log('$(this).attr("lt") : ' + $(this).attr("lt"));
        console.log('typeof $(this).attr("act") : ' + typeof $(this).attr("act"));
        console.log('typeof $(this).attr("lt") : ' + typeof $(this).attr("lt"));
        if(typeof $(this).attr('act') !== 'undefined'){
          console.log('We are beginning activity confirm_hours_student');
          let act_id = $(this).attr('act');
          let day = $(this).attr('day');
          $.post('/organism/confirmhours', {vol_id: vol_id, act_id: act_id, day: day, todo: todo_id, answers: answers_json, hours: hours, type: type})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        } else if (typeof $(this).attr('lt') !== 'undefined'){
          console.log('We are beginning longterm confirm_hours_student');
          let lt_id = $(this).attr('lt');
          $.post('/organism/confirmhours', {vol_id: vol_id, lt_id: lt_id, todo: todo_id, answers: answers_json, hours: hours, type: type})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        };
        $($(this).attr('modal_id')).modal('toggle');
        return false;
      });
      $('.correctStudentHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let todo_id = $(this).attr('todo');
        let hours_before = $(this).attr('hours');
        let type = $(this).attr('type');
        let modal_id = $(this).attr('modal_id');
        let answers_input = $(this).find('.correction_text');
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        let answers_json = $(this).serializeArray();
        console.log('answers_json : ' + JSON.stringify(answers_json));
        let correct_hours = ($(this).find('.correctionStudentHoursInput')).val();
        if($(this).attr('act')){
          let act_id = $(this).attr('act');
          let day = $(this).attr('day');
          $.post('/organism/correcthours', {vol_id: vol_id, act_id: act_id, day: day, todo: todo_id, answers: answers_json, correct_hours: correct_hours, hours_before: hours_before, type: type})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        } else if ($(this).attr('lt')){
          let lt_id = $(this).attr('lt');
          $.post('/organism/correcthours', {vol_id: vol_id, lt_id: lt_id, todo: todo_id, answers: answers_json, correct_hours: correct_hours, hours_before: hours_before, type: type})
          .done(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        };
        $($(this).attr('modal_id')).modal('toggle');
        return false;
      });
    })