extends ./g_layout.jade
block vars
  - var page = 'dashboard'


block content
      .container-fluid
        .row.fill
          #offers-list.col-md-4.col-md-offset-1.no-side-padding
            h1.page-header Mes mandats
            h3.page-header Mes évènements
            if error
              p.alert.alert-danger #{error}
            ul.list-group.list-opportunity
              each val, index in events
                li.list-group-item(id= val.id)
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object(src='/images/clouds.jpg')
                  div.media-body
                    h4.media-heading= val.intitule
                    p= 'Pour ' + val.nbBenevoles + ' bénévoles'
                    p= 'Adresse: '+ val.address
                    //p= val.activities[0].applications.length+' people applied'
                  div.media-right.media-middle
                    button.info-button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+val._id) Informations
                    div(tabindex='-1', role='dialog', class= 'modal fade '+val._id)
                      .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;
                              #myModalLabel.h4.modal-title= val.orgName + ' - ' + val.intitule
                            .modal-body.my-modal-body
                              p= 'Date: '+ val.date
                              p= 'Pour ' + val.nbBenevoles + ' bénévoles'
                              p= 'Adresse: '+ val.address
                              p= 'Applicants'
                              if val.applications
                                each value, i in val.applications
                                  p= value.applicant.firstname
                                  p DATAS :
                                  p.applicants
                            .modal-footer
                              button.btn.btn-default(type='button', data-dismiss='modal') Close
                              button.btn.btn-primary.pinkow(type='button')
                                a(href='mailto:'+val.mail+'?subject=Participation%20à%20:%20'+val.intitule) Contactez
          .col-md-5.col-md-offset-2.no-side-padding
            h1.page-header Mes actions
            button.btn.btn-success-outline.pinkow(onclick="location.href='/organism/addevent';") Ajouter un évènement !


block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

  //ajax call to get users data of a specific Opp
  script.
    //Each info-button has a click event listener
    $(".info-button").click(function(){
      var button_clicked = this;
      parent_li = $(this).closest("li");
      console.log('id attribute from parent_li :  ' + parent_li.attr('id'));
      $.post('/organism/getOppUsers', {opp_id: parent_li.attr('id')}, function(data){
        console.log('data from post : ');
        console.log('data from post : ' + data);
        //Add data to the pop up .modal-body.my-modal-body
        console.log(parent_li.find(".my-modal-body").children(".applicants"));
        parent_li.find(".my-modal-body").children(".applicants").replaceWith("<p>"+data+"<p>");
      });
    });
