extends ./g_layout.jade
block vars
  - var page = 'dashboard'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}


block content
      .container-fluid
        .row
          .col-md-offset-8
            h2.pull-left Mes infos
        .row
          .col-md-4.col-md-offset-8
            .media
              .media-left.media-middle
                img.media-object.img-profile(src='/images/rocket.png')
              .media-body.media-middle
                  h4.media-heading= organism.org_name
                  a(href='http://www.'+organism.website)= organism.website
                  h4
                    i.fa.fa-phone
                    p.inline #{organism.phone}
                  h4
                    i.fa.fa-envelope
                    p.inline #{organism.email}
                  br
        .row
          .col-md-4.col-md-offset-8
            p <b>Description</b> : #{organism.description}
        .row
          .col-md-10.col-md-offset-1
            ul.nav.nav-tabs(role='tablist')
              li.active(role='presentation')
                a(href='#needs' aria-controls='needs' role='tab' data-toggle='tab') 
                  h4 Mes besoins
              li(role='presentation')
                a(href='#todo' aria-controls='todo' role='tab' data-toggle='tab') 
                  h4 À faire
        .row
          .tab-content
            #needs.tab-pane.fade.active.in(role='tabpanel')
              .col-md-4.col-md-offset-1
                h2.page-header Mes évènements
                if error
                  p.alert.alert-danger #{error}
                h4 Besoin de bénévoles pour un évènement particulier ?
                button.btn.btn-default(onclick="location.href='/organism/addevent';") Ajouter un évènement !
                h3
                ul.list-group.list-opportunity
                  if ev_to_come.length
                    h3 À venir
                  each event, event_i in ev_to_come
                    li.list-group-item(id= event._id)
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-top
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b>
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{event.address}
                        .panel-body
                          each act, act_i in event.acts
                            h4 <b>#{act.intitule}</b>
                            each day, day_i in act.days
                              h4
                                h5.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
                                h6.inline
                                  i.fa.fa-user
                                  p.inline= day.applicants.length+' bénévoles se sont inscrits'
                            div.media-right.media-middle
                              //button.info-button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+act._id) Informations
                              div(tabindex='-1', role='dialog', class= 'modal fade '+act._id)
                                .modal-dialog
                                    .modal-content
                                      .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                          span(aria-hidden='true') &times;
                                        #myModalLabel.h4.modal-title= event.intitule + ' - ' + act.intitule
                                      .modal-body.my-modal-body
                                        p= 'Adresse: '+ event.address
                                        each day, day_i in act.days
                                          p= 'Date : ' + day.day
                                          p= day.applicants.length+' bénévoles se sont inscrits'
                                          p= 'Pour ' + day.vol_nb + ' bénévoles recherchés'
                                      .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                                        button.btn.btn-primary.pinkow(type='button')
                                          a(href='#') Détails
                        button.btn.btn-default.infos-button(id= event._id) Informations
                  if ev_past.length
                    h3 Terminés
                  each event, event_i in ev_past
                    li.list-group-item(id= event._id)
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-top
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b>
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{event.address}
                        .panel-body
                          each act, act_i in event.acts
                            h4 <b>#{act.intitule}</b>
                            each day, day_i in act.days
                              h4
                                h5.inline <b>#{day.day.toLocaleDateString()} : </b>
                                h6.inline
                                  i.fa.fa-user
                                  p.inline= day.applicants.length+' bénévoles se sont inscrits'
                            div.media-right.media-middle
                              //button.info-button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+act._id) Informations
                              div(tabindex='-1', role='dialog', class= 'modal fade '+act._id)
                                .modal-dialog
                                    .modal-content
                                      .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                                          span(aria-hidden='true') &times;
                                        #myModalLabel.h4.modal-title= event.intitule + ' - ' + act.intitule
                                      .modal-body.my-modal-body
                                        p= 'Adresse: '+ event.address
                                        each day, day_i in act.days
                                          p= 'Date : ' + day.day
                                          p= day.applicants.length+' bénévoles se sont inscrits'
                                          p= 'Pour ' + day.vol_nb + ' bénévoles recherchés'
                                      .modal-footer
                                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                                        button.btn.btn-primary.pinkow(type='button')
                                          a(href='#') Détails
                        button.btn.btn-default.infos-button(id= event._id) Informations
              .col-md-5.col-md-offset-2.no-side-padding
                h2.page-header Mes engagements
                h4.inline
                  i.fa.fa-cubes
                  p.inline Section en développement...
            #todo.tab-pane.fade(role='tabpanel')
              .col-md-10.col-md-offset-1
                if todos.length
                  each todo, todo_i in todos
                    li.list-group-item
                    if todo.type == 'hours_pending'
                      .panel.panel-default
                        .panel-heading
                          div.media
                            div.media-left.media-middle
                              i.fa.fa-user
                            div.media-body
                              h4.media-heading <b>#{todo.event_name}</b>
                        .panel-body
                          div.media
                            div.media-body
                             h5 #{todo.firstname} #{todo.lastname} a t-il bien réalisé #{todo.hours}h durant cet évènement ?
                            div.media-right.media-middle
                              if todo.student
                                div.btn-group(style='width: 120px', todo=todo._id)
                                  button.btn.btn-default.confirm_hours_student(data-toggle='modal' data-target='#confirmationModal')
                                    i.fa.fa-thumbs-up
                                  #confirmationModal.modal.fade(tabindex='-1', role='dialog' aria-labelledby="confirmationModalLabel")
                                    div.modal-dialog(role='document')
                                      form.modal-content.confirmStudentHoursForm(id='confirmStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id)
                                        .modal-header
                                          button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                            span(aria-hidden='true')
                                            h4.modal-title Validation de participation
                                          div.modal-body
                                            h4 Questions sur l'élève
                                            for question, q_i in todo.organism_questions
                                              div.form-group
                                                label(for='confirmationHoursInput')= question
                                                textarea.confirmation_text(name='answer'+q_i, form='confirmStudentHoursForm'+todo._id, minlength='20' required)
                                          div.modal-footer
                                            a.btn.btn-default(data-dismiss='modal') Annuler
                                            button.btn.btn-warning(type='submit' form='confirmStudentHoursForm'+todo._id) Envoyer
                                  button.btn.btn-warning.correct_hours_student(data-toggle='modal' data-target='#correctionModal')
                                    i.fa.fa-thumbs-down
                                  #correctionModal.modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel")
                                    div.modal-dialog(role='document')
                                      form.modal-content.correctStudentHoursForm(id='correctStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id)
                                        .modal-header
                                          button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                            span(aria-hidden='true')
                                            h4.modal-title Correction d'horaires
                                          div.modal-body
                                            p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                                            div.form-group
                                              label(for='correctionStudentHoursInput') Heures réellement réalisées 
                                              input.form-control(type='Number' class='correctionStudentHoursInput', name='correct_hours' required)
                                            for question, q_i in todo.organism_questions
                                              div.form-group
                                                label(for='answer'+q_i)= question
                                                textarea.correction_text(name='answer'+q_i, form='correctStudentHoursForm'+todo._id, minlength='20' required)
                                          div.modal-footer
                                            a.btn.btn-default(data-dismiss='modal') Annuler
                                            button.btn.btn-warning(type='submit' form='correctStudentHoursForm'+todo._id) Envoyer
                              else
                                div.btn-group(style='width: 120px', todo=todo._id)
                                  button.btn.btn-default.validate_hours_pending(vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id)
                                    i.fa.fa-thumbs-up
                                  button.btn.btn-warning.decline_hours_pending(data-toggle='modal' data-target='#correctionModal')
                                    i.fa.fa-thumbs-down
                                  #correctionModal.modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel")
                                    div.modal-dialog(role='document')
                                      form.modal-content.correctHoursForm(id='correctHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id)
                                        .modal-header
                                          button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                            span(aria-hidden='true')
                                            h4.modal-title Correction d'horaires
                                          div.modal-body
                                            p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                                            div.form-group
                                              label(for='correctionHoursInput') Heures réellement réalisées
                                              input.form-control.correction_input(type='Number' id='correctionHoursInput', name='correct_hours' required)
                                          div.modal-footer
                                            a.btn.btn-default(data-dismiss='modal') Annuler
                                            button.btn.btn-warning(type='submit' form='correctHoursForm'+todo._id) Envoyer

                else
                  h4.text-center Tout est à jour !



block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery redirection plugin
  script(src="/bower_components/jquery.redirect/jquery.redirect.js", type="text/javascript")
  script.
    $(document).ready(function(){
      $('.infos-button').click(function(){
        console.log('Clic sur le bouton  de subscription');
        var event_id = $(this).attr('id');
        console.log('event_id : ' + event_id);
        $.redirect('/organism/event/'+event_id, {}, 'GET');
      });
      $('.correctHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let act_id = $(this).attr('act');
        let day = $(this).attr('day');
        let todo_id = $(this).attr('todo');
        let correct_hours = $(this).find('.correction_input').val();
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        $.post('/organism/correcthours', {vol_id: vol_id, act_id: act_id, day: day, todo: todo_id, correct_hours: correct_hours}).done(function(data, status){
          if(status == 404){
            console.log("Remarque: " + data.error);
            input_group.replaceWith('<p><b>Il y a une erreur</b></p>');
          }
          else {
            console.log('$(this) : ' + $(this));
            console.log("Post request done.");
            input_group.replaceWith('<p><b>Heures corrigées</b></p>');
          }
        });
      });
      $('.validate_hours_pending').click(function(){
        let vol_id = $(this).attr('vol');
        let act_id = $(this).attr('act');
        let day = $(this).attr('day');
        let todo_id = $(this).attr('todo');
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        $.post('/organism/confirmhours', {vol_id: vol_id, act_id: act_id, day: day, todo: todo_id}).done(function(data, status){
          if(data.error){
            console.log("Remarque: " + data.error);
            input_group.replaceWith('<p><b>Il y a une erreur</b></p>');
          }
          else {
            console.log("Post request done.");
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          }
        });
      });
      $('.confirmStudentHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let act_id = $(this).attr('act');
        let day = $(this).attr('day');
        let todo_id = $(this).attr('todo');
        let answers_input = $(this).find('.confirmation_text');
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        let answers_json = $(this).serializeArray();
        console.log();
        console.log('answers_json : ' + JSON.stringify(answers_json));
        $.post('/organism/confirmhours', {vol_id: vol_id, act_id: act_id, day: day, todo: todo_id, answers: answers_json}).done(function(data, status){
          if(data.error){
            console.log('$(this) : ' + $(this));
            console.log("Remarque: " + data.error);
            input_group.replaceWith('<p><b>Il y a une erreur</b></p>');
          }
          else {
            console.log("Post request done.");
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          }
        });
      });
      $('.correctStudentHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let act_id = $(this).attr('act');
        let day = $(this).attr('day');
        let todo_id = $(this).attr('todo');
        let answers_input = $(this).find('.correction_text');
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        let answers_json = $(this).serializeArray();
        console.log();
        console.log('answers_json : ' + JSON.stringify(answers_json));
        let correct_hours = ($(this).find('.correctionStudentHoursInput')).val();
        $.post('/organism/correcthours', {vol_id: vol_id, act_id: act_id, day: day, todo: todo_id, answers: answers_json, correct_hours: correct_hours}).done(function(data, status){
          if(data.error){
            console.log("Remarque: " + data.error);
            input_group.replaceWith('<p><b>Il y a une erreur</b></p>');
          }
          else {
            console.log("Post request done.");
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
          }
        });
      });
    })