extends ./g_layout.jade
block vars
  - var page = 'dashboard'


block content
      .container-fluid
        .row.fill
          #offers-list.col-md-4.col-md-offset-1.no-side-padding
            h1.page-header Mes évènements
            if error
              p.alert.alert-danger #{error}
            button.btn.btn-success-outline.pinkow(onclick="location.href='/organism/addevent';") Ajouter un évènement !
            h3
            ul.list-group.list-opportunity
              each event, event_i in events
                li.list-group-item(id= event._id)
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object(src='/images/clouds.jpg')
                  div.media-body
                    h4.media-heading= event.intitule
                    p= 'Adresse : '+ event.address
                    each act, act_i in event.activities
                      p= 'Activité : '+ act.intitule
                      each day, day_i in act.days
                        p= 'Date : ' + day.day
                        p= day.applications.length+' bénévoles se sont inscrits'
                      div.media-right.media-middle
                        button.info-button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+act._id) Informations
                        div(tabindex='-1', role='dialog', class= 'modal fade '+act._id)
                          .modal-dialog
                              .modal-content
                                .modal-header
                                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') &times;
                                  #myModalLabel.h4.modal-title= event.intitule + ' - ' + act.intitule
                                .modal-body.my-modal-body
                                  p= 'Adresse: '+ event.address
                                  each day, day_i in act.days
                                    p= 'Date : ' + day.day
                                    p= day.applications.length+' bénévoles se sont inscrits'
                                    p= 'Pour ' + day.vol_nb + ' bénévoles recherchés'
                                  p= 'Inscrits :'
                                  if event.applications
                                    each value, i in event.applications
                                      p= value.applicant.firstname
                                      p DATAS :
                                      p.applicants
                                .modal-footer
                                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                                  button.btn.btn-primary.pinkow(type='button')
                                    a(href='#') Détails
          .col-md-5.col-md-offset-2.no-side-padding
            h1.page-header Mes engagements


block footscript
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')

  //ajax call to get users data of a specific Opp
  script.
    //Each info-button has a click event listener
    $(".info-button").click(function(){
      var button_clicked = this;
      parent_li = $(this).closest("li");
      console.log('id attribute from parent_li :  ' + parent_li.attr('id'));
      $.post('/organism/getOppUsers', {opp_id: parent_li.attr('id')}, function(data){
        console.log('data from post : ');
        console.log('data from post : ' + data);
        //Add data to the pop up .modal-body.my-modal-body
        console.log(parent_li.find(".my-modal-body").children(".applicants"));
        parent_li.find(".my-modal-body").children(".applicants").replaceWith("<p>"+data+"<p>");
      });
    });
