extends ./g_layout.jade
block vars
	- var page = 'event'
	- var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
	- var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
	- /* parse a date in yyyy-mm-dd format*/ function parseDate(input) {var parts = input.match(/(\d+)/g);/* new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])*/return new Date(parts[0], parts[1]-1, parts[2]); /* months are 0-based*/}
	- function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
block head
	title Bénévoles à court terme
	meta(name='content', content='Gère tes bénévoles inscrits à court terme')
block content
	.container-fluid
		.row.fill
			.col-md-8.col-md-offset-2.no-side-padding
				h1= event.intitule
				p Adresse: #{event.address}
				p Description: #{event.description}
				each act, act_i in event.acts
					li.list-group-item(id= event._id)
						.panel.panel-default
							.panel-heading
								div.media-left.media-top
									a(href='profile')
										img.media-object.little-img(src='/images/clouds.jpg')
								div.media-body
									h4.media-heading <b>#{act.intitule}</b>
									h6
										i.fa.fa-map-marker
										p.inline Adresse : #{event.address}
							.panel-body
								each day, day_i in act.days
									h4
										h5.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
										h6.inline
											i.fa.fa-user
											p.inline= day.applicants.length+' bénévoles se sont inscrits'
										h6 De #{day.start_time} à #{day.end_time}
									if day.vols.length
										h5 <b> Liste des bénévoles </b>
										ul.list-group
											each vol, vol_i in day.vols
												li.list-group-item
													div.media
														div.media-left.media-middle
															a(href='/volunteer/profile')
															div.media-body
																h4.media-heading <b>#{vol.firstname} #{vol.lastname}</b>
																h6
																	i.fa.fa-at
																	p.inline #{vol.email}
																h6
																	i.fa.fa-birthday-cake
																	p.inline #{days_name[correctDate(vol.birthdate).getDay()]  + ' ' + (correctDate(vol.birthdate).getDate()) + ' ' + months_name[correctDate(vol.birthdate).getMonth()]  + ' ' + correctDate(vol.birthdate).getFullYear()}
															each event, event_i in vol.events
																if ((Date.parse(event.day) == Date.parse(day.day)) && (act._id.toString() == event.activity_id.toString()))
																	if Date.parse(day.day)<Date.now()
																		if event.hours_pending > event.hours_done
																			div.media-right(id=act._id day=event.day)
																				p= '***** Participation de ' + event.hours_pending + ' h ?'
																				button.btn.btn-default(class='confirmHoursButton' id=vol._id) Confirmer
																				button.btn.btn-warning(id='correctionModalButton' type= 'button' data-toggle='modal' data-target='#correctionModal') Non
																				#correctionModal.modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel")
																					div.modal-dialog(role='document')
																						form.modal-content(action='/organism/correcthours' method='post' id='correctHoursForm')
																							.modal-header
																								button(type='button' class="close" data-dismiss="modal" aria-label="Close")
																									span(aria-hidden='true')
																									h4.modal-title Correction d'horaires
																								div.modal-body
																									p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
																									div.form-group
																										label(for='correctionHoursInput') Heures réellement réalisées 
																										input.form-control(type='Number' id='correctionHoursInput' required)
																								div.modal-footer
																									button.btn.btn-default(data-dismiss='modal') Annuler
																									button.btn.btn-warning(type='submit' form='correctHoursForm') Envoyer
																		if (event.hours_done > event.hours_pending) && event.hours_done != 0
																			div.media-right
																				p= ' Participation de ' + event.hours_done + ' h'
																		if (event.hours_done == event.hours_pending) && event.hours_done == 0
																			div.media-right
																				p= 'Participation non-confirmée'
																	else
																		div.media-right
																			button.btn.btn-default(type='button')
																				a(href='mailto:'+vol.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contactez


block footscript
	script(type='text/javascript').
		$(document).ready(function(){
			$('#correctionModal').on('shown.bs.modal', function () {
				$('#correctionModalButton').focus()
			});
			$('.confirmHoursButton').click(function(){
				var vol_id = $(this).attr('id');
				var act_id = $(this).parent().attr('id');
				var day = $(this).parent().attr('day');
				var input = $(this);
				$.post('/organism/confirmhours', {vol_id: vol_id, act_id: act_id, day: day}).done(function(data, status){
					if(data.error){
						console.log("Remarque: " + data.error);
						input.replaceWith('<p>Il y a une erreur</p>');
					}
					else {
						console.log("Post request done.");
						input.replaceWith('<p>Heures confirmées</p>');
					}
				});
			});
		});
