extends ./g_layout.jade
block vars
	- var page = 'event'
	- function isPast(days){return ((days.map(function(day){return (Date.parse(day.day)<Date.now())})).indexOf(true) > -1)};

block head
	title Bénévoles à court terme
	meta(name='description', content='Gère tes bénévoles inscrits à court terme')
block share
	script.
		var bitly_token = '074139d6c2b2511f886ae9e554856c4ecf3ca141';
		window.fbAsyncInit = function() {
			FB.init({
				appId      : 1829081597379617,
				xfbml      : true,
				version    : 'v2.8'
			});
			FB.AppEvents.logPageView();

			$('.propose').click(function(){
				var button = $(this);
				var activity_id = $(this).attr('act_id');
				var url = window.location.origin + '/all/activity/' + activity_id;
				console.log('url : ' + url);
				var bitly_address = 'https://api-ssl.bitly.com/v3/shorten?access_token='+bitly_token+'&longURL='+url;
				console.log('bitly_address : ' + bitly_address);
				$.get(bitly_address, function(datas){
					console.info('bitly : ' + JSON.stringify(datas));
					if(datas.status_code < 400){
						button.parent().html("<div class='alert alert-info text-center'><p> Partage ce lien par courriel ou autre : </p><input type='text' id='link_to_share'></input><p> Ou </p><a class='btn' id='messenger' style='background-color: white;'><img src='/images/facebook-messenger.svg' style='height: 20px; width: auto;'></img> Par Messenger</a></div>");
						console.info('We are in the status_code OK !');
						$('#link_to_share').val(datas.data.url);
						$('#messenger').click(function(){
							FB.ui({
								method: 'send',
								link: datas.data.url
							}, function(response){
								// Debug response (optional)
								console.log(response);
							});
						});
					} else {
						console.info('We are in the status_code not OK !');
						button.parent().html("<div class='alert alert-warning'><p>Problème avec réseaux sociaux, néanmoins possibilité de partager directement ce lien par courriel ou autre <br> <b>Voici le lien</b> : </p><input type='text' id='link_to_share'></input></div>");
						$('#link_to_share').val(url);
					}
				});
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/fr_FR/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		
block content
	.container-fluid
		.row.fill
			.col-md-8.col-md-offset-2.no-side-padding
				p
					h1.inline.intitule= event.intitule
					i.fa.fa-pencil.fa-xs.edit(style="cursor: pointer" type='intitule')
				p Adresse: #{event.address}
				p #{event.description}
				if (error && (error.length > 0))
					p.alert.alert-danger= error
				each act, act_i in event.acts
					li.list-group-item(id= event._id)
						.panel.panel-default
							.panel-heading
								div.media-left.media-middle
									a(href='profile')
										img.media-object.little-img(src='/images/clouds.jpg')
								div.media-body
									h4.media-heading <b>#{act.intitule}</b>
									h6
										i.fa.fa-map-marker
										p.inline Adresse : #{event.address}
								div.media-top.media-right
									a.inline.btn.btn-warning.propose(act_id=act._id) Inviter à être bénévole
									if isPast(act.days)
									//else
										i.fa.fa-times.fa-xs.fa-2x.edit.inline(style="cursor: pointer; color: red; margin-left:20px;" act_id=act._id, data-toggle='modal' data-target='#erase-modal'+act_i )
										.modal.fade(id='erase-modal'+act_i, tab-index='-1' role='dialog' aria-labelledby='myModalLabel'+act_i)
											.modal-dialog(role='document')
												.modal-content
													.modal-header
														button.close(type='button' data-dismiss="modal" aria-label="Close")
															span(aria-hidden='true') &times;
														h4.modal-title(id='myModalLabel'+act_i) Es-tu sûr de vouloir supprimer cette activité ?
													.modal-body
														p.alert.alert-danger Si vous supprimez cette activité, pensez bien à prévenir tous les bénévoles qui y sont inscrits !
													.modal-footer
														form.inline(action='/remove-activity'+act._id, method='post')
															.btn-group
																a.btn.btn-warning(data-dismiss='modal') Annuler
																input.btn.btn-default(type='submit' value='Oui' role='button')
							.panel-body
								each day, day_i in act.days
									h4
										h4.inline <b>#{date.printDate(day.day)} : </b>
										h6.inline
											i.fa.fa-user
											p.inline= day.applicants.length+' bénévoles se sont inscrits'
											p.inline= ' (' + day.vol_nb +' bénévoles demandés'
											i.fa.fa-pencil.fa-xs.edit.inline(style="cursor: pointer;" type='vol_nb', vol_nb=day.vol_nb, day=day.day, applicants=day.applicants.length, activity=act._id)
											p.inline )
										h6 De #{day.start_time} à #{day.end_time}
									if day.vols.length
										h5 <b> Liste des bénévoles </b>
										ul.list-group
											table.table.table-striped(id='subscribers')
												thead
													tr
														th.text-center #
														th.text-center Nom
														th.text-center Prénom
														th.text-center
															i.fa.fa-birthday-cake
														th.text-center
															i.fa.fa-phone
														th.text-center Courriel
														th.text-center Status
												tbody
													each vol, vol_i in day.vols
														tr
															td.text-center= vol_i
															td.text-center= vol.lastname
															td.text-center= vol.firstname
															if vol.birthdate
																td.text-center #{date.printDate(vol.birthdate)}
															else
																td
															if vol.phone
																td.text-center= vol.phone
															else 
																td.text-center
															td.text-center= vol.email
															td.text-center
																each event, event_i in vol.events
																	if ((Date.parse(event.day) == Date.parse(day.day)) && (act._id.toString() == event.activity_id.toString()))
																		if Date.parse(day.day)<Date.now()
																			if event.hours_pending > event.hours_done
																				div.text-center(id=act._id, day=event.day)
																					p.inline <b> Participation de #{event.hours_pending} h ? </b>
																					i(data-toggle="tooltip" data-placement="bottom" title="Pour valider ces heures, va sur le tableau de bord, dans la section 'À faire'").fa.fa-question-circle
																			if (event.hours_done > event.hours_pending) && event.hours_done != 0
																				div.text-center
																					p Participation de <b>#{event.hours_done} h</b>
																			if (event.hours_done == event.hours_pending) && event.hours_done == 0
																				if event.status == 'absent'
																					div.text-center
																						p <b>Absent</b>
																				else
																					div.text-center
																						p Participation <b>non-confirmée</b>
																		else
																			div.text-center
																				div.btn.btn-default(type='button')
																					a(href='mailto:'+vol.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contactez

block footscript
	script('type'='text/javascript').
		'use strict';
		$(document).ready(function(){
      amplitude.getInstance().logEvent('Visit_org_event');
			$('.edit').click(function(){
				const type = $(this).attr('type');
				if(type == 'vol_nb'){
					let div = $(this).parent();
					div.html("<form name='edit-form' method='post' action='/edit-event'><p>Nombre de bénévoles recherchés</p><input type='number' min='"+$(this).attr('applicants')+"' max='400' value='"+$(this).attr('vol_nb')+"' name='vol_nb'></input><input class='hidden' name='url' value="+window.location.pathname+"></input><input class='hidden' name='day' value='"+$(this).attr('day')+"' type='text'></input><input class='hidden' name='nb_applicants' value='"+$(this).attr('applicants')+"' type='number'></input><input class='hidden' name='activity_id' value='"+$(this).attr('activity')+"' type='text'></input><input type='submit' value='Modifier'></input></form>");
				} else if (type == 'intitule'){
					let div = $('h1.intitule');
					console.info(div.text());
					div.html("<form name='edit-form' method='post' action='/edit-event'><input type='text' value='"+div.text()+"' name='intitule'></input><input class='hidden' name='url' value="+window.location.pathname+"></input><input type='submit' value='Modifier'></input></form>");
				}
			});
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		})
