extends ./g_layout.jade
block vars
	- var page = 'event'


block content
	.container-fluid
		.row.fill
			.col-md-8.col-md-offset-2.no-side-padding
				h1= event.intitule
				p Adresse: #{event.address}
				p Description: #{event.description}
				each act, act_i in event.acts
					li.list-group-item(id= event._id)
						.panel.panel-default
							.panel-heading
								div.media-left.media-top
									a(href='profile')
										img.media-object.little-img(src='/images/clouds.jpg')
								div.media-body
									h4.media-heading <b>#{act.intitule}</b>
									h6
										i.fa.fa-map-marker
										p.inline Adresse : #{event.address}
							.panel-body
								each day, day_i in act.days
									h4
										h5.inline <b>#{day.day.toLocaleDateString()} : </b>
										h6.inline
											i.fa.fa-user
											p.inline= day.applicants.length+' bénévoles se sont inscrits'
										h6 De #{day.start_time} à #{day.end_time}
									if day.vols.length
										h5 <b> Liste des bénévoles </b>
										ul.list-group
											each vol, vol_i in day.vols
												li.list-group-item
													div.media
														div.media-left.media-middle
															a(href='/volunteer/profile')
															div.media-body
																h4.media-heading <b>#{vol.firstname} #{vol.lastname}</b>
																h6
																	i.fa.fa-at
																	p.inline #{vol.email}
															each event, event_i in vol.events
																if ((Date.parse(event.day) == Date.parse(day.day)) && (act._id.toString() == event.activity_id.toString()))
																	if Date.parse(day.day)<Date.now()
																		if event.hours_pending != event.hours_done
																			div.media-right(id=act._id day=event.day)
																				p= '***** Participation de ' + event.hours_pending + ' h ?'
																				button.btn.btn-default(class='confirmHoursButton' id=vol._id) Confirmer
																				button.btn.btn-warning(id='correctionModalButton' type= 'button' data-toggle='modal' data-target='#correctionModal') Non
																				#correctionModal.modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel")
																					div.modal-dialog(role='document')
																						form.modal-content(action='correcthours' method='post' id='correctHoursForm')
																							.modal-header
																								button(type='button' class="close" data-dismiss="modal" aria-label="Close")
																									span(aria-hidden='true')
																									h4.modal-title Correction d'horaires
																								div.modal-body
																									p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
																									div.form-group
																										label(for='correctionHoursInput') Heures réellement réalisées 
																										input.form-control(type='Number' id='correctionHoursInput')
																								div.modal-footer
																									button.btn.btn-default(data-dismiss='modal') Annuler
																									button.btn.btn-warning(type='submit' form='correctHoursForm') Envoyer
																		if (event.hours_done == event.hours_pending) && event.hours_done != 0
																			div.media-right
																				p= ' Participation de ' + event.hours_done + ' h'
																		if (event.hours_done == event.hours_pending) && event.hours_done == 0
																			div.media-right
																				p= 'Participation non-confirmée'
																	else
																		div.media-right
																			button.btn.btn-default(type='button')
																				a(href='mailto:'+vol.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contactez


block footscript
	script(type='text/javascript').
		$(document).ready(function(){
			$('#correctionModal').on('shown.bs.modal', function () {
				$('#correctionModalButton').focus()
			});
			$('.confirmHoursButton').click(function(){
				var vol_id = $(this).attr('id');
				var act_id = $(this).parent().attr('id');
				var day = $(this).parent().attr('day');
				var input = $(this);
				$.post('/organism/confirmhours', {vol_id: vol_id, act_id: act_id, day: day}).done(function(data, status){
					if(data.error){
						console.log("Remarque: " + data.error);
						input.replaceWith('<p>Il y a une erreur</p>');
					}
					else {
						console.log("Post request done.");
						input.replaceWith('<p>Heures confirmées</p>');
					}
				});
			});
		});
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-82053185-2', 'auto');
		ga('send', 'pageview');