extends ./g_layout.jade
block vars
	- var page = 'event'


block head
	title Bénévoles à court terme
	meta(name='description', content='Gère tes bénévoles inscrits à court terme')

		
block content
	.container-fluid
		.row.fill
			.col-md-8.col-md-offset-2.no-side-padding
				p
					h1.inline.intitule= event.intitule
					i.fa.fa-pencil.fa-xs.edit(style="cursor: pointer" type='intitule')
				p Adresse: #{event.address}
				p #{event.description}
				if (error && (error.length > 0))
					p.alert.alert-danger= error
				each act, act_i in event.acts
					li.list-group-item(id= event._id)
						.panel.panel-default
							.panel-heading
								div.media-left.media-middle
									a(href='profile')
										img.media-object.little-img(src='/images/clouds.jpg')
								div.media-body
									h4.media-heading <b>#{act.intitule}</b>
									h6
										i.fa.fa-map-marker
										p.inline Adresse : #{event.address}
							.panel-body
								each day, day_i in act.days
									h4
										h4.inline <b>#{date.printDate(day.day)} : </b>
										h6.inline
											i.fa.fa-user
											p.inline= day.applicants.length+' bénévoles se sont inscrits'
											p.inline= ' (' + day.vol_nb +' bénévoles demandés'
											i.fa.fa-pencil.fa-xs.edit.inline(style="cursor: pointer" type='vol_nb', vol_nb=day.vol_nb, day=day.day, applicants=day.applicants.length, activity=act._id)
											p.inline )
										h6 De #{day.start_time} à #{day.end_time}
									if day.vols.length
										h5 <b> Liste des bénévoles </b>
										ul.list-group
											table.table.table-striped(id='subscribers')
												thead
													tr
														th.text-center #
														th.text-center Nom
														th.text-center Prénom
														th.text-center
															i.fa.fa-birthday-cake
														th.text-center
															i.fa.fa-phone
														th.text-center Courriel
														th.text-center Status
												tbody
													each vol, vol_i in day.vols
														tr
															td.text-center= vol_i
															td.text-center= vol.lastname
															td.text-center= vol.firstname
															if vol.birthdate
																td.text-center #{date.printDate(vol.birthdate)}
															else
																td
															if vol.phone
																td.text-center= vol.phone
															else 
																td.text-center
															td.text-center= vol.email
															td.text-center
																each event, event_i in vol.events
																	if ((Date.parse(event.day) == Date.parse(day.day)) && (act._id.toString() == event.activity_id.toString()))
																		if Date.parse(day.day)<Date.now()
																			if event.hours_pending > event.hours_done
																				div.text-center(id=act._id, day=event.day)
																					p.inline <b> Participation de #{event.hours_pending} h ? </b>
																					i(data-toggle="tooltip" data-placement="bottom" title="Pour valider ces heures, va sur le tableau de bord, dans la section 'À faire'").fa.fa-question-circle
																			if (event.hours_done > event.hours_pending) && event.hours_done != 0
																				div.text-center
																					p Participation de <b>#{event.hours_done} h</b>
																			if (event.hours_done == event.hours_pending) && event.hours_done == 0
																				div.text-center
																					p Participation <b>non-confirmée</b>
																		else
																			div.text-center
																				button.btn.btn-default(type='button')
																					a(href='mailto:'+vol.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contactez

block footscript
	script('type'='text/javascript').
		'use strict';
		$(document).ready(function(){
			$('.edit').click(function(){
				const type = $(this).attr('type');
				if(type == 'vol_nb'){
					let div = $(this).parent();
					div.html("<form name='edit-form' method='post' action='/edit-event'><p>Nombre de bénévoles recherchés</p><input type='number' min='1' max='400' placeholder='"+$(this).attr('vol_nb')+"' name='vol_nb'></input><input class='hidden' name='url' value="+window.location.pathname+"></input><input class='hidden' name='day' value='"+$(this).attr('day')+"' type='text'></input><input class='hidden' name='nb_applicants' value='"+$(this).attr('applicants')+"' type='number'></input><input class='hidden' name='activity_id' value='"+$(this).attr('activity')+"' type='text'></input><input type='submit' value='Modifier'></input></form>");
				} else if (type == 'intitule'){
					let div = $('h1.intitule');
					console.info(JSON.stringify(div));
					console.info(div.text());
					div.html("<form name='edit-form' method='post' action='/edit-event'><input type='text' placeholder='"+div.text()+"' name='intitule'></input><input class='hidden' name='url' value="+window.location.pathname+"></input><input type='submit' value='Modifier'></input></form>");
				}
			});
			$(function () {
				$('[data-toggle="tooltip"]').tooltip()
			})
		})
