extends ./g_layout.jade

block vars

block head
  title Valider le bénévolat de #{todo.firstname} #{todo.lastname}
  meta(name='description', content='Pour valider ou corriger les heures de bénévolat de ' + todo.firstname + ' ' + todo.lastname)
  style.
    h1 {margin-bottom: 15vh}
    #the_panel {margin-bottom: 15vh}

block content
  .container-fluid
    .col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3.col-sm-10.col-sm-offset-1
      h1.text-center #{todo.firstname} #{todo.lastname}
      .panel.panel-default#the_panel
        .panel-heading
          div.media
            div.media-left.media-middle
              span.badge(style='background-color: #FF30B5') ÉLÈVE SECONDAIRE
            div.media-body
              h4.media-heading <b>#{todo.activity_intitule}</b> - #{todo.firstname} #{todo.lastname}
            div.media-right
        .panel-body
          div.media
            div.media-body
             h5 #{todo.firstname} #{todo.lastname} a t-il bien réalisé #{todo.hours}h durant cet évènement (#{todo.activity_intitule}) ?
            div.media-right.media-middle
              div.btn-group(style='width: 120px', todo=todo._id)
                div.btn.btn-default.confirm_hours_student(data-toggle='modal' data-target='#confirmationModal'+todo._id)
                  i.fa.fa-thumbs-up
                .modal.fade(tabindex='-1', role='dialog' aria-labelledby="confirmationModalLabel", id='confirmationModal'+todo._id)
                  div.modal-dialog(role='document')
                    form.modal-content.confirmStudentHoursForm(id='confirmStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id, hours=todo.hours, org_id=organism._id, org_name=organism.org_name, type=todo.type, modal_id='#confirmationModal'+todo._id)
                      .modal-header
                        button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                          span(aria-hidden='true')
                          h4.modal-title Validation de participation
                        div.modal-body
                          h4 Questions sur l'élève
                          for question, q_i in todo.organism_questions
                            div.form-group
                              label(for='confirmationHoursInput')= question
                              textarea.confirmation_text(name='answer'+q_i, form='confirmStudentHoursForm'+todo._id, minlength='10' required)
                        div.modal-footer
                          a.btn.btn-default(data-dismiss='modal') Annuler
                          input.btn.btn-warning(type='submit' form='confirmStudentHoursForm'+todo._id, value='Envoyer')
                div.btn.btn-warning.correct_hours_student(data-toggle='modal' data-target='#correctionModal'+todo._id)
                  i.fa.fa-thumbs-down
                .modal.fade(tabindex='-1', role='dialog' aria-labelledby="correctionModalLabel", id='correctionModal'+todo._id)
                  div.modal-dialog(role='document')
                    form.modal-content.correctStudentHoursForm(id='correctStudentHoursForm'+todo._id, vol=todo.vol_id, act=todo.activity_id, day=todo.day, todo=todo._id, org_id=organism._id, org_name=organism.org_name, hours=todo.hours, type=todo.type, modal_id='#correctionModal'+todo._id)
                      .modal-header
                        button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                          span(aria-hidden='true')
                          h4.modal-title Correction d'horaires
                        div.modal-body
                          p Les heures mentionnées par le bénévole ne reflètent pas la réalité ?
                          div.form-group
                            label(for='correctionStudentHoursInput') Heures réellement réalisées 
                            input.form-control(type='Number', min='0', max='50', step='0.5' class='correctionStudentHoursInput', name='correct_hours' required)
                          for question, q_i in todo.organism_questions
                            div.form-group
                              label(for='answer'+q_i)= question
                              textarea.correction_text(name='answer'+q_i, form='correctStudentHoursForm'+todo._id, minlength='10' required)
                        div.modal-footer
                          a.btn.btn-default(data-dismiss='modal') Annuler
                          input.btn.btn-warning(type='submit' form='correctStudentHoursForm'+todo._id, value='Envoyer')
      #button-div.text-center
        a.text-center.btn.btn-default#continue(href=nextUrl) Continuer

block footscript
  script(type='text/javascript').
    $(document).ready(function(){
      $('.confirmStudentHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let todo_id = $(this).attr('todo');
        let hours = $(this).attr('hours');
        let modal_id = $(this).attr('modal_id');
        let org_id = $(this).attr('org_id');
        let org_name = $(this).attr('org_name');
        let type = $(this).attr('type');
        let answers_input = $(this).find('.confirmation_text');
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        let answers_json = $(this).serializeArray();
        let event_props = {};
        console.log('answers_json : ' + JSON.stringify(answers_json));
        console.log('$(this).attr("act") : ' + $(this).attr("act"));
        console.log('$(this).attr("lt") : ' + $(this).attr("lt"));
        console.log('typeof $(this).attr("act") : ' + typeof $(this).attr("act"));
        console.log('typeof $(this).attr("lt") : ' + typeof $(this).attr("lt"));
        if(typeof $(this).attr('act') !== 'undefined'){
          console.log('We are beginning activity confirm_hours_student');
          let act_id = $(this).attr('act');
          let day = $(this).attr('day');
          $.post('/organism/confirmhours', {vol_id: vol_id, org_id: org_id, org_name: org_name, act_id: act_id, day: day, todo: todo_id, answers: answers_json, hours: hours, type: type})
          .done(function(data, status){
            if (env == 'prod') {
              event_props.type = type;
              amplitude.getInstance().logEvent('o_confirmhours', event_props);
            }
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
            window.location.href = $('#continue').attr('href');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        }
        $($(this).attr('modal_id')).modal('toggle');
        return false;
      });
      $('.correctStudentHoursForm').submit(function(){
        let vol_id = $(this).attr('vol');
        let todo_id = $(this).attr('todo');
        let hours_before = $(this).attr('hours');
        let type = $(this).attr('type');
        let modal_id = $(this).attr('modal_id');
        let org_id = $(this).attr('org_id');
        let org_name = $(this).attr('org_name');
        let answers_input = $(this).find('.correction_text');
        let input_group = $("div[class='btn-group'][todo='"+todo_id+"']");
        let answers_json = $(this).serializeArray();
        let event_props = {};
        console.log('answers_json : ' + JSON.stringify(answers_json));
        let correct_hours = ($(this).find('.correctionStudentHoursInput')).val();
        if($(this).attr('act')){
          let act_id = $(this).attr('act');
          let day = $(this).attr('day');
          $.post('/organism/correcthours', {vol_id: vol_id, org_id: org_id, org_name: org_name, act_id: act_id, day: day, todo: todo_id, answers: answers_json, correct_hours: correct_hours, hours_before: hours_before, type: type})
          .done(function(data, status){
            console.log("Remarque: " + status);
            if (env == 'prod') {
              event_props.type = type;
              amplitude.getInstance().logEvent('o_correcthours', event_props);
            }
            input_group.replaceWith('<p><b>Heures confirmées</b></p>');
            window.location.href = $('#continue').attr('href');
          })
          .fail(function(data, status){
            console.log("Remarque: " + status);
            input_group.replaceWith('<p><b>Erreur lors de l\'opération</b></p>');
          });
        }
        $($(this).attr('modal_id')).modal('toggle');
        return false;
      });
    })