extends ./layout.jade
block vars
  - var page = 'profile'

block content
  #map-section.container-fluid
    .row
      .col-md-4.col-md-offset-1
        .page-header
          h1
            | Mon profil 
            small
          if error
            p.alert.alert-danger #{error}
        ul.list-group
          li.list-group-item
            | Prénom: #{user.firstname}
            small
          |             
          li.list-group-item
            | Nom: #{user.lastname}
            small
          |             
          li.list-group-item
            | Date de naissance: #{user.birthdate}
            small
          |             
          li.list-group-item
            | Adresse mail: #{user.email}
            small
          li.list-group-item#password-group
            p Password: #[span.display ******]
            form#edit-password-form.form-horizontal.hidden.editing
              .input-group.conn-input
                p.alert.alert-danger#password-error Wrong password
                .input-group.conn-input
                  input#password.form-control(type="password", placeholder="Current password")
                .input-group.conn-input
                  input#password.form-control(name="newPassword", type="password", placeholder="New password")
                .input-group.conn-input
                  input#password.form-control(name="confirmPassword", type="password", placeholder="Confirm password")
            div.btn-toolbar
                button.btn.btn-default#edit-password-button.display Edit
                button.btn.btn-default#cancel-password-button.editing.hidden Cancel
                button.btn.btn-default#save-password-button.editing.hidden Save
      .col-md-4.col-md-offset-2
        .page-header
          h1 Mes inscriptions
        #offers-list.no-side-padding
            ul.list-group.list-opportunity
              if opportunities.length == 0
                p Pas d opportunites
              each opp, index in opportunities
                li.list-group-item
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading= opp.oName
                    a.firstColor= opp.intitule
                    p= 'Pour ' + opp.nbBenevoles + ' bénévoles'
                    #identifiant(style="display:none")
                      p= opp._id
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target="#myModal") Informations
                    #myModal.modal.fade(tabindex='-1', role='dialog')
                      .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;        
                              #myModalLabel.h4.modal-title= opp.oName + ' - ' + opp.intitule
                            .modal-body.my-modal-body
                              p= 'Date: '+ opp.date
                              p= 'Pour ' + opp.nbBenevoles + ' bénévoles'
                              p= 'Adresse: '+ opp.address
                            .modal-footer
                              button.btn.btn-default(type='button', data-dismiss='modal') Fermer

block footscript
  script.
    //Edit password functions
    $('#edit-password-button').click(function(){
      console.log("Change");
      $('#password-group').find('.display').addClass('hidden');
      $('#password-group').find('.editing').removeClass('hidden');
    });

    var closeEditPassword = function(){
      $('#password-group').find('.display').removeClass('hidden');

      $('#password-group').find('.editing').addClass('hidden');
      //Clear inputs
      $('#password-group').find('input').val("");
      $('#password-error').addClass('hidden');
    }

    $('#cancel-password-button').click(function(){
      closeEditPassword();
    });

    $('#save-password-button').click(function(){
      console.log("Save password");

      var passwordInputs = $("#edit-password-list");
      var passwordData = {current: passwordInputs.find("#current-password").val(), 
        new: passwordInputs.find("#new-password").val(), 
        confirm: passwordInputs.find("#confirm-password").val()};

      console.log(passwordData);

      if(passwordData.new != passwordData.confirm){
        console.log("Passwords different");
      }
      else{
        $.post("editPassword", passwordData)
          .done(function(data){
            console.log("Change password attempt: "+data.success);   
            if(data.success){
              closeEditPassword();
              BootstrapDialog.show({message: "Password changed successfully!"});
            }
            else{
              //Show error
              $("#password-error").removeClass("hidden");
            }
          });
      }
    });

    $(document).ready(function(){
      $('#edit-password-form').formValidation({
          framework: 'bootstrap',
          icon: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              confirmPassword: {
                  validators: {
                      identical: {
                          field: 'new-password',
                          message: 'The password and its confirm are not the same'
                      }
            }}}});
    });

  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='bower_components/form.validation/dist/js/formValidation.min.js')
  script(src='bower_components/form.validation/dist/js/framework/bootstrap.min.js')
  script(src='bower_components/bootstrap3-dialog/src/js/bootstrap-dialog.js')

  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });

