extends ./layout.jade
block vars
  - var page = 'profile'

block content
  #map-section.container-fluid
    .row
      .col-md-4.col-md-offset-1
        .page-header
          h1
            | Mon profil 
            small
          if error
            p.alert.alert-danger #{error}
        ul.list-group
          li.list-group-item
            | Prénom: #{user.firstname}
            small
          |             
          li.list-group-item
            | Nom: #{user.lastname}
            small
          |             
          li.list-group-item
            | Date de naissance: #{user.birthdate}
            small
          |             
          li.list-group-item
            | Adresse mail: #{user.email}
            small
          li.list-group-item#password-group
            p Password: #[span.display ******]
            ul.list-group#edit-password-list.hidden.editing
              li.list-group-item.hidden#password-error
                p.alert.alert-danger Wrong password
              li.list-group-item
                input(id="current-password", type="password", placeholder="Current password")
              li.list-group-item
                input(id="new-password", type="password", placeholder="New password")
              li.list-group-item
                input(id="confirm-password" type="password", placeholder="Confirm password")
            button#edit-password-button.display Edit
            button#cancel-password-button.editing.hidden Cancel
            button#save-password-button.editing.hidden Save
      .col-md-4.col-md-offset-2
        .page-header
          h1 Mes inscriptions
        #offers-list.no-side-padding
            ul.list-group.list-opportunity
              if opportunities.length == 0
                p Pas d opportunites
              each opp, index in opportunities
                li.list-group-item
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object(src='images/clouds.jpg')
                  div.media-body
                    h4.media-heading= opp.oName
                    a.firstColor= opp.intitule
                    p= 'Pour ' + opp.nbBenevoles + ' bénévoles'
                    #identifiant(style="display:none")
                      p= opp._id
                  div.media-right.media-middle
                    button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target="#myModal") Informations
                    #myModal.modal.fade(tabindex='-1', role='dialog')
                      .modal-dialog
                          .modal-content
                            .modal-header
                              button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;        
                              #myModalLabel.h4.modal-title= opp.oName + ' - ' + opp.intitule
                            .modal-body.my-modal-body
                              p= 'Date: '+ opp.date
                              p= 'Pour ' + opp.nbBenevoles + ' bénévoles'
                              p= 'Adresse: '+ opp.address
                            .modal-footer
                              button.btn.btn-default(type='button', data-dismiss='modal') Fermer

block footscript
  script.
    $(document).ready(function() {
      $('.favorite').hover(function(){
        $(this).addClass('icon-spin');
      }, function(){
        $('.favorite').removeClass('icon-spin');
      });
      $('.favorite').click(function(){
        var orgName = $(this).parents().parents().children('.media-body').children('.media-heading').html();
        var intitule = $(this).parents().parents().children('.media-body').children('a').html();
        var nbBenevoles = $(this).parents().parents().children('.media-body').children('p').html();
        var identifiant = $(this).parents().parents().children('.media-body').children('#identifiant').children('p').html();
        //On applique la même procédure que si on ajoutait (ou retirait) un favori depuis la map. Il sera retiré.
        $.post('addfavopp', {orgName: orgName, intitule: intitule, nbBenevoles: nbBenevoles, identifiant:identifiant}).done(function(){});
        //On retire ce favori de l'affichage de la liste
        $(this).parent().parent().hide();
      });
    });
    
    //Edit password functions
    $('#edit-password-button').click(function(){
      console.log("Change");
      $('#password-group').find('.display').addClass('hidden');
      $('#password-group').find('.editing').removeClass('hidden');
    });

    var closeEditPassword = function(){
      $('#password-group').find('.display').removeClass('hidden');

      $('#password-group').find('.editing').addClass('hidden');
      //Clear inputs
      $('#password-group').find('input').val("");
      $('#password-error').addClass('hidden');
    }

    var openEditPassword = function(){
    }

    $('#cancel-password-button').click(function(){
      closeEditPassword();
    });

    $('#save-password-button').click(function(){
      console.log("Save password");

      var passwordInputs = $("#edit-password-list");
      var passwordData = {current: passwordInputs.find("#current-password").val(), 
        new: passwordInputs.find("#new-password").val(), 
        confirm: passwordInputs.find("#confirm-password").val()};

      console.log(passwordData);

      if(passwordData.new != passwordData.confirm){
        console.log("Passwords different");
      }
      else{
        $.post("editPassword", passwordData)
          .done(function(data){
            console.log("Change password attempt: "+data.success);   
            if(data.success){
              closeEditPassword();
              BootstrapDialog.show({message: "Password changed successfully!"});
            }
            else{
              //Show error
              $("#password-error").removeClass("hidden");
            }
          });
      }
    });

  script(src='javascripts/bootstrap.min.js')
  script(src='bower_components/bootstrap3-dialog/src/js/bootstrap-dialog.js')
  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });

