extends ./g_layout.jade
block vars
  - var page = 'activity'

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-1
        .page-header
          h1= activity.event_intitule
          p= 'Description : ' + event[0].description
          p= 'Adresse : ' + event[0].address
          h3= activity.intitule
          p= 'Description : ' + activity.description
          each day, index in activity.days
            li.list-group-item
              div.media-left.media-middle
                i.fa.fa-calendar
              div.media-body
                h4= 'Date : ' + day.day.toLocaleDateString()
                p= 'De ' + day.start_time + ' à ' + day.end_time
                p= 'Encore ' + (day.vol_nb-day.applicants.length) + ' places'
                #identifiant(style='display:none')
                  p= event._id
              div.media-right.media-middle
                form(action='/volunteer/subscribe/'+activity._id+'-'+day.day, method='post')
                  button.btn.btn-default(role='button' name='day' value=day.day) S'inscrire
      .col-md-4.col-md-offset-1
        .page-header
          h4 Profil de l'organisme :
          h2= organism.org_name
          p='Description: ' + organism.description
          p= 'Courriel: ' + organism.email
          p= 'Téléphone: ' + organism.phone


block footscript
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-82053185-2', 'auto');
      ga('send', 'pageview');