extends ./g_layout.jade
block vars
  - var page = 'activity'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
block head
  title Activité de bénévolat
  meta(name='description', content='Informations sur les activités de bénévolat ')
block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-1
        .page-header
          h1= activity.event_intitule
          p= event[0].description
          p <b>Adresse : </b> #{event[0].address} 
          h3= activity.intitule
          p <b>Description de l'activité :</b> #{activity.description}
          each day, index in activity.days
            li.list-group-item
              div.media-left.media-middle
                i.fa.fa-calendar
              div.media-body
                h4= days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()
                p= 'De ' + day.start_time + ' à ' + day.end_time
                p= 'Encore ' + (day.vol_nb-day.applicants.length) + ' places'
                #identifiant(style='display:none')
                  p= event._id
              div.media-right.media-middle
                if day.day > Date.now()
                  if day.applicants.find(function(applicant){return applicant==volunteer._id})
                    h4 Inscrit
                  else if ((day.vol_nb-day.applicants.length) < 1)
                    h4 Complet
                  else
                    input.btn.btn-default(type='button' value='S\'inscrire' data-toggle='modal' data-target='#activity-modal'+index)
                    .modal.fade(id='activity-modal'+index, tab-index='-1' role='dialog' aria-labelledby='myModalLabel')
                      .modal-dialog(role='document')
                        .modal-content
                          form.inline(action='/volunteer/event/subscribe/'+activity._id+'-'+day.day, method='post', onsubmit='return validatePhone('+day.day.getTime()+')')
                            .modal-header
                              button.close(type='button' data-dismiss="modal" aria-label="Close")
                                span(aria-hidden='true')&times;
                              h4.modal-title(id='myModalLabel') Es-tu sûr de vouloir t'inscrire à cette activité ?
                              if !volunteer.phone
                                .modal-body
                                  h6 Afin que l'organisme puisse t'appeller s'il y a un changement de dernière minute, il est souvent préférable qu'il soit informé de ton numéro de téléphone
                                  p.alert.alert-danger.hidden(class='phone_alert'+day.day.getTime()) Entrer un numéro de téléphone
                                  .form-group.conn-input
                                    label.control-label Téléphone
                                    input.form-control(type='text', placeholder='', name='phone', aria-describedby='basic-addon1', required aria-required='true', id='phone'+day.day.getTime())
                            .modal-footer
                              a.btn.btn-warning(data-dismiss='modal') Annuler
                              input.btn.btn-default(type='submit' value='Oui' role='button')
                else
                  h4 Passé
      .col-md-4.col-md-offset-1
        .page-header
          h4 L'organisme :
          h2= organism.org_name
          p='Mission: ' + organism.description
          p= 'Courriel: ' + organism.email
          if organism.phone
            p= 'Téléphone: ' + organism.phone

block footscript
  script(type="text/javascript").
    function validatePhone(day){
      const phone_number = $('#phone'+day).val();
      console.log('phone_number.length : ' + phone_number.length);
      if(phone_number.length < 10){
        $('.phone_alert'+day).removeClass('hidden');
        return false;
      };
    };
    $(document).ready(function(){
      
    });