extends ./g_layout.jade
block vars
	- var page = 'event'
	- var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
	- var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
	- function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
block head
	title Événement de bénévolat
	meta(name='description', content='Informations sur l\'événement de bénévolat ')
block share
	script.
		var bitly_token = '074139d6c2b2511f886ae9e554856c4ecf3ca141';
		window.fbAsyncInit = function() {
			FB.init({
				appId      : 1829081597379617,
				xfbml      : true,
				version    : 'v2.8'
			});
			FB.AppEvents.logPageView();
			var activity_id = !{JSON.stringify(activity._id)};
			var url = window.location.origin + '/all/activity/' + activity_id;
			console.log('url : ' + url);
			var bitly_address = 'https://api-ssl.bitly.com/v3/shorten?access_token='+bitly_token+'&longURL='+url;
			console.log('bitly_address : ' + bitly_address);
			$.get(bitly_address, function(datas){
				console.info('bitly : ' + JSON.stringify(datas));
				if(datas.status_code < 400){
					$('#propose').click(function(){
						$(this).parent().html("<div class='alert alert-info text-center'><a class='btn' id='messenger' style='background-color: white;'><img src='/images/facebook-messenger.svg' style='height: 20px; width: auto;'></img> Par Messenger</a><p> Ou partage ce lien : </p><input type='text' id='link_to_share'></input></div>");
						console.info('We are in the status_code OK !');
						$('#link_to_share').val(datas.data.url);
						$('#messenger').click(function(){
							FB.ui({
								method: 'send',
								link: datas.data.url
							}, function(response){
								// Debug response (optional)
								console.log(response);
							});
						});
					});
				} else {
					$('#propose').click(function(){
						console.info('We are in the status_code not OK !');
						$(this).parent().html("<div class='alert alert-warning'><p>Problème avec réseaux sociaux, néanmoins possibilité de partager directement ce lien <br> <b>Voici le lien</b> : </p><input type='text' id='link_to_share'></input></div>");
						$('#link_to_share').val(url);
					});
				}
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/fr_FR/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

block content
	.container-fluid
		.row.fill
			.col-md-7.col-md-offset-1.no-side-padding
				h1= event.intitule + ' par ' + organism.org_name
				p <b>Adresse:</b> #{event.address}
				p <b>Description:</b> #{event.description}
				li.list-group-item
						.panel.panel-default
							.panel-heading
								div.media-left.media-top
									a(href='profile')
										img.media-object.little-img(src='/images/clouds.jpg')
								div.media-body
									h4.media-heading <b>#{activity.intitule}</b>
									h6
										i.fa.fa-map-marker
										p.inline Adresse : #{event.address}
							.panel-body
								p= activity.description
								h5 <b>Description : </b> #{activity.description}
								each day, day_i in activity.days
									if day.day
										div.media
											div.media-left.media-middle
												i.fa.fa-calendar
											div.media-body
												h4
													h5.inline <b>#{days_name[correctDate(day.day).getDay()]  + ' ' + (correctDate(day.day).getDate()) + ' ' + months_name[correctDate(day.day).getMonth()]  + ' ' + correctDate(day.day).getFullYear()} : </b>
													h6.inline
														i.fa.fa-user
														p.inline= (day.vol_nb - day.applicants.length)+' places restantes'
													h6 De #{day.start_time} à #{day.end_time}
											if day.applicants.find(function(applicant){return applicant==volunteer._id})
												div.media-right.media-middle
													h4 <b>Inscrit</b>
											else if day.day > Date.now()
												div.media-right.media-middle
													input.btn.btn-default(type='button' value='S\'inscrire' data-toggle='modal' data-target='#activity-modal'+activity._id+day_i)
													.modal.fade(id='activity-modal'+activity._id+day_i, tab-index='-1' role='dialog' aria-labelledby='myModalLabel'+activity._id+day_i)
														.modal-dialog(role='document')
															.modal-content
																form.subscribe_form.inline(action='/volunteer/event/subscribe/'+activity._id+'-'+day.day, method='post', onsubmit='return validatePhone1('+day_i+');')
																	.modal-header
																		button.close(type='button' data-dismiss="modal" aria-label="Close")
																			span(aria-hidden='true') &times;
																		h4.modal-title(id='myModalLabel'+activity._id+day_i) Es-tu sûr de vouloir t'inscrire à cette activité ?
																	if !volunteer.phone
																		.modal-body
																			h6 Afin que l'organisme puisse t'appeller s'il y a un changement de dernière minute, il est souvent préférable qu'il soit informé de ton numéro de téléphone
																			p.alert.alert-danger.hidden(class='phone_alerta'+day_i) Entrer un numéro de téléphone
																			.form-group.conn-input
																				label.control-label Téléphone
																				input.form-control(type='text', placeholder='', name='phone', aria-describedby='basic-addon1', required aria-required='true', id='phonea'+day_i)
																	.modal-footer
																		a.btn.btn-warning(data-dismiss='modal') Annuler
																		input.btn.btn-default(type='submit' value='Oui' role='button')
											else
												div.media-right.media-middle
													h4 <b>Passé</b>
				if (student_questions.length > 0 && ((status =='denied')||(status =='pending')||(status =='corrected')||(status =='validated')||(status =='confirmed')))
					div.panel.panel-default
						form#correct_answers_form(name='edit-form' method='post' action='/volunteer/edit-student-feedbacks')
							div.panel-heading
								h4 Ton retour d'expérience
								if status == 'denied'
									span.badge(style='background-color: #E33831')= 'À corriger'
									i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
								else if status == 'corrected'
									span.badge(style='background-color: #FF800E')= 'Corrigé'
									i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
								else if status == 'confirmed'
									span.badge(style='background-color: #113A20')= 'Confirmé par l\'organisme'
									i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
								else if status == 'pending'
									span.badge(style='background-color: #FF800E')= 'En attente de l\'organisme'
									i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
							div.panel-body
								each question, q_I in student_questions
									div.panel.panel-warning
										div.panel-heading
											h6= question 
										div.panel-body
											if ((status == 'pending') || (status == 'confirmed') || (status == 'denied') || (status == 'corrected'))
												h6.answer_to_edit #{student_answers[q_I]}
											else
												h6 #{student_answers[q_I]}
								div.submit-button
				if (organism_questions.length > 0 && organism_answers.length > 0)
					div.panel.panel-default
						div.panel-heading
							h4 Retour de l'organisme
						div.panel-body
							each question, q_I in organism_questions
								div.panel.panel-warning
									div.panel-heading
										h6= question
									div.panel-body
										h6= organism_answers[q_I]
				if other_activities.length > 0
					h3 Autres activités de l'évènement
					each act, act_i in other_activities
						li.list-group-item
							.panel.panel-default
								.panel-heading
									div.media-left.media-top
										a(href='profile')
											img.media-object.little-img(src='/images/clouds.jpg')
									div.media-body
										h4.media-heading <b>#{act.intitule}</b>
										h6
											i.fa.fa-map-marker
											p.inline Adresse : #{event.address}
								.panel-body
									h5 <b>Description : </b> #{act.description}
									each other_day, other_day_i in act.days
										if other_day.day
											div.media
												div.media-left.media-middle
													i.fa.fa-calendar
												div.media-body
													h4
														h5.inline <b>#{days_name[correctDate(other_day.day).getDay()]  + ' ' + (correctDate(other_day.day).getDate()) + ' ' + months_name[correctDate(other_day.day).getMonth()]  + ' ' + correctDate(other_day.day).getFullYear()} : </b>
														h6.inline
															i.fa.fa-user
															p.inline= (other_day.vol_nb - other_day.applicants.length)+' places restantes'
														h6 De #{other_day.start_time} à #{other_day.end_time}
												if other_day.applicants.find(function(applicant){return applicant==volunteer._id})
													if other_day.day > Date.now()
														div.media-right.media-middle
															h4 <b>Inscrit</b>
													else
														div.media-right.media-middle
															h4 <b>Participé</b>
												else if other_day.day > Date.now()
													div.media-right.media-middle
														input.btn.btn-default(type='button' value='S\'inscrire' data-toggle='modal' data-target='#activity-modal'+act_i+other_day_i)
														.modal.fade(tab-index='-1' role='dialog' aria-labelledby='myModalLabel'+act_i+other_day_i, id='activity-modal'+act_i+other_day_i)
															.modal-dialog(role='document')
																form.subscribe_form.inline(action='/volunteer/event/subscribe/'+act._id+'-'+other_day.day, method='post', onsubmit='return validatePhone2('+other_day_i+');')
																	.modal-content
																		.modal-header
																			button.close(type='button' data-dismiss="modal" aria-label="Close")
																				span(aria-hidden='true') &times;
																			h4.modal-title(id='myModalLabel'+act_i+other_day_i) Es-tu sûr de vouloir t'inscrire à cette activité ?
																		if !volunteer.phone
																			.modal-body
																				h6 Afin que l'organisme puisse t'appeller s'il y a un changement de dernière minute, il est souvent préférable qu'il soit informé de ton numéro de téléphone
																				p.alert.alert-danger.hidden(class='phone_alertb'+other_day_i) Entrer un numéro de téléphone
																				.form-group.conn-input
																					label.control-label Téléphone
																					input.form-control(type='text', placeholder='', name='phone', aria-describedby='basic-addon1', required aria-required='true', id='phoneb'+other_day_i)
																		.modal-footer
																			a.btn.btn-warning(data-dismiss='modal') Annuler
																			input.btn.btn-default#activity_subscribe(type='submit' value='Oui' role='button')
												else
													div.media-right.media-middle
														h4 <b>Passé</b>
			.col-md-3.col-md-offset-1.no-side-padding
				h4 L'organisme <b> #{organism.org_name} </b>
				h5 <b>Mission : </b> #{organism.description}
				p <b>Responsable:</b> #{organism.firstname + ' ' + organism.lastname}
				p <b>Courriel:</b> #{organism.email}
				if organism.phone
					p <b>Téléphone:</b> #{organism.phone}
				a(href='http://'+organism.website) Site web
				h5
					i.fa.fa-at
					p.inline #{organism.email}
				div(style='margin-top: 10px;')
					a.btn.btn-warning#propose Proposer à des amis

block footscript
	script(type="text/javascript").
		'use strict';
		function validatePhone1(day){
			const phone_number = $('#phonea'+day).val();
			console.log('phone_number.length : ' + phone_number.length);
			if(phone_number.length < 10){
				$('.phone_alerta'+day).removeClass('hidden');
				return false;
			};
		};
		function validatePhone2(day){
			const phone_number = $('#phoneb'+day).val();
			console.log('phone_number.length : ' + phone_number.length);
			if(phone_number.length < 10){
				$('.phone_alertb'+day).removeClass('hidden');
				return false;
			};
		};

	script(type='text/javascript').
		'use strict';

		$(document).ready(function(){
			//--------AMPLITUDE
			if (env == 'prod') {
				amplitude.getInstance().logEvent('v_visit_event');
				$('.subscribe_form').submit(function(){
					let event_props = {};
					event_props.type = 'event';
					amplitude.getInstance().logEvent('v_subscribe_opp', event_props);
					amplitude.getInstance().logEvent('g_revenue');
				});
				$('#correct_answers_form').submit(function(){
					let event_props = {};
					event_props.type = 'event';
					amplitude.getInstance().logEvent('v_correct_opp', event_props);
				});
			};
		
			const event_id = !{JSON.stringify(event_id)};
			const status = !{JSON.stringify(status)};
			$('.edit').click(function(){
				$('.edit').removeClass('fa').removeClass('fa-pencil');
				$('.answer_to_edit').each(function(index){
					$(this).html("<p>Correction de la réponse</p><textarea rows='4' name='new_response'>"+$(this).text()+"</textarea>");
				});
				$('.submit-button').html("<input class='hidden' name='url' value="+window.location.pathname+"></input><input class='hidden' name='status' value="+status+"></input><input class='hidden' name='event_id' value="+event_id+"></input><input type='submit' value='Envoyer les corrections' class='btn btn-warning'></input>");
			});
		});