extends ./g_layout.jade
block vars
  - var page = 'longterm'
  - var days_name = [__("Sunday,"), __("Monday,"), __("Tuesday,"), __("Wednesday,"), __("Thursday,"), __("Friday,"), __("Saturday,")]
  - var months_name = [__("January"), __("February"), __("March"), __("April"), __("May"), __("June"), __("July"), __("August"), __("September"), __("October"), __("November"), __("December")]
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(date.getTime() + tz_offset);return corrected_datetime}
  - function getCauseDesign(cause){if (cause=='Solidarité') {return '#00b3ff'} else if (cause=='Sport et Culture') {return '#ffc858'} else if (cause=='Nature') {return '#5BCF8F'} else if (cause=='Enfance') {return '#FF4F3C'} else {return ''}}
  - function getCauseTranslation(cause){return __(cause);};
block head
  title Bénévolat long terme
  meta(name='description', content='Information sur l\'opportunité de bénévolat long terme')
block share
  script.
    var bitly_token = '074139d6c2b2511f886ae9e554856c4ecf3ca141';
    window.fbAsyncInit = function() {
      FB.init({
        appId      : 1829081597379617,
        xfbml      : true,
        version    : 'v2.8'
      });
      FB.AppEvents.logPageView();
      var url = window.location.href;
      console.log('url : ' + url);
      var bitly_address = 'https://api-ssl.bitly.com/v3/shorten?access_token='+bitly_token+'&longURL='+url;
      console.log('bitly_address : ' + bitly_address);
      $.get(bitly_address, function(datas){
        console.info('bitly : ' + JSON.stringify(datas));
        if(datas.status_code < 400){
          $('#propose').click(function(){
            $(this).parent().html("<div class='alert alert-info text-center'><a class='btn' id='messenger' style='background-color: white;'><img src='/images/facebook-messenger.svg' style='height: 20px; width: auto;'></img> " + __("by_messenger") + "</a><p> " + __("g_social_share_link") + " : </p><input type='text' id='link_to_share'></input></div>");
            console.info('We are in the status_code OK !');
            $('#link_to_share').val(datas.data.url);
            $('#messenger').click(function(){
              FB.ui({
                method: 'send',
                link: datas.data.url
              }, function(response){
                // Debug response (optional)
                console.log(response);
              });
            });
          });
        } else {
          $('#propose').click(function(){
            console.info('We are in the status_code not OK !');
            $(this).parent().html("<div class='alert alert-warning'><p>Problème avec réseaux sociaux, néanmoins possibilité de partager directement ce lien <br> <b>Voici le lien</b> : </p><input type='text' id='link_to_share'></input></div>");
            $('#link_to_share').val(url);
          });
        }
      });
    };
    
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/fr_FR/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

  meta(property='og:type', content='website')
  meta(property='og:title', content='Bénévolat avec ' + organism.org_name)
  meta(property='og:description', content='Viens faire du bénévolat chez ' + organism.org_name + ' pour ' + longterm.intitule +'. Simplyk est la plateforme de bénévolat de référence à Montréal. Des opportunités de bénévolat pour tous les goûts y sont visibles !')
  meta(property='og:image', content='http://platform.simplyk.org/images/carte.png')

  //meta pour twitter et l'open graphe
  meta(property='twitter:card', content='content=app')
  meta(property='twitter:title', content='Des opportunités de bénévolat à portée de main à Montréal')
  meta(property='twitter:description', content='Viens faire du bénévolat chez ' + organism.org_name + ' pour ' + longterm.intitule +'. Simplyk est la plateforme de bénévolat de référence à Montréal. Des opportunités de bénévolat pour tous les goûts y sont visibles !')
  meta(property='twitter:image', content='http://platform.simplyk.org/images/carte.png')
block content
  .container-fluid
    .row.activity__header
      .col-md-5.col-md-offset-1
        img.center-block(src='/images/happy_city_white.svg', align='middle', style='max-height:30vh; padding-top:3vh')
      .col-md-5.col-md-offset-1
        .page-header
          h2= organism.org_name
          p(style = 'white-space: pre-wrap') <b>Mission:</b> #{organism.description}
          p <b>#{__("supervisor")}:</b> #{organism.firstname + ' ' + organism.lastname}
          if volunteer
            p <b>#{__(email)}:</b> #{organism.email}
            if organism.phone
              p <b>#{__(phone)}:</b> #{organism.phone}
            div(style='margin-top: 10px;')
              a.btn.btn-warning#propose #{__("invite_friends")}
          else
            div
              a.btn.btn-default(href='/login') #{__("signin")}
              p.inline  ou 
              a(href='/register_volunteer')  #{__("signup")}
            div(style='margin-top: 10px;')
              a.btn.btn-warning#propose #{__("invite_friends")}
    .row.activity__background
      .col-lg-6.col-lg-offset-1.col-md-8.col-md-offset-1
        .page-header.activity__unit
          span.badge(style='background-color: '+getCauseDesign(organism.cause))= getCauseTranslation(organism.cause)
          if (alreadySubscribed)
            h1= longterm.intitule + ' '
              if status == 'denied'
                span.badge(style='background-color: #E33831')= 'À corriger'
              else if status == 'corrected'
                span.badge(style='background-color: #FF800E')= 'Corrigé'
              else if status == 'validated'
                span.badge(style='background-color: #113A20')= 'Validé'
              else if status == 'confirmed'
                span.badge(style='background-color: #113A20')= 'Confirmé par l\'organisme'
              else if status == 'pending'
                span.badge(style='background-color: #FF800E')= 'En attente de l\'organisme'
              else
                span.badge Inscrit
          else
            h1= longterm.intitule
          p= longterm.description
          p <b>#{__("number_places")} : </b> #{longterm.vol_nb}
          p <b>#{__("Address")} : </b> #{longterm.address}
          if error
            p.alert.alert-danger= error
          div.media-left.media-middle.hidden-xs
            i.fa.fa-calendar
          div.media-body.hidden-xs
            table.table(id='slot')
              thead
                tr
                  th.text-center #
                  th.text-center#monday= __("Monday.")
                  th.text-center#tuesday= __("Tuesday.")
                  th.text-center#wednesday= __("Wednesday.")
                  th.text-center#thursday= __("Thursday.")
                  th.text-center#friday= __("Friday.")
                  th.text-center#saturday= __("Saturday.")
                  th.text-center#sunday= __("Sunday.")
              tbody
                tr.text-center
                  th.text-center(scope='row') AM
                  td
                    if slotJSON['mondayAM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['tuesdayAM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['wednesdayAM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['thursdayAM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['fridayAM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['saturdayAM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['sundayAM']
                      i.fa.fa-check
                    else
                      p
                tr.text-center
                  th.text-center(scope='row') PM
                  td
                    if slotJSON['mondayPM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['tuesdayPM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['wednesdayPM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['thursdayPM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['fridayPM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['saturdayPM']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['sundayPM']
                      i.fa.fa-check
                    else
                      p
                tr.text-center
                  th.text-center(scope='row')= 'Soir (>16h)'
                  td
                    if slotJSON['mondayEVE']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['tuesdayEVE']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['wednesdayEVE']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['thursdayEVE']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['fridayEVE']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['saturdayEVE']
                      i.fa.fa-check
                    else
                      p
                  td
                    if slotJSON['sundayEVE']
                      i.fa.fa-check
                    else
                      p
          if (!alreadySubscribed && volunteer)
            if (longterm.vol_nb - longterm.applicants.length) >= 0
              input.center-block.btn.btn-default(type='button' value='S\'inscrire' data-toggle='modal' data-target='#longterm-modal' style='margin-top: 10px')
              .modal.fade(id='longterm-modal' tab-index='-1' role='dialog' aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                  .modal-content
                    form.subscribe_form.inline(action='/volunteer/longterm/subscribe/'+longterm._id, method='post', onsubmit='return validatePhone()')
                      .modal-header
                        button.close(type='button' data-dismiss="modal" aria-label="Close")
                          span(aria-hidden='true')&times;
                        h4.modal-title(id='myModalLabel') Es-tu sûr de vouloir t'inscrire à cet engagement ?
                        if !volunteer.phone
                          .modal-body
                            h6 Afin que l'organisme puisse t'appeller s'il y a un changement, il est souvent préférable qu'il soit informé de ton numéro de téléphone
                            p.alert.alert-danger.hidden(class='phone_alert') Entrer un numéro de téléphone
                            .form-group.conn-input
                              label.control-label Téléphone
                              input.form-control(type='text', placeholder='', name='phone', aria-describedby='basic-addon1', required aria-required='true', id='phone')
                        else if (!volunteer.parents_email && (volunteer.admin && volunteer.admin.school_id))
                          .modal-body
                            h6 Afin que tes parents soient aussi au courant des endroits où tu vas faire du bénévolat, tu peux rajouter leur adresse courriel
                            .form-group.conn-input
                              label.control-label Courriel des parents (optionnel)
                              input.form-control(type='email', placeholder='', name='parents_email', aria-describedby='basic-addon1', id='parents_email')
                      .modal-footer
                        a.btn.btn-warning(data-dismiss='modal') Annuler
                        input.btn.btn-default#longterm_subscribe(type='submit' value='Oui' role='button')
            else
              button.center-block.btn.btn-default(type='button' disabled='disabled' style='margin-top: 10px') Complet
        if (student_questions && student_questions.length > 0 && ((status =='denied')||(status =='pending')||(status =='corrected')||(status =='validated')||(status =='confirmed')))
          h2 Questionnaire
      .col-md-4.col-md-offset-1
        if (alreadySubscribed)
          .page-header.activity__unit--no-padding
            .panel.panel-default
              .panel-heading
                div.media
                  div.media-left.media-top
                    h4 <strong>Mon engagement</strong>
                  div.media-top.media-right
                    div.btn.longterm(data-toggle='modal' data-target='#addLTHoursModal')
                      i.fa.fa-plus
                      p.inline Ajouter des heures
                #addLTHoursModal.modal.fade(tabindex='-1', role='dialog' aria-labelledby="addLTHoursModalLabel")
                  div.modal-dialog(role='document')
                    form.modal-content.addLTHoursForm(id='addLTHoursForm'+longterm._id, method='post', action='/volunteer/LThours_pending/'+longterm._id)
                      .modal-header
                        button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                          span(aria-hidden='true')
                          h4.modal-title Ajout d'heures
                        div.modal-body
                          div.form-group
                            label(for='addLTHoursInput') Combien d'heures as-tu effectué dernièrement ?
                            input.form-control(name='hours_pending', type='number', min=1, max=50, step=0.5 form='addLTHoursForm'+longterm._id, required)
                        div.modal-footer
                          a.btn.btn-default(data-dismiss='modal') Annuler
                          input.btn.btn-warning(type='submit' form='addLTHoursForm'+longterm._id, value='Envoyer')
              .panel-body
                table.table(id='achievements')
                    thead
                      tr
                        th.text-center Heures réalisées
                        th.text-center Heures à confirmer
                    tbody
                      tr
                        td
                          if (hours_done)
                            p.text-center= hours_done + 'h'
                          else
                            p.text-center 0h
                        td
                          if (hours_pending)
                            p.text-center= hours_pending + 'h'
                          else
                            p.text-center 0h
    .row.background__color
      .col-md-10.col-md-offset-1
        if (student_questions && student_questions.length > 0 && ((status =='denied')||(status =='pending')||(status =='corrected')||(status =='validated')||(status =='confirmed')))
          div.panel.panel-default
            form.edit_form(name='edit-form' method='post' action='/volunteer/edit-student-feedbacks')
              div.panel-heading
                h4 Ton retour d'expérience
                if status == 'denied'
                  span.badge(style='background-color: #E33831')= 'À corriger'
                  i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
                else if status == 'corrected'
                  span.badge(style='background-color: #FF800E')= 'Corrigé'
                  i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
                else if status == 'confirmed'
                  span.badge(style='background-color: #113A20')= 'Confirmé par l\'organisme'
                  i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
                else if status == 'pending'
                  span.badge(style='background-color: #FF800E')= 'En attente de l\'organisme'
                  i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer")
              div.panel-body
                each question, q_I in student_questions
                  div.panel.panel-warning
                    div.panel-heading
                      h6= question 
                    div.panel-body
                      if ((status == 'pending') || (status == 'confirmed') || (status == 'denied') || (status == 'corrected'))
                        h6.answer_to_edit #{student_answers[q_I]}
                      else
                        h6 #{student_answers[q_I]}
                div.submit-button
        if (organism_questions && organism_answers && organism_questions.length > 0 && organism_answers.length > 0)
          div.panel.panel-default
            div.panel-heading
              h4 Retour de l'organisme
            div.panel-body
              each question, q_I in organism_questions
                div.panel.panel-warning
                  div.panel-heading
                    h6= question
                  div.panel-body
                    h6= organism_answers[q_I]

block footscript
  script(type='text/javascript').
    'use strict';
    function validatePhone(){
      const phone_number = $('#phone').val();
      console.log('phone_number.length : ' + phone_number.length);
      if(phone_number.length < 10){
        $('.phone_alert').removeClass('hidden');
        return false;
      };
    };

  script(type='text/javascript').
    'use strict';
    $(document).ready(function(){
      //--------AMPLITUDE
      if (env == 'prod') {
        amplitude.getInstance().logEvent('v_visit_longterm');

        $('.subscribe_form').submit(function(){
          let event_props = {};
          event_props.type = 'longterm';
          amplitude.getInstance().logEvent('v_subscribe_opp', event_props);
          amplitude.getInstance().logEvent('g_revenue');
        });
        $('.edit_form').submit(function(){
          let event_props = {};
          event_props.type = 'longterm';
          amplitude.getInstance().logEvent('v_correct_opp', event_props);
        });
        $('.addLTHoursForm').submit(function(){
          let event_props = {};
          event_props.type = 'longterm';
          amplitude.getInstance().logEvent('v_hourspending_opp', event_props);
        });
      };

      const lt_id = !{JSON.stringify(longterm._id)};
      const status = !{JSON.stringify(status)};
      $('.edit').click(function(){
        $('.edit').removeClass('fa').removeClass('fa-pencil');
        $('.answer_to_edit').each(function(index){
          $(this).html("<p>Correction de la réponse</p><textarea rows='4' name='new_response'>"+$(this).text()+"</textarea>");
        });
        $('.submit-button').html("<input class='hidden' name='url' value="+window.location.pathname+"></input><input class='hidden' name='status' value="+status+"></input></input><input class='hidden' name='lt_id' value="+lt_id+"></input><input type='submit' value='Envoyer les corrections' class='btn btn-warning'></input>");
      });
      if (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
        $('#slot').addClass('table-xs');
        $('.activity__unit').css('padding', '20px');
        $('.media-left').addClass('hidden');
        $('#monday').text('L.');
        $('#tuesday').text('Ma.');
        $('#wednesday').text('Me.');
        $('#thursday').text('J.');
        $('#friday').text('V.');
        $('#saturday').text('S.');
        $('#sunday').text('D.');
      } else if (/iPad|Tablet/i.test(navigator.userAgent)) {
        $('#slot').css('font-size', '12px');
      } else {
        $('#slot').css('font-size', '10px');
      };

    });