extends ./g_layout.jade
block vars
  - var page = 'map'


block content
      .container-fluid
        .row.fill
          #offers-list.col-md-5.no-side-padding.scrollable
            ul.list-group.list-opportunity
              if error
                p.alert.alert-danger #{error}
              if success
                p.alert.alert-success #{success}
              each act, index in activities
                  li.list-group-item(id= act._id)
                    .panel.panel-default
                      .panel-heading
                        div.media-left.media-top
                          a(href='#')
                            img.media-object.little-img(src='/images/clouds.jpg')
                        div.media-body
                          h4.media-heading <b>#{act.intitule}</b>
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{act.address}
                        div.media-right.media-middle
                          button.btn.btn-default.media-object(type='button' data-toggle="modal" data-target= "."+act._id) Plus d'infos
                          div(tabindex='-1', role='dialog', class='modal fade ' + act._id, id=act._id)
                            .modal-dialog(role='document')
                                .modal-content
                                  .modal-header
                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                      span(aria-hidden='true') &times;        
                                    #myModalLabel.h4.modal-title=  act.org_name + ' - ' +act.event_intitule
                                  .modal-body.my-modal-body
                                    h4 <b>#{act.intitule}</b>
                                    each day, nb in act.days
                                      p= 'Pour ' + day.vol_nb + ' bénévoles le ' + day.day.toLocaleDateString()
                                      #identifiant(style="display:none")
                                        p= act._id
                                    p= 'Adresse: '+ act.address
                                  .modal-footer
                                    button.btn.btn-default(type='button', data-dismiss='modal') Fermer
                                    #subscribe.subscribe-button.button.btn.btn-default(type='button' aria-expanded="false" aria-controls="collapseExample") S'inscrire
                                    .subscribe-button.button.btn.btn-default(type='button' aria-expanded="false" aria-controls="collapseExample") Plus d'infos
                      .panel-body
                          h4 Dans le cadre de : <b>#{act.event_intitule}</b>
                          each day, day_i in act.days
                            h4
                              h5.inline <b>#{day.day.toLocaleDateString()} : </b>
                              h6.inline
                                i.fa.fa-user
                                p.inline= (day.vol_nb-day.applicants.length)+' places restantes'
          .col-md-7.no-side-padding
           #map

block footscript
  script.
    $(function() {
      $('.subscribe-button').click(function(){
        console.log('Clic sur le bouton  de subscription');
        var act_id = $(this).parents().parents().children('.modal').attr('id');
        console.log('act_id : ' + act_id);
        $.redirect('/activity/'+act_id, {}, 'GET');
      });
      $('.subscribe-button').click(function(){
        console.log('Clic sur le bouton  de subscription');
        var act_id = $(this).parents().parents().children('.modal').attr('id');
        console.log('act_id : ' + act_id);
        $.redirect('/activity/'+act_id, {}, 'GET');
      });
    });
    function initMap(){ 
      function listStar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).addClass('starring');
        console.log(listElement);
      }
      function listUnstar(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        $(listElement).removeClass('starring');
        console.log(listElement);
      }
      function openListInfos(i){
        listElement = document.getElementById("offers-list").childNodes[0].childNodes[i];
        listElement.childNodes[2].childNodes[0].click();
        console.log(listElement.childNodes[2]);
      }
      var mapDiv = document.getElementById('map');
      var map = new google.maps.Map(mapDiv, {
        center: {lat: 45.503, lng: -73.613},
        zoom: 12,
        scrollwheel: false,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      //Generate markers
      var imageTest = '/images/Perso/blue-icon-marker.svg';
      //- la variable cause sert en attendant l'accès au json
      var cause = 'cul'
      var imageSol = {
      url: '/images/Perso/blue-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var imageEnv = {
      url: '/images/Perso/green-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var imageCul = {
      url: '/images/Perso/yellow-icon-marker.svg', // image is 512 x 512
      scaledSize : new google.maps.Size(30, 36)
      };
      var acts = !{JSON.stringify(activities)};
      var infowindows = [];
      var markers = [];
      var optionsMS = {
            gridSize: 50,
            maxZoom: 13,
            minimumClusterSize: 15,
            imagePath: '/images/m'
        };
      function attachInfoWindow(marker, infoWindow, act, i){
        marker.addListener('click', function(){
          openListInfos(i);
        });
        marker.addListener('mouseover', function(){
          infoWindow.open(map, marker);
          listStar(i);
        });
        marker.addListener('mouseout', function(){
          infoWindow.close();
          listUnstar(i);
        });
      };
        var legend = document.createElement('div');
        legend.id = 'legend';
        var content = [];
        content.push('<i class="fa fa-envira" id="leaf"> Environnement</i><br>');
        content.push('<i class="fa fa-heart" id="soli"> Solidarité</i><br>');
        content.push('<i class="fa fa-institution" id="cult"> Culture</i><br>');
        legend.innerHTML = content.join('');
        legend.index = 1;
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);
      for(i=0; i<acts.length; i++){
        console.log(acts[i].intitule + " marker generated with lat and lon : " + acts[i].lat + acts[i].lon);
        var act = acts[i];
        
        infowindows[i] = new google.maps.InfoWindow({
          content: act.org_name + ' - ' + act.intitule
        });
        //choix du marqueur en fonction de la cause, changer avec le json
        if (acts[i].cause=='Environnement'){
        markers[i] = new google.maps.Marker({
          position: {lat: act.lat, lng: act.lon},
          map: map,
          icon: imageEnv,
          clickable: true
        });
        }
        if (acts[i].cause=='Solidarité'){
        markers[i] = new google.maps.Marker({
          position: {lat: act.lat+0.01, lng: act.lon},
          map: map,
          icon: imageSol,
          clickable: true
        });
        }
        if (acts[i].cause=='Culture'){
        markers[i] = new google.maps.Marker({
          position: {lat: act.lat, lng: act.lon},
          map: map,
          icon: imageCul,
          clickable: true
        });
        }
        attachInfoWindow(markers[i], infowindows[i], act, i);
      }
      var markerCluster = new MarkerClusterer(map, markers, optionsMS);
    }
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRPJIqo9jqMb99E47aKuO64rxugd3S-Wk&callback=initMap"
         async defer)
  // jQuery (necessary for Bootstrap's JavaScript plugins)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  // jQuery redirection plugin
  script(src="/bower_components/jquery.redirect/jquery.redirect.js", type="text/javascript")
  // jQuery
  script(src='/javascripts/my-jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  script(src='/javascripts/bootstrap.min.js')
  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });
