extends ./g_layout.jade
block vars
  - var page = 'postsubscription'
block head
  title Confirmation
  meta(name='description', content='Ton inscription est confirmée')
block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .page-header.jumbotron
          h1.text-center Félicitations !
          div.icon-center
            i.fa.fa-space-shuttle.fa-5x
          h2.text-center Tu es prêt à changer le monde ?!
          //It means this is an event
          if day
            h4.text-center <br>L'organisme <b>#{org_name}</b>  va être mis au courant de ton inscription.<br> Tu peux les contacter grâce à leur adresse courriel si tu as besoin d'infos supplémentaires. <br> En tout cas, on t'attend le <b>#{day}</b> de <b>#{start_time}</b>  à <b>#{end_time}</b> . Rendez-vous à : <b>#{address}</b>
            //It means this is a longterm
          else
            h4.text-center <br>L'organisme <b>#{org_name}</b> va être mis au courant de ton inscription.<br> Tu peux les contacter grâce à leur adresse courriel pour avoir des infos supplémentaires: <b>#{email}</b>. N'oublie pas d'enregistrer sur ton profil les heures de bénévolat effectuées !
          a.btn.btn-default.icon-center(href='/volunteer/profile') C'est parti !


block footscript