extends ./g_layout.jade
block vars
  - var page = 'postsubscription'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
block head
  title Confirmation
  meta(name='description', content='Ton inscription est confirmée')
block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .page-header.jumbotron
          p.badge= org_name
          h1.text-center Félicitations !
          div.icon-center
            if type == 'extra'
              i.fa.fa-tachometer.fa-5x
            else
              i.fa.fa-space-shuttle.fa-5x
          if type == 'extra'
            h2.text-center Ton engagement fais du bien autour de toi
          else
            h2.text-center Tu es prêt à changer le monde ?!
          //It means this is an event
          if day
            h4.text-center Entre en contact avec <b>#{org_name}</b> en appelant le <b>#{org_phone}</b> pour confirmer ta venue et prévoir les détails. <br> Après l'évènement, tu pourras ajouter des heures d'engagement à ton profil pour faire valoir ton travail dans la communauté.
          else if type == 'extra'
            h4.text-center <br>Maintenant, assure toi que l'organisme <b>#{org_name}</b>  valide bien ce bénévolat. <br> Pense à le lui rappeler la prochaine fois !            
          else
            h4.text-center <br>L'organisme <b>#{org_name}</b> a reçu un courriel pour être prévenu de ton inscription.<br> S'il ne te contacte pas, appelle-le au <b>#{org_phone}</b> ou envoie un courriel à <b>#{email}</b>. <br>Après tes actions bénévoles, tu pourras enregistrer tes heures de bénévolat à ton profil pour garder une trace de ton action !
          if type == 'extra'
            a.btn.btn-default.icon-center(href='/volunteer/profile') C'est parti !
          else
            if link_to_share
              a.btn.btn-default.icon-center(href='/volunteer/sharewithfriends?link='+link_to_share) C'est parti !


block footscript