extends ./g_layout.jade
block vars
  - var page = 'postsubscription'

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .page-header.jumbotron
          h1.text-center Félicitations !
          div.icon-center
            i.fa.fa-space-shuttle.fa-5x
          h2.text-center Tu es prêt à changer le monde ?!
          h4.text-center <br>L'organisme <b>#{org_name}</b>  va être mis au courant de ton inscription.<br> Tu peux les contacter grâce à leur adresse courriel si tu as besoin d'infos supplémentaire. <br> En tout cas, on t'attend le <b>#{day}</b> de <b>#{start_time}</b>  à <b>#{end_time}</b> . Rendez-vous à : <b>#{address}</b>
          button.btn.btn-default.icon-center Suivant

block footscript
  script(src="/bower_components/jquery.redirect/jquery.redirect.js")
  script.
    $(document).ready(function(){
      const btn = $('.btn');
      btn.on('click', function(){
        $.redirect('/volunteer/map', {}, 'GET');
      })
    })
  script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-82053185-2', 'auto');
      ga('send', 'pageview');