extends ./g_layout.jade
block vars
  - var page = 'postsubscription'

block content
  .container-fluid
    .row
      .col-md-6.col-md-offset-3
        .page-header.jumbotron
          h1.text-center Félicitations !
          div.icon-center
            i.fa.fa-space-shuttle.fa-5x
          h2.text-center Tu es prêt à changer le monde ?!
          h4.text-center <br>L'organisme <b>#{org_name}</b>  va être mis au courant de ton inscription.<br> Tu peux les contacter grâce à leur adresse courriel si tu as besoin d'infos supplémentaire. <br> En tout cas, on t'attend le <b>#{day}</b> de <b>#{start_time}</b>  à <b>#{end_time}</b> . Rendez-vous à : <b>#{address}</b>
          button.btn.btn-default.icon-center C'est parti !

block footscript
  script(src="/bower_components/jquery.redirect/jquery.redirect.js")
  script.
    $(document).ready(function(){
      const btn = $('.btn');
      btn.on('click', function(){
        $.redirect('/volunteer/map', {}, 'GET');
      })
    })