extends ./g_layout.jade
block vars
  - var page = 'profile'

block content
  #map-section.container-fluid
    .row
      .col-md-4.col-md-offset-1
        .page-header
          h3
            | Mon profil
            small
          if error
            p.alert.alert-danger #{error}
        ul.list-group
          li.list-group-item
            | Prénom: #{volunteer.firstname}
            small
          li.list-group-item
            | Nom: #{volunteer.lastname}
            small
          li.list-group-item= 'Date de naissance: ' + moment(volunteer.birthdate).format("DD/MM/YYYY")
            small
          li.list-group-item
            | Adresse mail: #{volunteer.email}
            small
          li.list-group-item#password-group
            p Password: #[span.display ******]
            form#edit-password-form.form-horizontal.hidden.editing
              .input-group.conn-input
                p#password-error.alert.alert-danger.hidden Wrong password
                .input-group.conn-input
                  input.form-control(name="current-password", type="password", placeholder="Current password")
                .input-group.conn-input
                  input.form-control(name="new-password", type="password", placeholder="New password")
                .input-group.conn-input
                  input.form-control(name="confirm-password", type="password", placeholder="Confirm password")
            div.btn-toolbar
                button.btn.btn-default#edit-password-button.display Edit
                button.btn.btn-default#cancel-password-button.editing.hidden Cancel
                button.btn.btn-default#save-password-button.editing.hidden Save
      .col-md-5.col-md-offset-1
        .page-header
          h3 Mes activités en cours
        #offers-list.no-side-padding
            ul.list-group.list-opportunity
              unless (events_past || events_confirmed || events_pending || events_subscribed)
                p Pas d'inscriptions


              //IF EVENT_PAST
              if events_past.length
                h3 Confirmer votre venue
              each event, index in events_past
                li.list-group-item
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object.little-img(src='/images/clouds.jpg')
                  div.media-body
                    h4.media-heading= event.org_name
                    a.firstColor= event.intitule
                    p= event.address
                    #identifiant(style='display:none')
                      p= event._id
                  div.media-right.media-middle
                    form(method='post' action='/volunteer/hours_pending/'+event.activity_id+'-'+event.day)
                      div.form-group
                        //label(for='input'+event._id) Heures
                        input.form-control(id='input'+event._id type='number' placeholder='Heures de participation' name='hours_pending')
                        button.btn.btn-default.media-object(type='submit') Confirmer
                    button.btn.btn-default(type='button')
                      a(href='mailto:'+event.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contacter

              // IF EVENT_PENDING
              if events_pending.length
                h3 En attente de confirmation
              each event, index in events_pending
                li.list-group-item
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object.little-img(src='/images/clouds.jpg')
                  div.media-body
                    h4.media-heading= event.org_name
                    a.firstColor= event.intitule
                    p= 'Heures participées: ' + event.hours_pending
                    #identifiant(style='display:none')
                      p= event._id
                  div.media-right.media-middle
                    button.btn.btn-default.unsubscribe-button(type='button')
                      a(href='mailto:'+event.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contacter

              // IF EVENT_SUBSCRIBED
              if events_subscribed.length
                h3 À venir
              each event, index in events_subscribed
                li.list-group-item
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object.little-img(src='/images/clouds.jpg')
                  div.media-body
                    h4.media-heading= event.org_name
                    a.firstColor= event.intitule
                    p= event.address
                    #identifiant(style='display:none')
                      p= event._id
                  div.media-right.media-middle
                    form(action='/volunteer/unsubscribe/'+event.activity_id+'-'+event.day, method='post')
                      div.btn-group-vertical(role='group')
                        button.btn.btn-default.block-center(type='button')
                          a(href='mailto:'+event.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contacter 
                        button.btn.btn-warning.block-center(role='submit' name='day' value=event.day) Se désinscrire

              // IF EVENT_CONFIRMED
              if events_confirmed.length
                h3 Évènements passés
              each event, index in events_confirmed
                li.list-group-item
                  div.media-left.media-middle
                    a(href='profile')
                      img.media-object.little-img(src='/images/clouds.jpg')
                  div.media-body
                    h4.media-heading= event.org_name
                    a.firstColor= event.intitule
                    p= event.address
                    #identifiant(style='display:none')
                      p= event._id
                  div.media-right.media-middle
                    button.btn.btn-default(type='button')
                      a(href='mailto:'+event.email+'?subject=Participation%20à%20:%20'+event.intitule, target='_blank') Contacter

block footscript
  script.
    $(function() {
      $('.unsubscribe-button').click(function(){
        // get opp id
        var opp_id = $(this).parents().parents().children('.media-body').children('#identifiant').children('p').html();
        console.log('opp_id : ' + opp_id);
        $.post('/volunteer/unsubscribe/'+activity_id+'/'+activity_day).done(function(data, status){
          if(data.error){
            alert("Remarque: " + data.error);
          }
          else if (data.redirect){
            console.log("Post request done.");
            window.location.replace("/volunteer/profile");
          };
        });
      });
    });
  script(src='/edit-password.js')
  script(src='/bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js')

  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });
