extends ./g_layout.jade
block vars
  - var page = 'profile'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - /* parse a date in yyyy-mm-dd format*/ function parseDate(input) {var parts = input.match(/(\d+)/g);/* new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])*/return new Date(parts[0], parts[1]-1, parts[2]); /* months are 0-based*/}
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(parseDate(date).getTime() + tz_offset);return corrected_datetime}

block content
  #map-section.container-fluid
    .row
      .col-md-5.col-md-offset-1
        h3.page-header <strong> #{volunteer.firstname} #{volunteer.lastname}  </strong>
      if vol_level
        .col-md-5
          .media.tp-15(style='margin-top: 30px')
            if (vol_level == 1)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_10.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-default Débutant
                //p Participe à du bénévolat pour progresser !
            if (vol_level == 2)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_25.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-info Apprenti
                //p Participe à du bénévolat pour progresser !
            if (vol_level == 3)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_40.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-primary Gros potentiel
                //p Participe à du bénévolat pour progresser !
            if (vol_level == 4)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_55.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-success Force vive
                //p Participe à du bénévolat pour progresser !
            if (vol_level == 5)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_70.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-warning Formidable
                //p Participe à du bénévolat pour progresser !
            if (vol_level == 6)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_max.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-danger Expert
                //p Participe à du bénévolat pour progresser !


    .row
      .col-md-10.col-md-offset-1
        ul.nav.nav-tabs(role='tablist')
          li.active(role='navigation')
            a(href='#participations' aria-controls='participations' role='tab' data-toggle='tab') 
              h4 Mes participations 
                span.badge= volunteer.events.length + volunteer.long_terms.length
          li(role='navigation')
            a(href='#profile' aria-controls='profile' role='tab' data-toggle='tab') 
              h4 Mes informations
    .row
      .tab-content
        #participations.tab-pane.fade.active.in(role='tabpanel')
          .col-md-4.col-md-offset-1
            .page-header
              h2 Participations ponctuelles
            #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (events_past || events_confirmed || events_pending || events_subscribed)
                    p Pas d'inscriptions

                  //IF EVENT_PAST
                  if events_past.length
                    h4 CONFIRMER VOTRE VENUE
                  each event, index in events_past
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          form(method='post' action='/volunteer/hours_pending/'+event.activity_id+'-'+event.day, id='hoursPendingForm'+event.activity_id+event.day)
                            div.input-group
                              input.form-control(id='input'+event._id, type='number' placeholder='Heures réalisées' name='hours_pending' required)
                              .input-group-btn
                                input.btn.btn-default(type='submit', value='Confirmer' form='hoursPendingForm'+event.activity_id+event.day)
                                a.btn.btn-default(href='/volunteer/event/'+event.activity_id) Détails
                        #identifiant(style='display:none')
                          p= event._id

                  // IF EVENT_PENDING
                  if events_pending.length
                    h4 EN ATTENTE DE CONFIRMATION
                  each event, index in events_pending
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          ul.list-inline
                            li
                              a.btn.btn-default(id= event._id, href='/volunteer/event/'+event.activity_id) Détails
                            li
                              h4.text-right
                                if event.hours_pending
                                  span.badge(style='background-color: #E33831')= event.hours_pending + ' heures à confirmer'
                        #identifiant(style='display:none')
                          p= event._id

                  // IF EVENT_SUBSCRIBED
                  if events_subscribed.length
                    h4 À VENIR
                  each event, index in events_subscribed
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          form(action='/volunteer/unsubscribe/'+event.activity_id+'-'+event.day, method='post', id='unsubscribeForm'+event.activity_id+'-'+event.day)
                            .btn-group(role='group')
                              a.btn.btn-default(href='/volunteer/event/'+event.activity_id) Détails
                              input.btn.btn-warning(type='submit' form='unsubscribeForm'+event.activity_id+'-'+event.day, name='day' value='Se désinscrire')
                        #identifiant(style='display:none')
                          p= event._id

                  // IF EVENT_CONFIRMED
                  if events_confirmed.length
                    h4 ÉVÈNEMENTS PASSÉS
                  each event, index in events_confirmed
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          .media
                            div.media-left.media-middle
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                              h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          ul.list-inline
                            li
                              a.btn.btn-default(id= event._id, href='/volunteer/event/'+event.activity_id) Détails
                            li
                              h4.text-right
                                if event.hours_done
                                  span.badge(style='background-color: #113A20')= event.hours_done + ' heures réalisées'
                        #identifiant(style='display:none')
                          p= event._id
          .col-md-4.col-md-offset-2
            .page-header
              h2 Engagements long terme
            #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (volunteer.long_terms)
                    p Pas d'inscriptions
                  //IF EVENT_PAST
                  if volunteer.long_terms.length
                    each lt, lt_i in volunteer.long_terms
                      li.list-group-item.list-longterm-item(id= lt._id)
                        .panel.panel-default
                          .panel-heading
                            div.media-left.media-top
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{lt.intitule}</b>
                              h6 <small>pour</small> #{lt.org_name}
                          .panel-body
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{lt.address}
                            h6.inline
                              i.fa.fa-info
                              p.inline= lt.description
                          .panel-footer
                            ul.list-inline
                              li
                                a.btn.infos-button-longterm.longterm(id= lt._id, href='/longterm/'+lt._id) Détails
                              li
                                h4.text-right
                                  if lt.hours_done
                                    span.badge(style='background-color: #113A20')= lt.hours_done + ' heures réalisées '
                                  if lt.hours_pending
                                    span.badge(style='background-color: #E33831')= lt.hours_pending + ' heures à confirmer '
        #profile.tab-pane.fade(role='tabpanel')
          .col-md-6.col-md-offset-3
            .page-header
              h3
                | Mon profil
                small
              if error
                p.alert.alert-danger #{error}
            ul.list-group
              li.list-group-item
                | Prénom: #{volunteer.firstname}
                small
              li.list-group-item
                | Nom: #{volunteer.lastname}
                small
              li.list-group-item= 'Date de naissance: ' + moment(volunteer.birthdate).format("DD/MM/YYYY")
                small
              li.list-group-item
                | Adresse mail: #{volunteer.email}
                small
              li.list-group-item#password-group
                p Mot de passe: #[span.display ******]
                form#edit-password-form.form-horizontal.hidden.editing
                  .input-group.conn-input
                    p#password-error.alert.alert-danger.hidden Mot de passe incorrect
                    .input-group.conn-input
                      input.form-control(name="current-password", type="password", placeholder="Mot de passe actuel")
                    .input-group.conn-input
                      input.form-control(name="new-password", type="password", placeholder="Nouveau mot de passe")
                    .input-group.conn-input
                      input.form-control(name="confirm-password", type="password", placeholder="Confirmer mot de passe")
                div.btn-toolbar
                    button.btn.btn-default#edit-password-button.display Éditer
                    button.btn.btn-default#cancel-password-button.editing.hidden Annuler
                    button.btn.btn-default#save-password-button.editing.hidden Enregistrer

block footscript
  script(src='/edit-password.js')
  script(src='/bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js')

  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });
