extends ./g_layout.jade
block vars
  - var page = 'profile'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - /* parse a date in yyyy-mm-dd format*/ function parseDate(input) {var parts = input.match(/(\d+)/g);/* new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])*/return new Date(parts[0], parts[1]-1, parts[2]); /* months are 0-based*/}
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(parseDate(date).getTime() + tz_offset);return corrected_datetime}
block head
  title Profil de bénévole
  meta(name='description', content='Accède à tes informations personnelles')
block content
  #map-section.container-fluid
    .row
      .col-md-5.col-md-offset-1
        h3.page-header <strong> #{volunteer.firstname} #{volunteer.lastname}  </strong>
        if lt_hours_done
          p <i class='fa fa-2x fa-link fa-pull-left fa-border'></i> <b>Engagements</b> <br> #{lt_hours_done} heures confirmées
        else 
          p <i class='fa fa-2x fa-link fa-pull-left fa-border'></i> <b>Engagements</b> <br> 0 heures confirmées
        if events_hours_done
          p <i class='fa fa-2x fa-trophy fa-pull-left fa-border'></i> <b>Évènements</b> <br> #{events_hours_done} heures confirmées
        else 
          p <i class='fa fa-2x fa-trophy fa-pull-left fa-border'></i> <b>Évènements</b> <br> 0 heures confirmées
      if vol_level
        .col-md-5
          .media.tp-15(style='margin-top: 6%')
            if (vol_level == 1)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_10.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-default Débutant
                p.text-info <strong>Conseil : </strong> Inscris-toi à une activité bénévole pour augmenter ton niveau d'engagement !
            if (vol_level == 2)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_25.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-info Apprenti
                p.text-info <strong>Conseil : </strong> Une fois ton opération bénévole terminée, fais valider ta participation via ton tableau de bord !
            if (vol_level == 3)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_40.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-primary Gros potentiel
                p.text-info <strong>Conseil : </strong> Il ne te manque que quelques heures supplémentaires de bénévolat pour passer au rang suivant !
            if (vol_level == 4)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_55.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-success Force vive
                if (events_hours_done == 0)
                  p.text-info <strong>Conseil : </strong> Participe à ton premier évènement et fais valider tes heures par l'organisme afin de monter de niveau !
                else
                  p.text-info <strong>Conseil : </strong> Augmente ton nombre d'heures d'implication pour atteindre le niveau suivant !
            if (vol_level == 5)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_70.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-warning Formidable
                if (events_hours_done == 0)
                  p.text-info <strong>Conseil : </strong> Pour devenir un expert du bénévolat, il faut maintenant que tu participes aussi à un évènement ponctuel !
                else if (lt_hours_done == 0)
                  p.text-info <strong>Conseil : </strong> Participe à ton premier engagement à long terme afin de devenir un expert du bénévolat !
                else
                  p.text-info <strong>Conseil : </strong> Il ne te reste plus beaucoup d'heures d'implication pour devenir un expert du bénévolat !
            if (vol_level == 6)
              .media-left.media-middle(style='width: 40vw')
                img.media-object(src='/images/grade_max.png' width='100')
              .media-body
                h3.media-heading <strong>Mon niveau d'engagement</strong>
                h3
                  span.label.label-danger Expert
                p.text-info <strong>Conseil : </strong> Maintenant que tu es un expert, continue de t'impliquer afin de relever les challenges à venir sur la plateforme !
            if volunteer.student
              a.btn.btn-default.pull-right(href='/volunteer/extra_simplyk_hours', role='button', style='background-color: transparent; color: black;') Ajouter des heures extra-Simplyk
                i.fa.fa-plus



    .row
      .col-md-10.col-md-offset-1
        ul.nav.nav-tabs(role='tablist')
          li.active(role='navigation')
            a(href='#participations' aria-controls='participations' role='tab' data-toggle='tab') 
              h4 Mes participations 
                span.badge= volunteer.events.length + volunteer.long_terms.length
          li(role='navigation')
            a(href='#profile' aria-controls='profile' role='tab' data-toggle='tab') 
              h4 Mes informations
          if volunteer.student
            li(role='navigation')
              a(href='#extras' aria-controls='extras' role='tab' data-toggle='tab') 
                h4 Mes extra-Simplyk 
                  span.badge= volunteer.extras.length

    .row
      .tab-content
        #participations.tab-pane.fade.active.in(role='tabpanel')
          .col-md-4.col-md-offset-1
            .page-header
              h2 Participations ponctuelles
            #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (events_past || events_confirmed || events_pending || events_subscribed)
                    p Pas d'inscriptions

                  //IF EVENT_PAST
                  if events_past.length
                    h4 CONFIRMER VOTRE VENUE
                  each event, index in events_past
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          form(method='post' action='/volunteer/hours_pending/'+event.activity_id+'-'+event.day, id='hoursPendingForm'+event.activity_id+event.day)
                            div.input-group
                              input.form-control(id='input'+event._id, type='number', min=1, max=50, placeholder='Heures réalisées' name='hours_pending', required)
                              .input-group-btn
                                input.btn.btn-default(type='submit', value='Confirmer' form='hoursPendingForm'+event.activity_id+event.day)
                                a.btn.btn-default(href='/volunteer/event/'+event.activity_id) Détails
                        #identifiant(style='display:none')
                          p= event._id

                  // IF EVENT_PENDING
                  if events_pending.length
                    h4 EN ATTENTE DE CONFIRMATION
                  each event, index in events_pending
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          ul.list-inline
                            li
                              a.btn.btn-default(id= event._id, href='/volunteer/event/'+event.activity_id) Détails
                            li
                              h4.text-right
                                if event.hours_pending
                                  span.badge(style='background-color: #E33831')= event.hours_pending + ' heures à confirmer'
                        #identifiant(style='display:none')
                          p= event._id

                  // IF EVENT_SUBSCRIBED
                  if events_subscribed.length
                    h4 À VENIR
                  each event, index in events_subscribed
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          .btn-group(role='group')
                            a.btn.btn-default(href='/volunteer/event/'+event.activity_id) Détails
                            input.btn.btn-warning(type='button' value='Se désinscrire' data-toggle='modal' data-target='#unsubscribe-modal'+index)
                          .modal.fade(id='unsubscribe-modal'+index, tab-index='-1' role='dialog' aria-labelledby='myModalLabel'+index)
                            .modal-dialog(role='document')
                              .modal-content
                                .modal-header
                                  button.close(type='button' data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden='true') &times;
                                  h4.modal-title(id='myModalLabel'+index) Es-tu sûr de vouloir te désinscrire de cette activité ?
                                .modal-footer
                                  form.inline(action='/volunteer/unsubscribe/'+event.activity_id+'-'+event.day, method='post')
                                    .btn-group
                                      a.btn.btn-warning(data-dismiss='modal') Annuler
                                      input.btn.btn-default(type='submit' value='Oui' role='button')

                  // IF EVENT_CONFIRMED
                  if events_confirmed.length
                    h4 ÉVÈNEMENTS PASSÉS
                  each event, index in events_confirmed
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          .media
                            div.media-left.media-middle
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                              h6 <small>pour</small> #{event.org_name}
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          ul.list-inline
                            li
                              a.btn.btn-default(id= event._id, href='/volunteer/event/'+event.activity_id) Détails
                            li
                              h4.text-right
                                if event.hours_done
                                  span.badge(style='background-color: #113A20')= event.hours_done + ' heures réalisées'
                        #identifiant(style='display:none')
                          p= event._id
          .col-md-4.col-md-offset-2
            .page-header
              h2 Engagements long terme
            #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (volunteer.long_terms)
                    p Pas d'inscriptions
                  //IF EVENT_PAST
                  if volunteer.long_terms.length
                    each lt, lt_i in volunteer.long_terms
                      li.list-group-item.list-longterm-item(id= lt._id)
                        .panel.panel-default
                          .panel-heading
                            div.media-left.media-top
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{lt.intitule}</b>
                              h6 <small>pour</small> #{lt.org_name}
                          .panel-body
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{lt.address}
                            h6.inline
                              i.fa.fa-info
                              p.inline= lt.description
                            if lt.hours_done || lt.hours_pending
                              h4
                                if lt.hours_done
                                  span.badge(style='background-color: #113A20')= lt.hours_done + ' heures réalisées '
                                if lt.hours_pending
                                  span.badge(style='background-color: #E33831')= lt.hours_pending + ' heures à confirmer '
                          .panel-footer
                            .btn-group
                              a.btn.infos-button-longterm.longterm(id= lt._id, href='/longterm/'+lt._id) Détails
                              button.btn.btn-warning(data-toggle='modal' data-target='#addLTHoursModal'+lt_i) Ajouter des heures
                      .modal.fade(tabindex='-1', role='dialog' aria-labelledby="addLTHoursModalLabel", id='addLTHoursModal'+lt_i)
                        div.modal-dialog(role='document')
                          form.modal-content.addLTHoursForm(id='addLTHoursForm'+lt_i, method='post', action='/volunteer/LThours_pending/'+lt._id)
                            .modal-header
                              button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden='true')
                                h4.modal-title Ajout d'heures
                            div.modal-body
                              div.form-group
                                label(for='addLTHoursInput') Combien d'heures as-tu effectué dernièrement ?
                                input.form-control(name='hours_pending', type='number', min=1, max=50, form='addLTHoursForm'+lt_i, required)
                            div.modal-footer
                              a.btn.btn-default(data-dismiss='modal') Annuler
                              input.btn.btn-warning(type='submit' form='addLTHoursForm'+lt_i, value='Envoyer')
        #profile.tab-pane.fade(role='tabpanel')
          .col-md-6.col-md-offset-3
            .page-header
              h3
                | Mon profil
              if error
                p.alert.alert-danger #{error}
            ul.list-group
              li.list-group-item
                | Prénom: #{volunteer.firstname}
                small
              li.list-group-item
                | Nom: #{volunteer.lastname}
                small
              li.list-group-item= 'Date de naissance: ' + moment(volunteer.birthdate).format("DD/MM/YYYY")
                small
              if volunteer.phone
                li.list-group-item
                  | Téléphone: #{volunteer.phone}
                  small
              li.list-group-item
                | Adresse mail: #{volunteer.email}
              li.list-group-item#password-group
                p Mot de passe: #[span.display ******]
                form#edit-password-form.form-horizontal.hidden.editing
                  .input-group.conn-input
                    p#password-error.alert.alert-danger.hidden Mot de passe incorrect
                    .input-group.conn-input
                      input.form-control(name="current-password", type="password", placeholder="Mot de passe actuel")
                    .input-group.conn-input
                      input.form-control(name="new-password", type="password", placeholder="Nouveau mot de passe")
                    .input-group.conn-input
                      input.form-control(name="confirm-password", type="password", placeholder="Confirmer mot de passe")
                div.btn-toolbar
                    button.btn.btn-default#edit-password-button.display Éditer
                    button.btn.btn-default#cancel-password-button.editing.hidden Annuler
                    button.btn.btn-default#save-password-button.editing.hidden Enregistrer
        #extras.tab-pane.fade(role='tabpanel')
          .col-md-6.col-md-offset-3
            .page-header
              h3 Extra-Simplyk
              h5 Les engagements que j'ai rentré à la main sur la plateforme car j'y avais participé sans passer par Simplyk
              h3
              if error
                p.alert.alert-danger #{error}
              #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (volunteer.extras.length > 0)
                    p <b>Pas d'extras</b>
                  //IF EVENT_PAST
                  if volunteer.extras.length
                    each ext, ext_i in volunteer.extras
                      li.list-group-item.list-extra-item(id= ext._id)
                        .panel.panel-default
                          .panel-heading
                            div.media-left.media-top
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{ext.intitule}</b>
                              h6 <small>pour</small> #{ext.org_name}
                          .panel-body
                            h6.inline
                              i.fa.fa-info
                              p.inline= ext.description
                            if ext.hours_done || ext.hours_pending
                              h4
                                if ext.hours_done
                                  span.badge(style='background-color: #113A20')= ext.hours_done + ' heures réalisées '
                                if ext.hours_pending
                                  span.badge(style='background-color: #E33831')= ext.hours_pending + ' heures à confirmer '
                          .panel-footer
                            .btn-group
                              button.btn.infos-button-extra.extra(id= ext._id, data-toggle='modal' data-target='#extraModal'+ext_i) Détails
                      .modal.fade(tabindex='-1', role='dialog' aria-labelledby="extraModalLabel", id='extraModal'+ext_i)
                        div.modal-dialog(role='document')
                          .modal-content
                            .modal-header
                              button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden='true')
                                h4.modal-title Détails de l'extra
                            div.modal-body
                              if ext.student_questions && ext.student_answers
                                h4 <b>Tes feedbacks</b>
                                each question, question_i in ext.student_questions
                                  div.panel.panel-warning
                                    div.panel-heading
                                      h6= question
                                    div.panel-body
                                      h6= ext.student_answers[question_i]
                              if ext.organism_questions.length && ext.organism_answers.length
                                h4 <b>Les feedbacks de l'organisme</b>
                                each question, question_i in ext.organism_questions
                                  div.panel.panel-warning
                                    div.panel-heading
                                      h6= question
                                    div.panel-body
                                      h6= ext.organism_answers[question_i]
                              else
                                h4 <b>En attente des feedbacks de l'organisme...</b>
                            div.modal-footer
                                a.btn.btn-default(data-dismiss='modal') Fermer

block footscript
  script(src='/edit-password.js')
  script(src='/bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js')

  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });
