extends ./g_layout.jade
block vars
  - var page = 'profile'
  - var days_name = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
  - var months_name = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
  - var first_lt_denied = (volunteer.long_terms.filter(function(lt){return lt.status == 'denied';}))[0];
  - var first_ext_denied = (volunteer.extras.filter(function(ext){return ext.status == 'denied';}))[0];
  - /* parse a date in yyyy-mm-dd format*/ function parseDate(input) {var parts = input.match(/(\d+)/g);/* new Date(year, month [, date [, hours[, minutes[, seconds[, ms]]]]])*/return new Date(parts[0], parts[1]-1, parts[2]); /* months are 0-based*/}
  - function correctDate(date){var tz_offset = (new Date()).getTimezoneOffset() * 60 * 1000;var corrected_datetime = new Date(parseDate(date).getTime() + tz_offset);return corrected_datetime}
  - function addHoursIfExists(arr){return arr.reduce(function(acc, curV, curI) {if(curV > 0 ){return acc + curV;} else {return acc;}})}
  - function getNotifications(type){if(type == 'em'){if(volunteer.extras.filter(function(ext){return ext.status == 'denied'}).length < 1){return ''}else{return '#E33831'}}else if (type == 'el'){if(volunteer.events.filter(function(evt){return evt.status == 'denied'}).length < 1){if(volunteer.long_terms.filter(function(lt){return lt.status == 'denied'}).length < 1){return ''}else{return '#E33831'}}else{return '#E33831'}}}
  - function getTooltipText(badge, level){var seuils = {};var seuils_array = [[], [2, 4, 6, 8, 15], [0, 10, 30, 75, 150], [0, 10, 30, 100, 150], [10, 20, 50, 100, 500], [0, 5, 10, 50, 100]];return (seuils_array[badge])[level];}



block head
  title Profil de bénévole
  meta(name='description', content='Accède à tes informations personnelles')
  style.
    .rank__img {height: 70px}
    .rank__well {padding: 6px; background-color: #eee; border-color: #ccc; cursor: pointer}
    .rank__well--not {background-color: #fff; color:#aaa; border-color: #eee}
    .rank__subtitle {margin: 0px; margin-top: 6px;}
    .balance {margin-bottom: 5px;}
    .balance__chart {display: inline-block;}
    .balance__description {width: 20%; margin-right: 5px}
    #balance_row {margin-bottom: 15px}
    .tooltip-inner {white-space:pre-wrap;}
block content
  #map-section.container-fluid
    .row
      .col-md-5.col-md-offset-1
        h3.page-header <strong> #{volunteer.firstname} #{volunteer.lastname}  </strong>
        .row#balance_row
          .col-xs-5
            .row.balance(data-toggle="tooltip" data-placement="left" title='Solidarité')
              .col-xs-2.inline.text-center
                i.fa.fa-heart(style='color: #0099ff')
              .col-xs-8
                .balance__chart(style='background-color: #0099ff; width: '+(100*volunteer.preferences[0])+'%')
                  p.inline <b>#{Math.round(100*volunteer.preferences[0])}%</b>
            .row.balance(data-toggle="tooltip" data-placement="left" title='Nature')
              .col-xs-2.inline.text-center
                i.fa.fa-envira(style='color: #5BCF8F')
              .col-xs-8
                .balance__chart(style='background-color: #5BCF8F; width: '+(100*volunteer.preferences[1])+'%')
                  p.inline <b>#{Math.round(100*volunteer.preferences[1])}%</b>
            .row.balance(data-toggle="tooltip" data-placement="left" title='Sport et Culture')
              .col-xs-2.inline.text-center
                i.fa.fa-institution(style='color: #FFC858')
              .col-xs-8
                .balance__chart(style='background-color: #FFC858; width: '+(100*volunteer.preferences[2])+'%')
                  p.inline <b>#{Math.round(100*volunteer.preferences[2])}%</b>
            .row.balance(data-toggle="tooltip" data-placement="left" title='Enfance')
              .col-xs-2.inline.text-center
                i.fa.fa-child(style='color: #FF4F3C')
              .col-xs-8
                .balance__chart(style='background-color: #FF4F3C; width: '+(100*volunteer.preferences[3])+'%')
                  p.inline <b>#{Math.round(100*volunteer.preferences[3])}%</b>
          .col-xs-7
            h1(data-toggle="tooltip" data-html='true' data-placement="left" title='Badges: <b>'+bonus+'</b>pts <br>Heures validées: <b>'+scores[0]+'</b>pts <br>Partages: <b>'+scores[1]+'</b>pts <br>Fidélité: <b>'+scores[2]+'</b>pts') <b>#{score}</b> pts
        .row.text-center
          .col-xs-12
            if (volunteer.admin)
              if ((client_schools.map(c => c.name).indexOf(volunteer.admin.school_name) != -1) && (volunteer.admin.school_name != 'HEC Montréal'))
                a.btn.btn-info(href='/volunteer/extra_simplyk_hours', role='button')
                  h4.inline Ajouter une expérience de bénévolat
                  i.fa.fa-plus
      if badges
        .col-md-5
          .media.tp-15(style='margin-top: 6%')
            .col-md-4.col-xs-6.text-center
              .well.rank__well(class=badges[0]>0 ? '':'rank__well--not' data-toggle="tooltip" data-placement="top" title='Tu as validé le niveau Débutant en finalisant ton inscription !')
                img.rank__img(src='/images/dog_ballon'+ badges[0] +'.svg')
                p.rank__subtitle <b>Débutant</b>
            .col-md-4.col-xs-6.text-center(data-toggle='modal' data-target='#share_modal')
              .well.rank__well(class=badges[1]>0 ? '':'rank__well--not' data-toggle="tooltip" data-placement="top" title=badges[1]>0 ? (badges[2]<5 ? 'Pour débloquer le badge Populaire de niveau ' + (badges[1]+1) + ', il te faut inviter ' + getTooltipText(1, badges[1]) + ' amis au total sur la plateforme': 'Félicitation, tu es aussi Populaire que Gandhi !'):'Pour débloquer le badge Populaire de niveau 1, il te faut inviter 2 amis sur la plateforme')
                img.rank__img(src='/images/porte_voix'+ badges[1] +'.svg')
                p.rank__subtitle <b>Populaire</b>
            #share_modal.modal.fade(role='dialog' aria-labelledby='modalShareLabel')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    button.close(data-dismiss='modal' aria-label='Close')<span aria-hidden="true">&times;</span>
                    h4.modal-title#modalShareLabel Partage à des amis
                  .modal-body
                    h3.text-center Annonce la bonne nouvelle
                    img(align='center', src='/images/porte_voix_solo.svg', style='max-width: 50%; display:block; margin-left: auto; margin-right: auto; margin-bottom: 20px')
                    h5.text-center(style='font-weight: bold') Partage la plateforme à tes proches en partageant ce lien. <br> Cela te permet d'amplifier l'impact que tu as sur la société autour de toi et de faire ainsi évoluer ton profil Simplyk !
                    input#share_link.form-control.text-center(type='text' volunteer=volunteer._id)
                  .modal-footer
                    a.btn.btn-default(data-dismiss='modal') Fermer
            .col-md-4.col-xs-6.text-center
              .well.rank__well(class=badges[2]>0 ? '':'rank__well--not' data-toggle="tooltip" data-placement="top" title=badges[2]>0 ? (badges[2]<5 ? 'Pour débloquer le badge Marathonien de niveau ' + (badges[2]+1) + ', il te faut valider ' + getTooltipText(2, badges[2]) + 'h de participation en engagement long terme' : 'Félicitation, tu es Maître Marathonien !'):'Pour débloquer le badge Marathonien de niveau 1, il te faut valider une participation dans un engagement long terme')
                img.rank__img(src='/images/yeezy'+ badges[2] +'.svg')
                p.rank__subtitle <b>Marathonien</b>
            .col-md-4.col-xs-6.text-center
              .well.rank__well(class=badges[3]>0 ? '':'rank__well--not' data-toggle="tooltip" data-placement="bottom" title=badges[3]>0 ? (badges[3]<5 ? 'Pour débloquer le badge Gourou de niveau ' + (badges[3]+1) + ', il te faut valider au moins une participation dans un évènement ponctuel, une dans un engagement long terme et ' + getTooltipText(3, badges[3]) + 'h totales de participation': 'Félicitation, tu es Gourou Absolu !'):'Pour débloquer le badge Gourou de niveau 1, il te faut valider une participation dans un évènement ponctuel et une dans un engagement long terme')
                img.rank__img(src='/images/bienfaiteur'+ badges[3] +'.svg')
                p.rank__subtitle <b>Gourou</b>
            .col-md-4.col-xs-6.text-center
              .well.rank__well(class=(badges[4]>0 && badges[4]!=404) ? '':'rank__well--not' data-toggle="tooltip" data-placement="bottom" title=badges[4]>0 ? (badges[4]<5 ? 'Pour débloquer le badge Fan de niveau ' + (badges[4]+1) + ', il te faut comptabiliser au moins ' + getTooltipText(4, badges[4]) + ' connexions à la plateforme': (badges[4]==404 ? 'Problème de badge' : 'Félicitation, tu es Fan Absolu !')):'Pour débloquer le badge Fan de niveau 1, il te faut comptabiliser au moins 10 connexions à la plateforme')
                img.rank__img(src=(badges[4]!=404 ? '/images/whale'+ badges[4] +'.svg':''))
                p.rank__subtitle <b>Fan</b>
            .col-md-4.col-xs-6.text-center
              .well.rank__well(class=badges[5]>0 ? '':'rank__well--not' data-toggle="tooltip" data-placement="bottom" title=badges[5]>0 ? (badges[5]<5 ? 'Pour débloquer le badge Sprinter de niveau ' + (badges[5]+1) + ', il te faut valider ' + getTooltipText(5, badges[5]) + 'h de participation en évènement ponctuel': 'Félicitation, tu es Maître Sprinter !') :'Pour débloquer le badge Sprinter de niveau 1, il te faut valider une participation dans un évènement ponctuel')
                img.rank__img(src='/images/shoes_punch'+ badges[5] +'.svg')
                p.rank__subtitle <b>Sprinter</b>
    if events_past.length || events_denied.length || first_lt_denied || first_ext_denied || longterm_waiting
      if events_past.length
        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="notificationModalLabel", id='notificationModal')
          div.modal-dialog(role='document')
            .modal-content(id='notificationModalForm')
              .modal-header
                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden='true')
                  h4.modal-title Valide ta participation
              .modal-body
                h3.text-center Valide ta participation !
                img(align='center', src='http://i.giphy.com/H16k14aEA6Vva.gif', style='max-width: 50%; display:block; margin-left: auto; margin-right: auto; margin-bottom: 20px')
                p.text-center Un évènement auquel tu étais inscrit est terminé. <br> Tu peux maintenant valider ta participation pour faire évoluer ton profil d'engagement, ainsi que le bilan d'impact de l'organisme !
                li.list-group-item
                  .panel.panel-default(style='border: 1px solid green')
                    .panel-heading
                      div.media-left.media-middle
                        a(href='profile')
                          img.media-object.little-img(src='/images/clouds.jpg')
                      div.media-body
                        h4.media-heading <b>#{events_past[0].intitule}</b> <small>(#{events_past[0].intitule_activity})</small>
                        h6 <small>pour</small> 
                          a.inline(href='/all/organism/'+events_past[0].org_id)=events_past[0].org_name
                      div.media-right.media-top
                        a.btn.btn-default(href='/volunteer/event/'+events_past[0]._id) Détails
                    .panel-body
                      h6
                        i.fa.fa-map-marker
                        p.inline Adresse : #{events_past[0].address}
                      h6.inline
                        i.fa.fa-calendar-o
                        p.inline #{days_name[correctDate(events_past[0].day).getDay()]  + ' ' + (correctDate(events_past[0].day).getDate()) + ' ' + months_name[correctDate(events_past[0].day).getMonth()]  + ' ' + correctDate(events_past[0].day).getFullYear()}
                    .panel-footer
                      div.input-group
                        form.event_hours_pending_modal_form(method='post' action='/volunteer/hours_pending/'+events_past[0].activity_id+'-'+events_past[0].day, id='hoursPendingNotificationForm'+events_past[0].activity_id)
                          .input-group-btn
                            input.form-control(id='input'+events_past[0]._id, type='number', min='0.5', max='50', step='0.5' placeholder='Heures réalisées' name='hours_pending', required)
                            input.btn.btn-default.hours_pending_btn(type='submit', value='Confirmer' form='hoursPendingNotificationForm'+events_past[0].activity_id)
                            input.btn.btn-warning.absenceNotificationButton(type='button' value='Absence' id='absenceNotificationDiv'+events_past[0]._id)
                      div.hidden(class='absenceNotificationDiv'+events_past[0]._id)
                        form.event_absence_modal_form(id='absenceNotificationModalForm'+events_past[0]._id, method='post', action='/volunteer/hours_pending/'+events_past[0].activity_id+'-'+events_past[0].day)
                          h4.modal-title(style='margin-top: 20px') Confirmes-tu ton absence ?
                          input.hidden(value='a', name='absent')
                          div.modal-footer
                            input.btn.btn-warning.absence_btn(type='submit' form='absenceNotificationModalForm'+events_past[0]._id, value='Confirmer mon absence')
      else if events_denied.length
        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="notificationModalLabel", id='notificationModal')
          div.modal-dialog(role='document')
            form.modal-content.notificationModalForm(id='notificationModalForm')
              .modal-header
                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden='true')
                  h4.modal-title Corrige ton dossier
              .modal-body
                h3.text-center Corrige ton dossier !
                img(align='center', src='/images/repair.svg', style='max-width: 50%; display:block; margin-left: auto; margin-right: auto; margin-bottom: 20px')
                p.text-center La personne responsable du bénévolat dans ton établissement attends une correction sur le retour d'expérience d'un de tes bénévolats.
                li.list-group-item
                  .panel.panel-default(style='border: 1px solid red')
                    .panel-heading
                      div.media-left.media-middle
                        a(href='profile')
                          img.media-object.little-img(src='/images/clouds.jpg')
                      div.media-body
                        h4.media-heading <b>#{events_denied[0].intitule}</b> <small>(#{events_denied[0].intitule_activity})</small>
                        h6 <small>pour</small> 
                          a.inline(href='/all/organism/'+events_denied[0].org_id)=events_denied[0].org_name
                      if events_denied[0].status == 'denied'
                        div.media-right.media-top
                          span.badge(style='background-color: #E33831')= 'À corriger'
                    .panel-body
                      h6
                        i.fa.fa-map-marker
                        p.inline Adresse : #{events_denied[0].address}
                      h6.inline
                        i.fa.fa-calendar-o
                        p.inline #{days_name[correctDate(events_denied[0].day).getDay()]  + ' ' + (correctDate(events_denied[0].day).getDate()) + ' ' + months_name[correctDate(events_denied[0].day).getMonth()]  + ' ' + correctDate(events_denied[0].day).getFullYear()}
                    .panel-footer
                      a.btn.btn-danger(href='/volunteer/event/'+events_denied[0]._id) Corriger
                    #identifiant(style='display:none')
                      p= events_denied[0]._id
              div.modal-footer
                a.btn.btn-default(data-dismiss='modal') Fermer
      else if first_lt_denied
        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="notificationModalLabel", id='notificationModal')
          div.modal-dialog(role='document')
            form.modal-content.notificationModalForm(id='notificationModalForm')
              .modal-header
                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden='true')
                  h4.modal-title Corrige ton dossier
              .modal-body
                h3.text-center Corrige ton dossier !
                img(align='center', src='/images/repair.svg', style='max-width: 50%; display:block; margin-left: auto; margin-right: auto; margin-bottom: 20px')
                p.text-center La personne responsable du bénévolat dans ton établissement attends une correction sur le retour d'expérience d'un de tes bénévolats.
                li.list-group-item
                  .panel.panel-default(style='border: 1px solid red')
                    .panel-heading
                      div.media-left.media-middle
                        a(href='profile')
                          img.media-object.little-img(src='/images/clouds.jpg')
                      div.media-body
                        h4.media-heading <b>#{first_lt_denied.intitule}</b>
                        h6 <small>pour</small> 
                          a.inline(href='/all/organism/'+first_lt_denied.org_id)=first_lt_denied.org_name
                      div.media-right.media-top
                        span.badge(style='background-color: #E33831')= 'À corriger'
                    .panel-body
                      h6
                        i.fa.fa-map-marker
                        p.inline Adresse : #{first_lt_denied.address}
                    .panel-footer
                      a.btn.btn-danger(href='/longterm/'+first_lt_denied._id) Corriger
                    #identifiant(style='display:none')
                      p= first_lt_denied._id
              div.modal-footer
                a.btn.btn-default(data-dismiss='modal') Fermer
      else if first_ext_denied
        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="notificationModalLabel", id='notificationModal')
          div.modal-dialog(role='document')
            .modal-content(id='notificationModalForm')
              .modal-header
                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden='true')
                  h4.modal-title Corrige ton dossier
              .modal-body
                h3.text-center Corrige ton dossier !
                img(align='center', src='/images/repair.svg', style='max-width: 50%; display:block; margin-left: auto; margin-right: auto; margin-bottom: 20px')
                p.text-center La personne responsable du bénévolat dans ton établissement attends une correction sur le retour d'expérience d'un de tes bénévolats.
                li.list-group-item
                  .panel.panel-default(style='border: 1px solid red')
                    .panel-heading
                      div.media-left.media-middle
                        a(href='profile')
                          img.media-object.little-img(src='/images/clouds.jpg')
                      div.media-body
                        h4.media-heading <b>#{first_ext_denied.intitule}</b>
                        h6 <small>pour</small> #{first_ext_denied.org_name}
                      div.media-right.media-top
                        span.badge(style='background-color: #E33831')= 'À corriger'
                    .panel-body
                      h6
                        i.fa.fa-info-circle
                        p.inline #{first_ext_denied.description}
                      h6
                        i.fa.fa-calendar
                        p.inline #{moment(first_ext_denied.days.day).format("DD/MM/YYYY")}
                    .panel-footer
                      a.btn.btn-danger.notificationCorrection Corriger
                    #identifiant(style='display:none')
                      p= first_ext_denied._id
                div.hidden#notificationCorrection
                  h4 Retours d'expériences
                  if (first_ext_denied.student_questions.length > 0 && first_ext_denied.student_answers.length > 0)
                    div.panel.panel-default
                      form.edit_extra_student_notification_form(name='edit-form' method='post' action='/volunteer/edit-student-feedbacks')
                        div.panel-heading
                          h4 Ton retour d'expérience
                          span.badge(style='background-color: #E33831')= 'À corriger'
                          i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer", ext_id=first_ext_denied._id)
                        div.panel-body
                          each question, q_I in first_ext_denied.student_questions
                            div.panel.panel-warning
                              div.panel-heading
                                h6= question 
                              div.panel-body
                                h6.answer_to_edit #{first_ext_denied.student_answers[q_I]}
                          div.submit-button
                  if first_ext_denied.organism_questions.length && first_ext_denied.organism_answers.length
                    h4 <b>Les retours de l'organisme</b>
                    each question, question_i in first_ext_denied.organism_questions
                      div.panel.panel-warning
                        div.panel-heading
                          h6= question
                        div.panel-body
                          h6= first_ext_denied.organism_answers[question_i]
                  else
                    h4 <b>En attente des retours de l'organisme...</b>
              div.modal-footer
                a.btn.btn-default(data-dismiss='modal') Fermer
      else if longterm_waiting
        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="notificationModalLabel", id='notificationModal')
          div.modal-dialog(role='document')
            .modal-content(id='notificationModalForm')
              .modal-header
                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                  span(aria-hidden='true')
                  h4.modal-title As-tu fais des heures ?
              .modal-body
                h3.text-center As-tu fais des heures avec eux récemment ?
                img(align='center', src='/images/air_balloon.svg', style='max-width: 50%; display:block; margin-left: auto; margin-right: auto; margin-bottom: 20px')
                p.text-center Tu es inscrit à cet engagement. <br>  Met-le à jour !
                li.list-group-item
                  .panel.panel-default(style='border: 1px solid green')
                    .panel-heading
                      div.media-left.media-top
                        a(href='profile')
                          img.media-object.little-img(src='/images/clouds.jpg')
                      div.media-body
                        h4.media-heading <b>#{longterm_waiting.intitule}</b>
                        h6 <small>pour</small> 
                          a.inline(href='/all/organism/'+longterm_waiting.org_id)=longterm_waiting.org_name
                      if longterm_waiting.status == 'corrected'
                        div.media-right.media-top
                          span.badge(style='background-color: #FF800E')= 'Corrigé'
                      else if longterm_waiting.status == 'validated'
                        div.media-right.media-top
                          span.badge(style='background-color: #113A20')= 'Validé'
                    .panel-body
                      h6
                        i.fa.fa-map-marker
                        p.inline Adresse : #{longterm_waiting.address}
                      h6.inline
                        i.fa.fa-info
                        p.inline= longterm_waiting.description
                      if longterm_waiting.hours_done || longterm_waiting.hours_pending
                        h4
                          if longterm_waiting.hours_done
                            span.badge(style='background-color: #113A20')= longterm_waiting.hours_done + ' heures réalisées '
                          if longterm_waiting.hours_pending
                            span.badge(style='background-color: #FF800E')= longterm_waiting.hours_pending + ' heures à confirmer '
                    .panel-footer
                      form.event_hours_pending_modal_form(method='post' action='/volunteer/LThours_pending/'+longterm_waiting._id, id='hoursPendingNotificationForm'+longterm_waiting._id)
                        div.input-group
                          input.form-control(id='input'+longterm_waiting._id, type='number', min='0.5', max='50', step='0.5' placeholder='Heures réalisées' name='hours_pending', required)
                          .input-group-btn
                            input.btn.btn-default.hours_pending_btn(type='submit', value='Confirmer' form='hoursPendingNotificationForm'+longterm_waiting._id)
                            input.btn.btn-info.notYetNotificationButton(type='button' value='Aucune' lt_id=longterm_waiting._id, data-toggle="tooltip" data-placement="top" title='Je n\'ai aucune heure à ajouter à cet engagement')
                            if (!longterm_waiting.hours_done && !longterm_waiting.hours_pending)
                              input.btn.btn-warning.absenceNotificationButton(type='button' value='Se désinscrire' data-toggle="tooltip" data-placement="top" title='Je veux me désinscrire définitivement de cet engagement'  id='absenceNotificationDiv'+longterm_waiting._id)
                            else
                              input.btn.btn-warning.notYetNotificationButton(type='button' finished='yes' value='Je n\'irai plus' data-toggle="tooltip" data-placement="top" title='Je ne vais plus aller à cet engagement' lt_id=longterm_waiting._id)
                      if (!longterm_waiting.hours_done && !longterm_waiting.hours_pending)
                        div.hidden(class='absenceNotificationDiv'+longterm_waiting._id)
                          form.inline.longterm_unsubscribe_form(action='/volunteer/unsubscribe/longterm/'+longterm_waiting._id, method='post')
                            .panel.panel-default
                              .panel-body
                                h4.text-center Es-tu sûr de vouloir te désinscrire de cet engagement ?
                              .panel-footer
                                .btn-group.text-center
                                  a.btn.btn-warning(data-dismiss='modal') Annuler
                                  input.btn.btn-default(type='submit' value='Oui' role='button')
                         


    .row
      .col-md-10.col-md-offset-1
        ul.nav.nav-tabs(role='tablist')
          li.active(role='navigation')
            a(href='#participations' aria-controls='participations' role='tab' data-toggle='tab') 
              h4 Mes participations 
                span.badge(style='background-color: ' + getNotifications('el'))= volunteer.events.length + volunteer.long_terms.length
          li(role='navigation')
            a(href='#profile' aria-controls='profile' role='tab' data-toggle='tab') 
              h4 Mes informations
          if volunteer.admin
            if (volunteer.admin.school_name && (client_schools.map(c => c.name).indexOf(volunteer.admin.school_name) != -1))
              li(role='navigation')
                a(href='#extras' aria-controls='extras' role='tab' data-toggle='tab') 
                  if (client_schools.map(c => c.name).indexOf(volunteer.admin.school_name) != -1)
                    h4.school_name #{volunteer.admin.school_name} 
                      if volunteer.extras && volunteer.manuals
                        span.badge(style='background-color: ' + getNotifications('em'))= volunteer.extras.length + volunteer.manuals.length
                  else 
                    h4 Mon école 
                      if volunteer.extras && volunteer.manuals
                        span.badge(style='background-color: ' + getNotifications('em'))= volunteer.extras.length + volunteer.manuals.length

    .row
      .tab-content
        #participations.tab-pane.fade.active.in(role='tabpanel')
          .col-md-4.col-md-offset-1
            .page-header
              h2 Évènements ponctuels
            #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (events_past || events_confirmed || events_pending || events_subscribed)
                    p Pas d'inscriptions

                  //IF EVENT_PAST
                  if events_past.length
                    h4 CONFIRMER TA VENUE
                  each event, index in events_past
                    li.list-group-item
                      .panel.panel-default(style='border: 1px solid green')
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> 
                              a.inline(href='/all/organism/'+event.org_id)=event.org_name
                          div.media-right.media-top
                            a.btn.btn-default(href='/volunteer/event/'+event._id) Détails
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          form.event_hours_pending_modal_form(method='post' action='/volunteer/hours_pending/'+event.activity_id+'-'+event.day, id='hoursPendingForm'+event.activity_id+event.day)
                            div.input-group
                              input.form-control(id='input'+event._id, type='number', min='0.5', max='50', step='0.5' placeholder='Heures réalisées' name='hours_pending', required)
                              .input-group-btn
                                input.btn.btn-default.hours_pending_btn(type='submit', value='Confirmer' form='hoursPendingForm'+event.activity_id+event.day)
                                input.btn.btn-warning(type='button' value='Absence' data-toggle='modal' data-target='#absenceModal'+event._id)
                        .modal.fade(tabindex='-1', role='dialog' aria-labelledby="absenceModalLabel", id='absenceModal'+event._id)
                          div.modal-dialog(role='document')
                            form.modal-content.event_absence_modal_form(id='event_absence_modal_form'+event._id, method='post', action='/volunteer/hours_pending/'+event.activity_id+'-'+event.day)
                              .modal-header
                                button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                  span(aria-hidden='true')
                                  h4.modal-title Confirmes-tu ton absence ?
                                  input.hidden(value='a', name='absent')
                              div.modal-footer
                                a.btn.btn-default(data-dismiss='modal') Annuler
                                input.btn.btn-warning(type='submit' form='event_absence_modal_form'+event._id, value='Confirmer mon absence')
                        #identifiant(style='display:none')
                          p= event._id

                  //IF EVENT_DENIED
                  if events_denied.length
                    h4 CORRIGER TON RETOUR
                  each event, index in events_denied
                    li.list-group-item
                      .panel.panel-default(style='border: 1px solid red')
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> 
                              a.inline(href='/all/organism/'+event.org_id)=event.org_name
                          if event.status == 'denied'
                            div.media-right.media-top
                              span.badge(style='background-color: #E33831')= 'À corriger'
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          a.btn.btn-danger(href='/volunteer/event/'+event._id) Corriger
                        #identifiant(style='display:none')
                          p= event._id

                  // IF EVENT_PENDING
                  if events_pending.length
                    h4 EN ATTENTE DE CONFIRMATION
                  each event, index in events_pending
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> 
                              a.inline(href='/all/organism/'+event.org_id)=event.org_name
                          if event.status == 'pending'
                            div.media-right.media-top
                              span.badge(style='background-color: #FF800E')= 'En attente de l\'organisme'
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          ul.list-inline
                            li
                              a.btn.btn-default(id= event._id, href='/volunteer/event/'+event._id) Détails
                            li
                              h4.text-right
                                if event.hours_pending
                                  span.badge(style='background-color: #FF800E')= event.hours_pending + ' heures à confirmer'
                        #identifiant(style='display:none')
                          p= event._id

                  // IF EVENT_SUBSCRIBED
                  if events_subscribed.length
                    h4 À VENIR
                  each event, index in events_subscribed
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          div.media-left.media-middle
                            a(href='profile')
                              img.media-object.little-img(src='/images/clouds.jpg')
                          div.media-body
                            h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                            h6 <small>pour</small> 
                              a.inline(href='/all/organism/'+event.org_id)=event.org_name
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          .btn-group(role='group')
                            a.btn.btn-default(href='/volunteer/event/'+event._id) Détails
                            input.btn.btn-warning(type='button' value='Se désinscrire' data-toggle='modal' data-target='#unsubscribe-modal'+index)
                          .modal.fade(id='unsubscribe-modal'+index, tab-index='-1' role='dialog' aria-labelledby='myModalLabel'+index)
                            .modal-dialog(role='document')
                              .modal-content
                                .modal-header
                                  button.close(type='button' data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden='true') &times;
                                  h4.modal-title(id='myModalLabel'+index) Es-tu sûr de vouloir te désinscrire de cette activité ?
                                .modal-footer
                                  form.inline.activity_unsubscribe_form(action='/volunteer/unsubscribe/'+event.activity_id+'-'+event.day, method='post')
                                    .btn-group
                                      a.btn.btn-warning(data-dismiss='modal') Annuler
                                      input.btn.btn-default(type='submit' value='Oui' role='button')

                  // IF EVENT_CONFIRMED
                  if events_confirmed.length
                    h4 ÉVÈNEMENTS PONCTUELS PASSÉS
                  each event, index in events_confirmed
                    li.list-group-item
                      .panel.panel-default
                        .panel-heading
                          .media
                            div.media-left.media-middle
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{event.intitule}</b> <small>(#{event.intitule_activity})</small>
                              h6 <small>pour</small> 
                                a.inline(href='/all/organism/'+event.org_id)=event.org_name
                            if event.status == 'corrected'
                              div.media-right.media-top
                                span.badge(style='background-color: #FF800E')= 'Corrigé'
                            else if event.status == 'validated'
                              div.media-right.media-top
                                span.badge(style='background-color: #113A20')= 'Validé'
                            else if event.status == 'confirmed'
                              div.media-right.media-top
                                span.badge(style='background-color: #113A20')= 'Confirmé par l\'organisme'
                            else if event.status == 'absent'
                              div.media-right.media-top
                                span.badge(style='background-color: #E33831')= 'Absent'
                        .panel-body
                          h6
                            i.fa.fa-map-marker
                            p.inline Adresse : #{event.address}
                          h6.inline
                            i.fa.fa-calendar-o
                            p.inline #{days_name[correctDate(event.day).getDay()]  + ' ' + (correctDate(event.day).getDate()) + ' ' + months_name[correctDate(event.day).getMonth()]  + ' ' + correctDate(event.day).getFullYear()}
                        .panel-footer
                          ul.list-inline
                            li
                              a.btn.btn-default(id= event._id, href='/volunteer/event/'+event._id) Détails
                            li
                              h4.text-right
                                if event.hours_done
                                  span.badge(style='background-color: #113A20')= event.hours_done + ' heures réalisées'
                        #identifiant(style='display:none')
                          p= event._id
          .col-md-4.col-md-offset-2
            .page-header
              h2 Engagements long terme
            #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (volunteer.long_terms)
                    p Pas d'inscriptions
                  //IF EVENT_PAST
                  if volunteer.long_terms.length
                    each lt, lt_i in volunteer.long_terms
                      li.list-group-item.list-longterm-item(id= lt._id)
                        .panel.panel-default
                          .panel-heading
                            div.media-left.media-top
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{lt.intitule}</b>
                              h6 <small>pour</small> 
                                a.inline(href='/all/organism/'+lt.org_id)=lt.org_name
                            if lt.status == 'denied'
                              div.media-right.media-top
                                span.badge(style='background-color: #E33831')= 'À corriger'
                            else if lt.status == 'corrected'
                              div.media-right.media-top
                                span.badge(style='background-color: #FF800E')= 'Corrigé'
                            else if lt.status == 'validated'
                              div.media-right.media-top
                                span.badge(style='background-color: #113A20')= 'Validé'
                          .panel-body
                            h6
                              i.fa.fa-map-marker
                              p.inline Adresse : #{lt.address}
                            h6.inline
                              i.fa.fa-info
                              p.inline= lt.description
                            if lt.hours_done || lt.hours_pending
                              h4
                                if lt.hours_done
                                  span.badge(style='background-color: #113A20')= lt.hours_done + ' heures réalisées '
                                if lt.hours_pending
                                  span.badge(style='background-color: #FF800E')= lt.hours_pending + ' heures à confirmer '
                          .panel-footer
                            .btn-group
                              if lt.status == 'denied'
                                a.btn.btn-danger(id= lt._id, href='/longterm/'+lt._id) Corriger
                              else 
                                a.btn.infos-button-longterm.longterm(id= lt._id, href='/longterm/'+lt._id) Détails
                              input.btn.btn-danger(data-toggle='modal' data-target='#addLTHoursModal'+lt_i, type='button', value='Ajouter des heures')
                              if (!lt.hours_done && !lt.hours_pending)
                                input.btn.btn-warning(type='button' value='Se désinscrire' data-toggle='modal' data-target='#unsubscribe-lt-modal'+lt_i)
                                .modal.fade(id='unsubscribe-lt-modal'+lt_i, tab-index='-1' role='dialog' aria-labelledby='myModalLabel'+lt_i)
                                  .modal-dialog(role='document')
                                    .modal-content
                                      .modal-header
                                        button.close(type='button' data-dismiss="modal" aria-label="Close")
                                          span(aria-hidden='true') &times;
                                        h4.modal-title(id='myModalLabel'+lt_i) Es-tu sûr de vouloir te désinscrire de cet engagement ? <br> Si tu as des heures enregistrées, elles seront définitivement perdues !
                                      .modal-footer
                                        form.inline.longterm_unsubscribe_form(action='/volunteer/unsubscribe/longterm/'+lt._id, method='post')
                                          .btn-group
                                            a.btn.btn-warning(data-dismiss='modal') Annuler
                                            input.btn.btn-default(type='submit' value='Oui' role='button')
                      .modal.fade(tabindex='-1', role='dialog' aria-labelledby="addLTHoursModalLabel", id='addLTHoursModal'+lt_i)
                        div.modal-dialog(role='document')
                          form.modal-content.addLTHoursForm(id='addLTHoursForm'+lt_i, method='post', action='/volunteer/LThours_pending/'+lt._id)
                            .modal-header
                              button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden='true')
                                h4.modal-title Ajout d'heures
                            div.modal-body
                              div.form-group
                                label(for='addLTHoursInput') Combien d'heures as-tu effectué dernièrement ?
                                input.form-control(name='hours_pending', type='number', min='0.5', max='50', step='0.5', form='addLTHoursForm'+lt_i, required)
                            div.modal-footer
                              a.btn.btn-default(data-dismiss='modal') Annuler
                              input.btn.btn-warning(type='submit' form='addLTHoursForm'+lt_i, value='Envoyer')
        #profile.tab-pane.fade(role='tabpanel')
          .col-md-6.col-md-offset-3
            .page-header
              h3.text-center
                p #{volunteer.firstname} <strong>#{volunteer.lastname}</strong>
              if error
                p.alert.alert-danger #{error}
              p#edit-alert-danger.alert.alert-danger.hidden.text-center
              p#edit-alert-success.alert.alert-success.hidden.text-center
            ul.list-group
              li.list-group-item
                h5.text-center
                  i.inline.fa.fa-birthday-cake(aria-hidden="true") 
                  p.inline= ' ' + moment(volunteer.birthdate).format("DD/MM/YYYY")
              if volunteer.phone
                li.list-group-item
                  h5.text-center
                    i.inline.fa.fa-mobile(aria-hidden="true") 
                    p.inline#phone #{volunteer.phone}
                    a.inline.btn(data-toggle='modal' data-target='#phone_edit_modal')
                      i.fa.fa-pencil
              else
                li.list-group-item
                  h5.text-center
                    i.inline.fa.fa-mobile(aria-hidden="true") 
                    p.inline#phone Ajouter mon numéro de téléphone
                    a.inline.btn(data-toggle='modal' data-target='#phone_edit_modal')
                      i.fa.fa-plus
              .modal.fade(tabindex='-1', role='dialog' aria-labelledby="extraModalLabel", id='phone_edit_modal')
                div.modal-dialog(role='document')
                  .modal-content
                    form.edit-form#phone-edit-form
                      .modal-header
                        button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                          span(aria-hidden='true')
                          h4.modal-title Édition de mon numéro de téléphone
                      div.modal-body
                          label(for='phone') Nouveau numéro de téléphone
                          input.form-control(type='text', name='phone')
                      .modal-footer
                        input.btn.btn-warning(type='submit', form='phone-edit-form', value='Valider')
                        a.btn.btn-default(data-dismiss='modal') Fermer
              if volunteer.admin
                if volunteer.admin.school_name
                  li.list-group-item
                    h5.text-center
                      i.inline.fa.fa-university(aria-hidden="true") 
                      p.inline.school_name #{volunteer.admin.school_name}
                      a.inline.btn(data-toggle='modal' data-target='#school_edit_modal')
                        i.fa.fa-pencil
              else
                li.list-group-item
                  h5.text-center
                    i.inline.fa.fa-university(aria-hidden="true") 
                    p.inline.school_name Ajouter mon établissement scolaire
                    a.inline.btn#add_a_school(data-toggle='modal' data-target='#school_edit_modal')
                      i.fa.fa-plus
              .modal.fade(tabindex='-1', role='dialog' aria-labelledby="extraModalLabel", id='school_edit_modal')
                div.modal-dialog(role='document')
                  .modal-content
                    form.edit-form#school-edit-form
                      .modal-header
                        button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                          span(aria-hidden='true')
                          h4.modal-title Édition de mon établissement scolaire
                      if !(volunteer.admin && volunteer.admin.school_name)
                        div.modal-body
                          .form-group.conn-input
                            label(for='school_name') Mon établissement scolaire
                            select#school_name.form-control(placeholder='', name='school_name', aria-describedby='basic-addon1')
                              each school, school_i in schools_list
                                option= school
                          .form-group.conn-input.hidden#classes_dropdown
                            label.control-label Classe
                            each client, client_i in client_schools
                              select.form-control.hidden(placeholder='', aria-describedby='basic-addon1', id=client.id, class='client_classes_item')
                                each classe, classe_i in client.classes
                                  option= classe
                        .modal-footer
                          input.btn.btn-warning(type='submit', form='school-edit-form', value='Valider')
                          a.btn.btn-default(data-dismiss='modal') Fermer
                      else if client_schools.map(c => c.name).indexOf(volunteer.admin.school_name) == -1
                        div.modal-body
                          .form-group.conn-input
                            label(for='school_name') Changer mon établissement scolaire
                            select#school_name.form-control(placeholder='', name='school_name', aria-describedby='basic-addon1')
                              each school, school_i in schools_list
                                option= school
                          .form-group.conn-input.hidden#classes_dropdown
                            label.control-label Classe
                            each client, client_i in  client_schools
                              select.form-control.hidden(placeholder='', aria-describedby='basic-addon1', id=client.id, class='client_classes_item')
                                each classe, classe_i in client.classes
                                  option= classe
                        .modal-footer
                          input.btn.btn-warning(type='submit', form='school-edit-form', value='Valider')
                          a.btn.btn-default(data-dismiss='modal') Fermer
                      else
                        div.modal-body
                          h4.text-center Il faut demander la permission à tes professeurs avant de pouvoir modifier cet établissement :)
                        .modal-footer
                          a.btn.btn-default(data-dismiss='modal') Fermer
              li.list-group-item
                  h5.text-center
                    i.inline.fa.fa-at(aria-hidden="true") 
                    p.inline #{volunteer.email}
              li.list-group-item#password-group(style='margin-bottom: 60px')
                h5.text-center
                  i.inline.fa.fa-key(aria-hidden="true")
                  p.inline Mot de passe: #[span.display ******]
                  a.inline.btn#edit-password-button.display
                    i.fa.fa-pencil
                  form#edit-password-form.form-horizontal.hidden.editing
                    .input-group.conn-input
                      p#password-error.alert.alert-danger.hidden Mot de passe incorrect
                      .input-group.conn-input
                        input.form-control(name="current-password", type="password", placeholder="Mot de passe actuel")
                      .input-group.conn-input
                        input.form-control(name="new-password", type="password", placeholder="Nouveau mot de passe")
                      .input-group.conn-input
                        input.form-control(name="confirm-password", type="password", placeholder="Confirmer mot de passe")
                  div.btn-toolbar
                      div.btn.btn-default#cancel-password-button.editing.hidden Annuler
                      div.btn.btn-default#save-password-button.editing.hidden Enregistrer
        #extras.tab-pane.fade(role='tabpanel')
          .col-md-4.col-md-offset-1
            .page-header
              h3 Extra-Simplyk
              h5 Les engagements que j'ai rentré à la main sur la plateforme car j'y avais participé sans passer par Simplyk
              h3
              if error
                p.alert.alert-danger #{error}
              #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  unless (volunteer.extras.length > 0)
                    p <b>Pas d'extras</b>
                  //IF EVENT_PAST
                  if volunteer.extras.length
                    each ext, ext_i in volunteer.extras
                      li.list-group-item.list-extra-item(id= ext._id)
                        .panel.panel-default
                          .panel-heading
                            div.media-left.media-top
                              a(href='profile')
                                img.media-object.little-img(src='/images/clouds.jpg')
                            div.media-body
                              h4.media-heading <b>#{ext.intitule}</b>
                              h6 <small>pour</small> #{ext.org_name}
                            if ext.status == 'denied'
                              div.media-right.media-top
                                span.badge(style='background-color: #E33831')= 'À corriger'
                            else if ext.status == 'corrected'
                              div.media-right.media-top
                                span.badge(style='background-color: #FF800E')= 'Corrigé'
                            else if ext.status == 'validated'
                              div.media-right.media-top
                                span.badge(style='background-color: #113A20')= 'Validé'
                            else if ext.status == 'confirmed'
                              div.media-right.media-top
                                span.badge(style='background-color: #113A20')= 'Confirmé par l\'organisme'
                            else if ext.status == 'pending'
                              div.media-right.media-top
                                span.badge(style='background-color: #FF800E')= 'En attente de l\'organisme'
                          .panel-body
                            h6.inline
                              i.fa.fa-info
                              p.inline= ext.description
                            if ext.hours_done || ext.hours_pending
                              h4
                                if ext.hours_done
                                  span.badge(style='background-color: #113A20')= ext.hours_done + ' heures réalisées '
                                if ext.hours_pending
                                  span.badge(style='background-color: #FF800E')= ext.hours_pending + ' heures à confirmer '
                          .panel-footer
                            .btn-group
                              if ext.status == 'denied'
                                input.btn.btn-danger(id= ext._id, data-toggle='modal' data-target='#extraModal'+ext_i, value='Corriger' type='button')
                              else
                                input.btn.btn-default(id= ext._id, data-toggle='modal' data-target='#extraModal'+ext_i, value='Détails' type='button')
                      .modal.fade(tabindex='-1', role='dialog' aria-labelledby="extraModalLabel", id='extraModal'+ext_i)
                        div.modal-dialog(role='document')
                          .modal-content
                            .modal-header
                              button(type='button' class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden='true')
                                h4.modal-title Détails de l'extra
                            div.modal-body
                              if (ext.student_questions.length > 0 && ext.student_answers.length > 0)
                                div.panel.panel-default
                                  form.edit_extra_student_notification_form(name='edit-form' method='post' action='/volunteer/edit-student-feedbacks')
                                    input.hidden(name='status' value=ext.status)
                                    div.panel-heading
                                      h4 Ton retour d'expérience
                                      if ext.status == 'denied'
                                        span.badge(style='background-color: #E33831')= 'À corriger'
                                        i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer", ext_id=ext._id)
                                      else if ext.status == 'corrected'
                                        span.badge(style='background-color: #FF800E')= 'Corrigé'
                                        i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer", ext_id=ext._id)
                                      else if ext.status == 'confirmed'
                                        span.badge(style='background-color: #113A20')= 'Confirmé par l\'organisme'
                                        i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer", ext_id=ext._id)
                                      else if ext.status == 'pending'
                                        span.badge(style='background-color: #FF800E')= 'En attente de l\'organisme'
                                        i.fa.fa-2x.fa-pencil.edit(style="cursor: pointer", ext_id=ext._id)
                                    div.panel-body
                                      each question, q_I in ext.student_questions
                                        div.panel.panel-warning
                                          div.panel-heading
                                            h6= question 
                                          div.panel-body
                                            if ((ext.status == 'denied') || (ext.status == 'corrected') || (ext.status == 'pending') || (ext.status == 'confirmed'))
                                              h6.answer_to_edit #{ext.student_answers[q_I]}
                                            else
                                              h6 #{ext.student_answers[q_I]}
                                      div.submit-button
                              if ext.organism_questions.length && ext.organism_answers.length
                                h4 <b>Les retours de l'organisme</b>
                                each question, question_i in ext.organism_questions
                                  div.panel.panel-warning
                                    div.panel-heading
                                      h6= question
                                    div.panel-body
                                      h6= ext.organism_answers[question_i]
                              else
                                h4 <b>En attente des retours de l'organisme...</b>
                            div.modal-footer
                                a.btn.btn-default(data-dismiss='modal') Fermer
          .col-md-4.col-md-offset-2
            .page-header
              h3 Ajoutées par mes professeurs
              h5 Les engagements que mes professeurs m'ont ajouté et validé
              h3
              #offers-list.no-side-padding
                ul.list-group.list-opportunity
                  if volunteer.manuals
                    if volunteer.manuals.length
                      each man, man_i in volunteer.manuals
                        li.list-group-item.list-extra-item(id= man._id)
                          .panel.panel-default
                            .panel-heading
                              div.media-left.media-top
                                a(href='profile')
                                  img.media-object.little-img(src='/images/clouds.jpg')
                              div.media-body
                                h4.media-heading <b>#{man.admin_name}</b>
                                if (man.added)
                                  h6 <small>ajouté le</small> #{(new Date(man.added)).toLocaleDateString()}
                            .panel-body
                              h6.inline
                                i.fa.fa-info
                                p.inline= man.description
                              if man.hours_done
                                h4
                                  if man.hours_done
                                    span.badge(style='background-color: #113A20')= man.hours_done + ' heures réalisées '

block footscript
  script(src='/javascripts/edit-password.js')
  script(src='/bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.js')

  //Modal bootstrap
  script(type='text/javascript').
    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus();
    });
  script(type='text/javascript').
    'use strict';
    $(document).ready(function(){
      var clients = !{JSON.stringify(client_schools)};
      $('#notificationModal').modal('show');
      $('.edit-form').submit(function(event){
        console.log('Submit an edit-form');
        console.log('$(this).attr("id) : ' + $(this).attr('id'))
        event.preventDefault();
        const form_datas = $(this).serializeArray();
        let datas = {};
        const modal = $(this).closest('.modal');
        console.log('form_datas : ' + JSON.stringify(form_datas));
        if ($(this).attr('id') == 'phone-edit-form'){
          console.log('The edit-form submit is a phone one');
          datas.phone = form_datas[0].value;
          $.post('/edit-profile', datas)
          .done(function(data){
            modal.modal('toggle');
            $('#edit-alert-success').removeClass('hidden');
            $('#edit-alert-success').html(' Numéro de téléphone modifié avec succès pour : ' + data.newPhone);
            $('#phone').html('' + data.newPhone);
          })
          .fail(function(data){
            modal.modal('toggle');
            $('#edit-alert-danger').removeClass('hidden');
            $('#edit-alert-danger').html(' ' + data.responseJSON.error);
            console.log(data.error);
          })
        } else if ($(this).attr('id') == 'school-edit-form'){
          console.log('The edit-form submit is a school one');
          datas.school_name = form_datas[0].value;
          if (form_datas[1]){
            datas.classe = form_datas[1].value;
          }
          $.post('/edit-profile', datas)
          .done(function(data){
            modal.modal('toggle');
            $('#edit-alert-success').removeClass('hidden');
            $('#edit-alert-success').html(' Établissement scolaire modifié avec succès pour : ' + data.newSchool);
            $('.school_name').html('' + data.newSchool);
            $('#add_a_school').addClass('hidden');
          })
          .fail(function(data){
            modal.modal('toggle');
            $('#edit-alert-danger').removeClass('hidden');
            $('#edit-alert-danger').html(' ' + data.responseJSON.error);
            console.log(data.error);
          })
        }
      })
      $('#share_modal').on('shown.bs.modal', function () {
        var input = $('#share_link');
        input.attr('value', window.location.host+'/share/001'+input.attr('volunteer')); 
        input.focus();
        input.select();
      });
      $('#school_name').change(function(){
        $('#classes_dropdown').addClass('hidden');
        $('.client_classes_item').addClass('hidden');
        $('.client_classes_item').removeAttr('name');
        console.info('Admin changed');
        var school = $('#school_name').val();
        var school_index = clients.map(function(c){return c.name;}).indexOf(school);
        if (school_index != -1){
          var classes_number = clients[school_index].classes.length;
          if(classes_number>0){
            var client_selected_id = clients[school_index].id;
            $('#classes_dropdown').removeClass('hidden');
            $('#'+client_selected_id).removeClass('hidden');
            $('#'+client_selected_id).attr('name', 'classe');
            console.info('Admin changed and this is a client school');
          }
        }
      });

      $('.absenceNotificationButton').click(function(){
        const div_id = $(this).attr('id');
        $('.'+div_id).removeClass('hidden');
      });

      $('.notYetNotificationButton').click(function(){
        let datas = {};
        if ($(this).attr('finished') == 'yes') {
          datas.finished = 'yes'
        }
        const modal = $(this).closest('.modal');
        modal.modal('toggle');
        $.post('/volunteer/notyet/'+$(this).attr('lt_id'), datas)
        .done(function(data){
          console.info('Not Yet POST success');
        })
      });

      $('.notificationCorrection').click(function(){
        $('#notificationCorrection').removeClass('hidden');
      });

      if (env == 'prod') {
        console.info('IN AMPLITUDE');
        var event_props = {};
        amplitude.getInstance().logEvent('v_visit_dashboard');
        $('.edit_extra_student_notification_form').submit(function(){
          event_props.type = 'extra';
          amplitude.getInstance().logEvent('v_correct_opp', event_props);
        });
        $('.event_absence_modal_form').submit(function(){
          amplitude.getInstance().logEvent('v_absence_event');
        });
        $('.activity_unsubscribe_form').submit(function(){
          event_props.type = 'event';
          amplitude.getInstance().logEvent('v_unsubscribe_opp', event_props);
        });
        $('.longterm_unsubscribe_form').submit(function(){
          event_props.type = 'longterm';
          amplitude.getInstance().logEvent('v_unsubscribe_opp', event_props);
        });
        $('.event_hours_pending_modal_form').submit(function(){
          event_props.type = 'event';
          amplitude.getInstance().logEvent('v_hourspending_opp', event_props);
        });
        $('.addLTHoursForm').submit(function(){
          event_props.type = 'longterm';
          amplitude.getInstance().logEvent('v_hourspending_opp', event_props);
        });
      }

      $(function () {
        $('[data-toggle="tooltip"]').tooltip({container: 'body'})
      })

      $('.edit').click(function(){
        const ext_id = $(this).attr('ext_id');
        $('.edit').removeClass('fa').removeClass('fa-pencil');
        $('.answer_to_edit').each(function(index){
          $(this).html("<p>Correction de la réponse</p><textarea rows='4' name='new_response'>"+$(this).text()+"</textarea>");
        });
        $('.submit-button').html("<input class='hidden' name='url' value="+window.location.pathname+"></input><input class='hidden' name='ext_id' value="+ext_id+"></input><input type='submit' value='Envoyer les corrections' class='btn btn-warning'></input>");
      });

    });