doctype html
html
  head
    include head
  body(style='background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;')
    // HIDDEN PREHEADER TEXT
    div(style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;")
      | Bienvenue chez Simplyk
    table(border='0', cellpadding='0', cellspacing='0', width='100%')
      // LOGO
      tr
        td(bgcolor='#FFA73B', align='center')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='center', valign='top', width='600')
          table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px;')
            tr
              td(align='center', valign='top', style='padding: 40px 10px 40px 10px;')
                a(href='http://platform.simplyk.org', target='_blank')
                  img(alt='Logo', src='http://simplyk.org/images/simplyk_log_text_v2.png', width='80px', height='80px', style="display: block; width: 80px; max-width: 80; min-width: 80px; font-family: 'Lato', Helvetica, Arial, sans-serif; color: #ffffff; font-size: 18px;", border='0')
          //if (gte mso 9)|(IE)
      // HERO
      tr
        td(bgcolor='#FFA73B', align='center', style='padding: 0px 10px 0px 10px;')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='center', valign='top', width='600')
          table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px;')
            tr
              td(bgcolor='#ffffff', align='center', valign='top', style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;")
                h1(style='font-size: 48px; font-weight: 400; margin: 0;') #{title}
          //if (gte mso 9)|(IE)
      // COPY BLOCK
      tr
        td(bgcolor='#f4f4f4', align='center', style='padding: 0px 10px 0px 10px;')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='center', valign='top', width='600')
          table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px;')
            // COPY
            tr
              td(bgcolor='#ffffff', align='left', style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
                if (gif)
                  img(align='center', src=gif, style='max-width: 50%; display:block; margin-left: auto; margin-right: auto; margin-bottom: 20px')
                if (typeof subtitle == 'string')
                  p(style='margin: 0;') #{subtitle}
                else if (typeof subtitle == 'object')
                  each sub, ind in subtitle
                    p(style='margin: 0;') #{sub}

            // BULLETPROOF BUTTON
            tr
              td(bgcolor='#ffffff', align='left')
                table(width='100%', border='0', cellspacing='0', cellpadding='0')
                  tr
                    td(bgcolor='#ffffff', align='center', style='padding: 20px 30px 60px 30px;')
                      table(border='0', cellspacing='0', cellpadding='0')
                        tr
                          td(align='center', style='border-radius: 3px;', bgcolor='#FFA73B')
                            a(href=button.link, target='_blank', style='font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #FFA73B; display: inline-block;') #{button.text}
            if (after_button)
              tr
                td(bgcolor='#ffffff', align='left', style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
                  if (typeof after_button == 'string')
                    p(style='margin: 0;') #{after_button}
                  else if (typeof after_button == 'object')
                    each sub, ind in after_button
                      p(style='margin: 0;') #{sub}
            // COPY
            if type == 'verify'
              tr
                td(bgcolor='#ffffff', align='left', style="padding: 0px 30px 0px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
                  p(style='margin: 0;') Si cela ne marche pas, copie-colle le lien suivant dans ton navigateur Internet:
              // COPY
              tr
                td(bgcolor='#ffffff', align='left', style="padding: 20px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
                  p(style='margin: 0;')
                    a(href=button.link, target='_blank', style='color: #FFA73B;')= button.link
              // COPY
            tr
              td(bgcolor='#ffffff', align='left', style="padding: 0px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
                p(style='margin: 0;')
                  | Si tu as une quelconque question, envoies-nous un courriel à francois@simplyk.org (ou par téléphone au 514 570 6926) — on sera toujours content de t'aider.
            // COPY
            tr
              td(bgcolor='#ffffff', align='left', style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
                p(style='margin: 0;')
                  | À plus,
                  br
                  | François de Simplyk
          //if (gte mso 9)|(IE)
      // SUPPORT CALLOUT
      tr
        td(bgcolor='#f4f4f4', align='center', style='padding: 30px 10px 0px 10px;')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='center', valign='top', width='600')
          table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px;')
            // HEADLINE
            tr
              td(bgcolor='#FFECD1', align='center', style="padding: 30px 30px 30px 30px; border-radius: 4px 4px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;")
                h2(style='font-size: 20px; font-weight: 400; color: #111111; margin: 0;') Besoin d'aide ?
                p(style='margin: 0;')
                  a(href='mailto:francois@simplyk.org?Subject=Besoin%20en%informations', target='_top', style='color: #FFA73B;') Envoie un courriel à francois@simplyk.org !
          //if (gte mso 9)|(IE)
      // FOOTER
      tr
        td(bgcolor='#f4f4f4', align='center', style='padding: 0px 10px 0px 10px;')
          //if (gte mso 9)|(IE)
            table(align='center', border='0', cellspacing='0', cellpadding='0', width='600')
              tr
                td(align='center', valign='top', width='600')
          table(border='0', cellpadding='0', cellspacing='0', width='100%', style='max-width: 600px;')
            // NAVIGATION
            tr
              td(bgcolor='#f4f4f4', align='left', style="padding: 30px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;")
                p(style='margin: 0;')
                  a(href='http://platform.simplyk.org/volunteer/profile', target='_blank', style='color: #111111; font-weight: 700;') Mon tableau de bord
                  |  -
                  a(href='http://platform.simplyk.org/volunteer/map', target='_blank', style='color: #111111; font-weight: 700;') Carte des opportunités
            // PERMISSION REMINDER
            tr
              td(bgcolor='#f4f4f4', align='left', style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;")
                p(style='margin: 0;')
                  | Vous recevez ce courriel car vous avez créé un compte sur notre plateforme. Si cela vous semble bizarre, 
                  a(href='http://platform.simplyk.org', target='_blank', style='color: #111111; font-weight: 700;') vérifiez cela dans votre navigateur
                  | .
            // UNSUBSCRIBE
            //
              <tr>
              <td bgcolor="#f4f4f4" align="left" style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;" >
              <p style="margin: 0;">If these emails get annoying, please feel free to <a href="http://platform.simplyk.org" target="_blank" style="color: #111111; font-weight: 700;">unsubscribe</a>.</p>
              </td>
              </tr>
            // ADDRESS
            tr
              td(bgcolor='#f4f4f4', align='left', style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;")
                p(style='margin: 0;') Simplyk - 1250 Rue Guy - Montréal, QC - H3G 1S8
          //if (gte mso 9)|(IE)
